@charset "IBM866";
/*resets*/
/* line 5, ../scss/common.scss */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

/* line 8, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../scss/common.scss */
body {
  font-family: Tahoma,Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  background: #f3f3f3;
  line-height: 1;
  color: #373737;
}

/* line 19, ../scss/common.scss */
a img, fieldset {
  border: none;
}

/* line 22, ../scss/common.scss */
a {
  text-decoration: none;
}

/* line 25, ../scss/common.scss */
ul, ol {
  list-style: none;
}

/* line 28, ../scss/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 32, ../scss/common.scss */
button {
  cursor: pointer;
}

/* line 35, ../scss/common.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 39, ../scss/common.scss */
i, em {
  font-style: normal;
}

/* line 42, ../scss/common.scss */
.title {
  position: relative;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: normal;
}
/* line 48, ../scss/common.scss */
.title .arrs-nav {
  top: 10px;
  right: 1px;
}

/* line 53, ../scss/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/* line 59, ../scss/common.scss */
.wrap {
  position: relative;
  width: 987px;
  margin: 2px auto 275px;
  padding-top: 167px;
  background: #fff;
  -webkit-box-shadow: rgba(178, 178, 178, 0.5) 0px 15px 30px;
  -moz-box-shadow: rgba(178, 178, 178, 0.5) 0px 15px 30px;
  box-shadow: rgba(178, 178, 178, 0.5) 0px 15px 30px;
}

/* line 68, ../scss/common.scss */
.shadow:after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 10px;
  width: 245px;
  height: 20px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

/*top-nav*/
/* line 84, ../scss/common.scss */
.top-nav {
  overflow: hidden;
  height: 27px;
  line-height: 27px;
  background: #fefefe;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#fefefe, #eeeeee);
  background-image: -moz-linear-gradient(#fefefe, #eeeeee);
  background-image: -o-linear-gradient(#fefefe, #eeeeee);
  background-image: linear-gradient(#fefefe, #eeeeee);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 11px;
}
/* line 92, ../scss/common.scss */
.top-nav ul {
  float: left;
  padding-left: 25px;
  overflow: hidden;
}
/* line 96, ../scss/common.scss */
.top-nav ul li {
  float: left;
  margin-right: 20px;
}
/* line 100, ../scss/common.scss */
.top-nav ul a {
  color: #363636;
}

/* line 105, ../scss/common.scss */
.enter {
  float: right;
  padding-right: 20px;
}
/* line 108, ../scss/common.scss */
.enter a, .enter span {
  float: left;
  margin-right: 10px;
}
/* line 112, ../scss/common.scss */
.enter a {
  color: #5876a6;
}
/* line 115, ../scss/common.scss */
.enter span {
  color: #727272;
}
/* line 118, ../scss/common.scss */
.enter .enter__fb, .enter .enter__tw {
  display: inline-block;
  margin: 7px 5px 0 0;
}
/* line 122, ../scss/common.scss */
.enter .enter__fb {
  background: url('../img/icons-s977c957dc9.png') 0 -1337px no-repeat;
  width: 12px;
  height: 13px;
}
/* line 125, ../scss/common.scss */
.enter .enter__tw {
  background: url('../img/icons-s977c957dc9.png') 0 -1425px no-repeat;
  width: 12px;
  height: 13px;
}

/*header*/
/* line 130, ../scss/common.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 987px;
  height: 167px;
  background: url(../img/head-bg.jpg) repeat-x 0 27px;
  z-index: 10;
}

/*header live*/
/* line 140, ../scss/common.scss */
.live {
  position: absolute;
  top: 52px;
  right: 0;
  width: 360px;
  height: 56px;
  font-size: 10px;
}
/* line 147, ../scss/common.scss */
.live button {
  position: absolute;
  top: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #5a5a5a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: none;
}
/* line 155, ../scss/common.scss */
.live button i {
  position: absolute;
  top: 3px;
}
/* line 159, ../scss/common.scss */
.live button:hover {
  border: none;
  background: #1f9df1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWRmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNmNiOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9df1), color-stop(100%, #3a6cb9));
  background-image: -webkit-linear-gradient(#1f9df1, #3a6cb9);
  background-image: -moz-linear-gradient(#1f9df1, #3a6cb9);
  background-image: -o-linear-gradient(#1f9df1, #3a6cb9);
  background-image: linear-gradient(#1f9df1, #3a6cb9);
}
/* line 165, ../scss/common.scss */
.live .live__prev {
  right: 42px;
}
/* line 167, ../scss/common.scss */
.live .live__prev i {
  left: 4px;
  background: url('../img/icons-s977c957dc9.png') 0 -2219px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 172, ../scss/common.scss */
.live .live__prev:hover i {
  left: 5px;
  top: 4px;
  background: url('../img/icons-s977c957dc9.png') 0 -2328px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 179, ../scss/common.scss */
.live .live__next {
  right: 20px;
}
/* line 181, ../scss/common.scss */
.live .live__next i {
  left: 5px;
  background: url('../img/icons-s977c957dc9.png') 0 -2148px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 186, ../scss/common.scss */
.live .live__next:hover i {
  left: 6px;
  top: 4px;
  background: url('../img/icons-s977c957dc9.png') 0 -2483px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 194, ../scss/common.scss */
.live .disabled:hover {
  background: none;
  border: 1px solid #5a5a5a;
  cursor: default;
}
/* line 198, ../scss/common.scss */
.live .disabled:hover .live__prev-arr {
  top: 3px;
  left: 4px;
  background: url('../img/icons-s977c957dc9.png') 0 -2219px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 203, ../scss/common.scss */
.live .disabled:hover .live__next-arr {
  top: 3px;
  left: 5px;
  background: url('../img/icons-s977c957dc9.png') 0 -2148px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 210, ../scss/common.scss */
.live .caroufredsel_wrapper {
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 1px inset;
}

/* line 217, ../scss/common.scss */
.live__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 285px;
  height: 64px;
}

/* line 224, ../scss/common.scss */
.live__item {
  float: left;
  width: 272px;
  padding: 8px 0 0 13px;
  overflow: hidden;
}

/* line 230, ../scss/common.scss */
.live__flag {
  float: left;
  margin: 4px 9px 0 0;
  background: url('../img/icons-s977c957dc9.png') 0 -1764px no-repeat;
  width: 16px;
  height: 9px;
}

/* line 235, ../scss/common.scss */
.live__link {
  float: left;
  width: 90px;
}
/* line 238, ../scss/common.scss */
.live__link a {
  font-weight: bold;
  color: #9c9c9c;
  line-height: 1.4;
}

/* line 244, ../scss/common.scss */
.live__teams {
  float: left;
  width: 85px;
  height: 40px;
  padding-right: 10px;
  border-right: 1px solid #4b4b4b;
}
/* line 250, ../scss/common.scss */
.live__teams span {
  display: block;
  margin-top: 2px;
  padding-bottom: 12px;
  color: #fff;
}
/* line 255, ../scss/common.scss */
.live__teams span i {
  float: right;
  font-weight: bold;
  color: #d0d0d0;
}

/* line 262, ../scss/common.scss */
.live__time {
  float: left;
  width: 45px;
  padding: 2px 0 0 12px;
}
/* line 266, ../scss/common.scss */
.live__time span {
  display: block;
  margin-bottom: 10px;
  color: #9c9c9c;
}

/*logo*/
/* line 273, ../scss/common.scss */
.logo {
  position: absolute;
  top: 43px;
  left: 22px;
  background: url('../img/icons-s977c957dc9.png') 0 0 no-repeat;
  width: 152px;
  height: 74px;
}
/* line 278, ../scss/common.scss */
.logo a {
  display: block;
  width: 152px;
  height: 74px;
  text-indent: -2000em;
}

/* line 285, ../scss/common.scss */
.site-title {
  position: absolute;
  top: 66px;
  left: 206px;
  background: url('../img/icons-s977c957dc9.png') 0 -441px no-repeat;
  width: 158px;
  height: 32px;
}

/*search*/
/* line 292, ../scss/common.scss */
.search {
  display: none;
  position: absolute;
  top: -5px;
  right: 8px;
  width: 259px;
  padding: 13px;
  background: #fff;
  z-index: 200;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  overflow: hidden;
}
/* line 303, ../scss/common.scss */
.search .btn-white {
  float: right;
  width: 53px;
  height: 27px;
  line-height: 1;
  background: #fbfbfb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -moz-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -o-linear-gradient(#fbfbfb, #ebebeb);
  background-image: linear-gradient(#fbfbfb, #ebebeb);
  cursor: pointer;
}

/* line 313, ../scss/common.scss */
.serch__txt {
  float: left;
  width: 173px;
  height: 25px;
  padding: 0 10px;
  line-height: 25px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #dadada 0px 1px 5px inset;
  -moz-box-shadow: #dadada 0px 1px 5px inset;
  box-shadow: #dadada 0px 1px 5px inset;
}
/* line 322, ../scss/common.scss */
.serch__txt:focus {
  border: 1px solid #34b6ff;
  -webkit-box-shadow: #34b6ff 0px 0px 5px, #dadada 0px 1px 5px inset;
  -moz-box-shadow: #34b6ff 0px 0px 5px, #dadada 0px 1px 5px inset;
  box-shadow: #34b6ff 0px 0px 5px, #dadada 0px 1px 5px inset;
}

/*go top*/
/* line 328, ../scss/common.scss */
.go-top {
  display: none;
  position: fixed;
  top: 220px;
  left: 50%;
  margin-left: 480px;
  width: 21px;
  height: 21px;
  background: #fff;
  border: 3px solid #ffd200;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(178, 178, 178, 0.5) 0px 5px 20px;
  -moz-box-shadow: rgba(178, 178, 178, 0.5) 0px 5px 20px;
  box-shadow: rgba(178, 178, 178, 0.5) 0px 5px 20px;
  z-index: 50;
  cursor: pointer;
}
/* line 342, ../scss/common.scss */
.go-top i {
  position: absolute;
  top: 8px;
  left: 7px;
  background: url('../img/icons-s977c957dc9.png') 0 -2275px no-repeat;
  width: 7px;
  height: 4px;
}

/*nav*/
/* line 350, ../scss/common.scss */
.nav {
  position: absolute;
  left: 8px;
  bottom: 0;
  height: 40px;
}

/* line 356, ../scss/common.scss */
.nav-list {
  position: relative;
  z-index: 10;
}
/* line 359, ../scss/common.scss */
.nav-list .nav-list__item {
  float: left;
}
/* line 362, ../scss/common.scss */
.nav-list .nav-list__item:hover .nav-list__title {
  background: #fff;
  margin-left: -1px;
}
/* line 365, ../scss/common.scss */
.nav-list .nav-list__item:hover .nav-list__title h3 {
  padding: 16px 23px 12px 16px;
  color: #000;
}
/* line 369, ../scss/common.scss */
.nav-list .nav-list__item:hover .nav-list__title i {
  background: url('../img/icons-s977c957dc9.png') 0 -2531px no-repeat;
  width: 3px;
  height: 2px;
}
/* line 372, ../scss/common.scss */
.nav-list .nav-list__item:hover .nav-list__title em {
  display: none;
}
/* line 375, ../scss/common.scss */
.nav-list .nav-list__item:hover .nav-list__title.active {
  top: 0;
}
/* line 377, ../scss/common.scss */
.nav-list .nav-list__item:hover .nav-list__title.active h3 {
  padding: 16px 23px 12px 16px;
  margin: 0;
}
/* line 385, ../scss/common.scss */
.nav-list .nav-list__title {
  position: relative;
  display: block;
  font-family: Arial,Tahoma,sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  z-index: 20;
}
/* line 393, ../scss/common.scss */
.nav-list .nav-list__title h3 {
  position: relative;
  padding: 16px 23px 12px 15px;
  font-size: 12px;
}
/* line 398, ../scss/common.scss */
.nav-list .nav-list__title i {
  position: absolute;
  bottom: 17px;
  right: 14px;
  background: url('../img/icons-s977c957dc9.png') 0 -2519px no-repeat;
  width: 3px;
  height: 2px;
}
/* line 404, ../scss/common.scss */
.nav-list .nav-list__title em {
  position: absolute;
  bottom: 9px;
  right: 0;
  width: 1px;
  height: 19px;
  background: #575757;
}
/* line 412, ../scss/common.scss */
.nav-list .nav-list__title.active {
  top: 5px;
}
/* line 414, ../scss/common.scss */
.nav-list .nav-list__title.active h3 {
  padding: 11px 18px 12px 10px;
  margin: 0 5px;
  background: #fff;
  color: #000;
}

/* line 423, ../scss/common.scss */
.nav-sub {
  display: none;
  position: absolute;
  top: 40px;
  left: -1px;
  width: 940px;
  padding: 20px 16px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  z-index: 10;
}
/* line 433, ../scss/common.scss */
.nav-sub ul {
  float: left;
}
/* line 435, ../scss/common.scss */
.nav-sub ul li {
  margin-bottom: 10px;
  font-size: 12px;
}
/* line 439, ../scss/common.scss */
.nav-sub ul img {
  padding-top: 1px;
  margin-right: 7px;
}
/* line 443, ../scss/common.scss */
.nav-sub ul a {
  font-size: 11px;
  color: #5e5e5e;
}
/* line 446, ../scss/common.scss */
.nav-sub ul a:hover {
  color: #000;
  text-decoration: underline;
}
/* line 452, ../scss/common.scss */
.nav-sub .nav-sub__title {
  margin-bottom: 20px;
  font-weight: bold;
}

/* line 457, ../scss/common.scss */
.nav-sub__tournirs {
  width: 190px;
}

/* line 460, ../scss/common.scss */
.nav-sub__tables {
  width: 115px;
}

/* line 463, ../scss/common.scss */
.nav-sub__counties {
  float: left;
  padding: 0 0 0 40px;
  margin-right: 40px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
/* line 469, ../scss/common.scss */
.nav-sub__counties ul {
  width: 135px;
}
/* line 472, ../scss/common.scss */
.nav-sub__counties .nav-sub__counties-3 {
  width: 120px;
}

/* line 476, ../scss/common.scss */
.nav-sub__divider {
  width: 80px;
  height: 12px;
  border-bottom: 1px dotted #c6d0dc;
}

/* line 481, ../scss/common.scss */
.nav-sub__counties-2, .nav-sub__mt {
  margin-top: 32px;
}

/* line 484, ../scss/common.scss */
.nav-sub__clubs {
  margin-top: 25px;
}
/* line 486, ../scss/common.scss */
.nav-sub__clubs a {
  color: #000;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px dotted #000;
}

/*footer-nav*/
/* line 506, ../scss/common.scss */
.footer-nav {
  margin-top: 35px;
  padding: 35px 0 30px 65px;
  background: #fbfbfb;
  overflow: hidden;
}
/* line 511, ../scss/common.scss */
.footer-nav ul {
  float: left;
}
/* line 513, ../scss/common.scss */
.footer-nav ul li {
  margin-bottom: 10px;
}
/* line 515, ../scss/common.scss */
.footer-nav ul li a {
  font-size: 10px;
  color: #5e5e5e;
}
/* line 518, ../scss/common.scss */
.footer-nav ul li a:hover {
  color: #000;
  text-decoration: underline;
}
/* line 525, ../scss/common.scss */
.footer-nav .footer-nav__list-1 {
  width: 160px;
}
/* line 528, ../scss/common.scss */
.footer-nav .footer-nav__list-2 {
  width: 100px;
  padding-top: 23px;
  border-right: 1px solid #e0e0e0;
}
/* line 533, ../scss/common.scss */
.footer-nav .footer-nav__list-3 {
  width: 200px;
  padding-left: 50px;
  border-right: 1px solid #e0e0e0;
}
/* line 538, ../scss/common.scss */
.footer-nav .footer-nav__list-4 {
  width: 170px;
  padding-left: 60px;
}
/* line 542, ../scss/common.scss */
.footer-nav .footer-nav__list-5 {
  width: 150px;
}
/* line 545, ../scss/common.scss */
.footer-nav .footer-nav__list-6 {
  margin-top: 25px;
}

/*footer*/
/* line 550, ../scss/common.scss */
.footer {
  position: relative;
  height: 65px;
  padding: 30px 20px 0 30px;
}

/* line 556, ../scss/common.scss */
.copyright, .footer__nav, .footer__social,
.footer__idea {
  float: left;
  margin-right: 70px;
}

/* line 560, ../scss/common.scss */
.copyright {
  font-size: 11px;
  color: #000;
}

/* line 565, ../scss/common.scss */
.footer__nav li {
  margin-bottom: 5px;
}
/* line 568, ../scss/common.scss */
.footer__nav a {
  font-size: 11px;
  color: #3b6ab7;
}
/* line 571, ../scss/common.scss */
.footer__nav a:hover {
  text-decoration: underline;
}

/* line 577, ../scss/common.scss */
.footer__social li {
  float: left;
  margin-right: 4px;
}
/* line 580, ../scss/common.scss */
.footer__social li a {
  display: block;
}

/* line 585, ../scss/common.scss */
.footer__social-fb {
  background: url('../img/icons-s977c957dc9.png') 0 -1079px no-repeat;
  width: 22px;
  height: 21px;
}

/* line 588, ../scss/common.scss */
.footer__social-vk {
  background: url('../img/icons-s977c957dc9.png') 0 -880px no-repeat;
  width: 22px;
  height: 21px;
}

/* line 591, ../scss/common.scss */
.footer__social-tw {
  background: url('../img/icons-s977c957dc9.png') 0 -911px no-repeat;
  width: 22px;
  height: 21px;
}

/* line 594, ../scss/common.scss */
.footer__social-gg {
  background: url('../img/icons-s977c957dc9.png') 0 -750px no-repeat;
  width: 22px;
  height: 21px;
}

/* line 597, ../scss/common.scss */
.footer__social-ok {
  background: url('../img/icons-s977c957dc9.png') 0 -781px no-repeat;
  width: 22px;
  height: 21px;
}

/* line 600, ../scss/common.scss */
.footer__developer {
  float: right;
  position: relative;
  padding-left: 95px;
  font-size: 11px;
}
/* line 605, ../scss/common.scss */
.footer__developer i {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/icons-s977c957dc9.png') 0 -976px no-repeat;
  width: 87px;
  height: 25px;
}
/* line 611, ../scss/common.scss */
.footer__developer span {
  display: block;
  margin-bottom: 2px;
  color: #000;
}
/* line 616, ../scss/common.scss */
.footer__developer a {
  color: #3b6ab7;
}
/* line 618, ../scss/common.scss */
.footer__developer a:hover {
  text-decoration: underline;
}
/* line 622, ../scss/common.scss */
.footer__developer em {
  font-size: 10px;
  color: #8b9191;
}

/*counters*/
/* line 628, ../scss/common.scss */
.counters {
  position: absolute;
  left: 306px;
  bottom: -75px;
}
/* line 632, ../scss/common.scss */
.counters li {
  float: left;
  margin-right: 12px;
}

/*actual*/
/* line 638, ../scss/common.scss */
.actual, .breadcrumbs {
  position: relative;
  padding: 12px 0 24px 0;
  height: 19px;
  line-height: 19px;
  font-family: Verdana,Tahoma,sans-serif;
  font-size: 11px;
}
/* line 646, ../scss/common.scss */
.actual span, .breadcrumbs span {
  position: relative;
  float: left;
  margin-right: 15px;
  color: #fff;
}
/* line 651, ../scss/common.scss */
.actual span i, .breadcrumbs span i {
  position: absolute;
  top: 0;
  right: -5px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
}
/* line 660, ../scss/common.scss */
.actual ul, .breadcrumbs ul {
  float: left;
}
/* line 663, ../scss/common.scss */
.actual li, .breadcrumbs li {
  float: left;
}
/* line 666, ../scss/common.scss */
.actual a, .breadcrumbs a {
  color: #676767;
}
/* line 668, ../scss/common.scss */
.actual a:hover, .breadcrumbs a:hover {
  text-decoration: underline;
}
/* line 672, ../scss/common.scss */
.actual button, .breadcrumbs button {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 66px;
  height: 20px;
  padding: 0 7px 0 21px;
  line-height: 1;
}
/* line 680, ../scss/common.scss */
.actual button i, .breadcrumbs button i {
  top: 3px;
  left: 5px;
  background: url('../img/icons-s977c957dc9.png') 0 -1494px no-repeat;
  width: 13px;
  height: 13px;
}
/* line 686, ../scss/common.scss */
.actual button:hover i, .breadcrumbs button:hover i {
  background: url('../img/icons-s977c957dc9.png') 0 -1634px no-repeat;
  width: 13px;
  height: 13px;
}
/* line 691, ../scss/common.scss */
.actual button:active i, .breadcrumbs button:active i {
  background: url('../img/icons-s977c957dc9.png') 0 -1494px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 698, ../scss/common.scss */
.actual li {
  margin-right: 30px;
}
/* line 701, ../scss/common.scss */
.actual span {
  padding: 0 15px 0 10px;
  border-left: 4px solid #2fba0a;
  background: #3cc817;
}
/* line 705, ../scss/common.scss */
.actual span i {
  border-top: 19px solid #3cc817;
}
/* line 710, ../scss/common.scss */
.actual a h3 {
  font-size: 11px;
  font-weight: normal;
}

/* line 717, ../scss/common.scss */
.breadcrumbs li {
  margin-right: 14px;
}
/* line 721, ../scss/common.scss */
.breadcrumbs li:first-child a:after {
  content: "";
}
/* line 727, ../scss/common.scss */
.breadcrumbs span {
  width: 20px;
  height: 19px;
  border-left: 4px solid #0a94e3;
  background: #3bb8ff;
}
/* line 732, ../scss/common.scss */
.breadcrumbs span i {
  border-top: 19px solid #3bb8ff;
}
/* line 735, ../scss/common.scss */
.breadcrumbs span em {
  position: absolute;
  top: 6px;
  left: 6px;
  background: url('../img/icons-s977c957dc9.png') 0 -2385px no-repeat;
  width: 8px;
  height: 7px;
}
/* line 742, ../scss/common.scss */
.breadcrumbs a {
  position: relative;
}
/* line 744, ../scss/common.scss */
.breadcrumbs a:after {
  content: "›";
  position: absolute;
  top: -3px;
  left: -10px;
  color: #acacac;
}

/*buttons*/
/* line 754, ../scss/common.scss */
.btn-white {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  background: #fff;
  color: #676767;
}
/* line 759, ../scss/common.scss */
.btn-white i {
  position: absolute;
}
/* line 762, ../scss/common.scss */
.btn-white:hover {
  border: 1px solid #2593e5;
  border-bottom: 1px solid #0b6ab4;
  background: #1f9df1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWRmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNmNiOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9df1), color-stop(100%, #3a6cb9));
  background-image: -webkit-linear-gradient(#1f9df1, #3a6cb9);
  background-image: -moz-linear-gradient(#1f9df1, #3a6cb9);
  background-image: -o-linear-gradient(#1f9df1, #3a6cb9);
  background-image: linear-gradient(#1f9df1, #3a6cb9);
  -webkit-box-shadow: #cdd8e7 0px 1px 2px;
  -moz-box-shadow: #cdd8e7 0px 1px 2px;
  box-shadow: #cdd8e7 0px 1px 2px;
  color: #fff;
}
/* line 770, ../scss/common.scss */
.btn-white:active {
  border-color: #c8c8c8;
  background: #f1f1f1;
  text-shadow: 0 1px 1px #fefefe;
  -webkit-box-shadow: #cdd8e7 0px 1px 2px inset;
  -moz-box-shadow: #cdd8e7 0px 1px 2px inset;
  box-shadow: #cdd8e7 0px 1px 2px inset;
  color: #939393;
}

/* line 778, ../scss/common.scss */
.btn-white_more {
  position: relative;
  width: 95px;
  height: 18px;
  margin: 20px 0 2px 0;
  padding: 0 0 0 6px;
  line-height: 1;
  text-align: left;
  font-size: 11px;
}
/* line 787, ../scss/common.scss */
.btn-white_more i {
  top: 4px;
  right: 5px;
  background: url('../img/icons-s977c957dc9.png') 0 -2236px no-repeat;
  width: 5px;
  height: 8px;
}
/* line 793, ../scss/common.scss */
.btn-white_more:hover i {
  background: url('../img/icons-s977c957dc9.png') 0 -2289px no-repeat;
  width: 5px;
  height: 8px;
}
/* line 798, ../scss/common.scss */
.btn-white_more:active i {
  background: url('../img/icons-s977c957dc9.png') 0 -2046px no-repeat;
  width: 5px;
  height: 9px;
}

/* line 803, ../scss/common.scss */
.btn-orange {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff2a9;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjJhOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzYmI0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff2a9), color-stop(100%, #f3bb4d));
  background-image: -webkit-linear-gradient(#fff2a9, #f3bb4d);
  background-image: -moz-linear-gradient(#fff2a9, #f3bb4d);
  background-image: -o-linear-gradient(#fff2a9, #f3bb4d);
  background-image: linear-gradient(#fff2a9, #f3bb4d);
  -webkit-box-shadow: lightgrey 0px 1px 2px;
  -moz-box-shadow: lightgrey 0px 1px 2px;
  box-shadow: lightgrey 0px 1px 2px;
  border: 1px solid #ecc361;
  border-bottom: 1px solid #daa230;
  font-size: 9px;
  color: #6d4b0b;
  text-align: center;
  text-shadow: 0 1px 1px #ffebc4;
  font-weight: bold;
}
/* line 815, ../scss/common.scss */
.btn-orange:hover {
  background: #fff7b2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjdiMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5ZDQ1YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff7b2), color-stop(100%, #f9d45a));
  background-image: -webkit-linear-gradient(#fff7b2, #f9d45a);
  background-image: -moz-linear-gradient(#fff7b2, #f9d45a);
  background-image: -o-linear-gradient(#fff7b2, #f9d45a);
  background-image: linear-gradient(#fff7b2, #f9d45a);
  -webkit-box-shadow: lightgrey 0px 1px 2px, #fdea94 0 -1px 1px inset;
  -moz-box-shadow: lightgrey 0px 1px 2px, #fdea94 0 -1px 1px inset;
  box-shadow: lightgrey 0px 1px 2px, #fdea94 0 -1px 1px inset;
}
/* line 820, ../scss/common.scss */
.btn-orange:active {
  background: #fce28f;
  -webkit-box-shadow: #f0c563 0px 1px 2px inset, white 0 1px 1px;
  -moz-box-shadow: #f0c563 0px 1px 2px inset, white 0 1px 1px;
  box-shadow: #f0c563 0px 1px 2px inset, white 0 1px 1px;
}

/* line 825, ../scss/common.scss */
.open {
  right: 7px;
  width: 18px;
  background: #fbfbfb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -moz-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -o-linear-gradient(#fbfbfb, #ebebeb);
  background-image: linear-gradient(#fbfbfb, #ebebeb);
  border: 1px solid #cdcdcd;
  border-bottom: 1px solid #b6b6b6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: lightgrey 0px 1px 2px;
  -moz-box-shadow: lightgrey 0px 1px 2px;
  box-shadow: lightgrey 0px 1px 2px;
}
/* line 834, ../scss/common.scss */
.open i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  background: url('../img/icons-s977c957dc9.png') 0 -1925px no-repeat;
  width: 10px;
  height: 11px;
  vertical-align: top;
}
/* line 843, ../scss/common.scss */
.open:hover i {
  background: url('../img/icons-s977c957dc9.png') 0 -2254px no-repeat;
  width: 10px;
  height: 11px;
}
/* line 848, ../scss/common.scss */
.open:active i {
  background: url('../img/icons-s977c957dc9.png') 0 -2004px no-repeat;
  width: 10px;
  height: 11px;
}
/* line 852, ../scss/common.scss */
.open:hover {
  border: 1px solid #1981cf;
  border-bottom: 1px solid #0b6ab5;
  background: #1f9df1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWRmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNmNiOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9df1), color-stop(100%, #3a6cb9));
  background-image: -webkit-linear-gradient(#1f9df1, #3a6cb9);
  background-image: -moz-linear-gradient(#1f9df1, #3a6cb9);
  background-image: -o-linear-gradient(#1f9df1, #3a6cb9);
  background-image: linear-gradient(#1f9df1, #3a6cb9);
}
/* line 858, ../scss/common.scss */
.open:active {
  background: #f1f1f1;
  border: 1px solid #c8c8c8;
  -webkit-box-shadow: #dfdfdf 0px 1px 1px inset, white 0 1px 1px;
  -moz-box-shadow: #dfdfdf 0px 1px 1px inset, white 0 1px 1px;
  box-shadow: #dfdfdf 0px 1px 1px inset, white 0 1px 1px;
}

/* line 864, ../scss/common.scss */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../img/icons-s977c957dc9.png') 0 -1565px no-repeat;
  width: 14px;
  height: 15px;
  cursor: pointer;
}

/*for sliders*/
/* line 872, ../scss/common.scss */
.items {
  position: absolute;
  width: 20000em;
}

/* line 876, ../scss/common.scss */
.navi {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 190px;
  height: 9px;
}
/* line 882, ../scss/common.scss */
.navi a {
  float: left;
  width: 5px;
  height: 5px;
  margin-right: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  cursor: pointer;
}
/* line 890, ../scss/common.scss */
.navi a:hover {
  border: 1px solid #2284f1;
}
/* line 893, ../scss/common.scss */
.navi a:active {
  padding: 1px;
  border: none;
  background: #3c87d7;
  -webkit-box-shadow: #1a5cb2 0px 1px 2px inset;
  -moz-box-shadow: #1a5cb2 0px 1px 2px inset;
  box-shadow: #1a5cb2 0px 1px 2px inset;
}
/* line 899, ../scss/common.scss */
.navi a span {
  display: none;
}
/* line 903, ../scss/common.scss */
.navi .selected {
  padding: 1px;
  border: none;
  -webkit-box-shadow: #c3dffb 0px 1px 1px;
  -moz-box-shadow: #c3dffb 0px 1px 1px;
  box-shadow: #c3dffb 0px 1px 1px;
  background: #1f9df1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWRmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNmNiYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9df1), color-stop(100%, #3a6cba));
  background-image: -webkit-linear-gradient(#1f9df1, #3a6cba);
  background-image: -moz-linear-gradient(#1f9df1, #3a6cba);
  background-image: -o-linear-gradient(#1f9df1, #3a6cba);
  background-image: linear-gradient(#1f9df1, #3a6cba);
}
/* line 909, ../scss/common.scss */
.navi .selected:hover, .navi .selected:active {
  border: none;
  background: #1f9df1;
  -webkit-box-shadow: #c3dffb 0px 1px 1px;
  -moz-box-shadow: #c3dffb 0px 1px 1px;
  box-shadow: #c3dffb 0px 1px 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWRmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNmNiYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9df1), color-stop(100%, #3a6cba));
  background-image: -webkit-linear-gradient(#1f9df1, #3a6cba);
  background-image: -moz-linear-gradient(#1f9df1, #3a6cba);
  background-image: -o-linear-gradient(#1f9df1, #3a6cba);
  background-image: linear-gradient(#1f9df1, #3a6cba);
  cursor: default;
}

/* line 918, ../scss/common.scss */
.arrs-nav {
  position: absolute;
  width: 46px;
  height: 21px;
}
/* line 922, ../scss/common.scss */
.arrs-nav button {
  position: absolute;
  top: 3px;
  width: 14px;
  height: 15px;
  background: #000;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
}
/* line 930, ../scss/common.scss */
.arrs-nav button i {
  position: absolute;
  top: 4px;
  left: 3px;
}
/* line 935, ../scss/common.scss */
.arrs-nav button:hover {
  background: #1f9df1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWRmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNmNiYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9df1), color-stop(100%, #3a6cba));
  background-image: -webkit-linear-gradient(#1f9df1, #3a6cba);
  background-image: -moz-linear-gradient(#1f9df1, #3a6cba);
  background-image: -o-linear-gradient(#1f9df1, #3a6cba);
  background-image: linear-gradient(#1f9df1, #3a6cba);
  -webkit-box-shadow: #d5f6ff 0px 0px 3px 3px;
  -moz-box-shadow: #d5f6ff 0px 0px 3px 3px;
  box-shadow: #d5f6ff 0px 0px 3px 3px;
}
/* line 940, ../scss/common.scss */
.arrs-nav button:active {
  background: #3c87d7;
  -webkit-box-shadow: #1a5cb2 0px 1px 2px inset;
  -moz-box-shadow: #1a5cb2 0px 1px 2px inset;
  box-shadow: #1a5cb2 0px 1px 2px inset;
}
/* line 945, ../scss/common.scss */
.arrs-nav .arrs-nav__prev {
  left: 3px;
}
/* line 947, ../scss/common.scss */
.arrs-nav .arrs-nav__prev i {
  background: url('../img/icons-s977c957dc9.png') 0 -2419px no-repeat;
  width: 8px;
  height: 7px;
}
/* line 951, ../scss/common.scss */
.arrs-nav .arrs-nav__prev:active i {
  background: url('../img/icons-s977c957dc9.png') 0 -1908px no-repeat;
  width: 8px;
  height: 7px;
}
/* line 956, ../scss/common.scss */
.arrs-nav .arrs-nav__next {
  right: 3px;
}
/* line 958, ../scss/common.scss */
.arrs-nav .arrs-nav__next i {
  background: url('../img/icons-s977c957dc9.png') 0 -2402px no-repeat;
  width: 8px;
  height: 7px;
}
/* line 962, ../scss/common.scss */
.arrs-nav .arrs-nav__next:active i {
  background: url('../img/icons-s977c957dc9.png') 0 -1987px no-repeat;
  width: 8px;
  height: 7px;
}
/* line 967, ../scss/common.scss */
.arrs-nav .disabled {
  background: #d9d9d9;
  cursor: default;
}
/* line 970, ../scss/common.scss */
.arrs-nav .disabled:hover, .arrs-nav .disabled:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #d9d9d9;
}
/* line 973, ../scss/common.scss */
.arrs-nav .disabled:hover .arrs-nav__arr-p, .arrs-nav .disabled:active .arrs-nav__arr-p {
  background: url('../img/icons-s977c957dc9.png') 0 -2419px no-repeat;
  width: 8px;
  height: 7px;
}
/* line 976, ../scss/common.scss */
.arrs-nav .disabled:hover .arrs-nav__arr-n, .arrs-nav .disabled:active .arrs-nav__arr-n {
  background: url('../img/icons-s977c957dc9.png') 0 -2402px no-repeat;
  width: 8px;
  height: 7px;
}

/*play*/
/* line 983, ../scss/common.scss */
.play {
  font-family: Verdana, Tahoma, sans-serif;
}
/* line 985, ../scss/common.scss */
.play .play__item {
  position: relative;
  padding: 8px 0;
  overflow: hidden;
  border-bottom: 1px solid #d8d8d8;
}
/* line 991, ../scss/common.scss */
.play .play__view {
  background: #fffdca;
}
/* line 994, ../scss/common.scss */
.play .play-open {
  background: #fffdca;
}
/* line 997, ../scss/common.scss */
.play .play-open .play__result a {
  display: block;
  height: 16px;
  line-height: 16px;
  background: none;
  border: 1px solid #e8db9b;
  color: #6e6013;
}
/* line 1008, ../scss/common.scss */
.play .play__now .play__time {
  color: #fc5b23;
}
/* line 1011, ../scss/common.scss */
.play .play__now .play__team-1, .play .play__now .play__team-2 {
  color: #000;
}
/* line 1015, ../scss/common.scss */
.play .play__now .play__result b {
  height: 16px;
  line-height: 16px;
  background: none;
  border: 1px solid #fc5b23;
  color: #fc5b23;
}
/* line 1024, ../scss/common.scss */
.play .play__cell {
  position: relative;
  float: left;
  line-height: 18px;
}
/* line 1029, ../scss/common.scss */
.play .play__team-1, .play .play__team-2 {
  padding-top: 2px;
  line-height: 1.3;
}

/* line 1034, ../scss/common.scss */
.play__time {
  width: 32px;
  padding-left: 8px;
  font-size: 10px;
  color: #7e7e7e;
}

/* line 1040, ../scss/common.scss */
.play__team-1 {
  width: 100px;
  padding-right: 10px;
  text-align: right;
  font-size: 11px;
  color: #4e4e4e;
}

/* line 1047, ../scss/common.scss */
.play__result {
  width: 38px;
  text-align: center;
}
/* line 1050, ../scss/common.scss */
.play__result a {
  display: block;
  height: 18px;
  line-height: 18px;
  background: #6a6a6a;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZhNmE2YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6a6a6a), color-stop(100%, #2e2e2e));
  background-image: -webkit-linear-gradient(#6a6a6a, #2e2e2e);
  background-image: -moz-linear-gradient(#6a6a6a, #2e2e2e);
  background-image: -o-linear-gradient(#6a6a6a, #2e2e2e);
  background-image: linear-gradient(#6a6a6a, #2e2e2e);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
}

/* line 1061, ../scss/common.scss */
.play__team-2 {
  width: 100px;
  padding-left: 10px;
  font-size: 11px;
  color: #4e4e4e;
}

/* line 1067, ../scss/common.scss */
.play__winner {
  color: #000;
}

/* line 1070, ../scss/common.scss */
.play__channel {
  width: 56px;
  height: 18px;
}

/* line 1074, ../scss/common.scss */
.play__view {
  display: none;
  padding: 8px;
  border-bottom: 1px solid #D8D8D8;
  overflow: hidden;
}
/* line 1079, ../scss/common.scss */
.play__view ul {
  float: left;
  margin-right: 40px;
}
/* line 1083, ../scss/common.scss */
.play__view a {
  font-size: 11px;
  color: #86732b;
}
/* line 1087, ../scss/common.scss */
.play__view .online {
  color: #ff3600;
  text-decoration: underline;
}

/* line 1093, ../scss/common.scss */
.play__open button {
  position: relative;
  width: 18px;
  height: 18px;
  background: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 1099, ../scss/common.scss */
.play__open button i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -2px;
  background: url('../img/icons-s977c957dc9.png') 0 -2165px no-repeat;
  width: 5px;
  height: 10px;
}
/* line 1106, ../scss/common.scss */
.play__open button:hover {
  border: 1px solid #2593e5;
  border-bottom: 1px solid #0b6ab4;
  background: #1f9df1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWRmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNmNiOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9df1), color-stop(100%, #3a6cb9));
  background-image: -webkit-linear-gradient(#1f9df1, #3a6cb9);
  background-image: -moz-linear-gradient(#1f9df1, #3a6cb9);
  background-image: -o-linear-gradient(#1f9df1, #3a6cb9);
  background-image: linear-gradient(#1f9df1, #3a6cb9);
  -webkit-box-shadow: #cdd8e7 0px 1px 2px;
  -moz-box-shadow: #cdd8e7 0px 1px 2px;
  box-shadow: #cdd8e7 0px 1px 2px;
}
/* line 1112, ../scss/common.scss */
.play__open button:hover i {
  background: url('../img/icons-s977c957dc9.png') 0 -2086px no-repeat;
  width: 5px;
  height: 10px;
}
/* line 1116, ../scss/common.scss */
.play__open button:active, .play__open button.active {
  border-color: #d8c57a;
  background: #efe4a8;
  -webkit-box-shadow: #dfcf89 0px 1px 2px inset;
  -moz-box-shadow: #dfcf89 0px 1px 2px inset;
  box-shadow: #dfcf89 0px 1px 2px inset;
}
/* line 1120, ../scss/common.scss */
.play__open button:active i, .play__open button.active i {
  background: url('../img/icons-s977c957dc9.png') 0 -1888px no-repeat;
  width: 5px;
  height: 10px;
}

/* line 1126, ../scss/common.scss */
.play-group {
  position: relative;
  height: 26px;
  line-height: 26px;
  padding-left: 8px;
  background: #ebeff8;
  border-top: 1px solid #c6d0e7;
  font-size: 12px;
  color: #646e87;
  font-weight: bold;
}
/* line 1136, ../scss/common.scss */
.play-group button {
  position: absolute;
  top: 50%;
  height: 18px;
  margin-top: -9px;
}
/* line 1143, ../scss/common.scss */
.play-group .active i {
  background: url('../img/icons-s977c957dc9.png') 0 -2345px no-repeat;
  width: 10px;
  height: 11px;
}
/* line 1147, ../scss/common.scss */
.play-group .active:hover i {
  background: url('../img/icons-s977c957dc9.png') 0 -2449px no-repeat;
  width: 10px;
  height: 11px;
}
/* line 1152, ../scss/common.scss */
.play-group .active:active i {
  background: url('../img/icons-s977c957dc9.png') 0 -2307px no-repeat;
  width: 10px;
  height: 11px;
}

/*base link*/
/* line 1159, ../scss/common.scss */
.link-comm {
  position: relative;
  padding-left: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #2ea90d;
}
/* line 1165, ../scss/common.scss */
.link-comm i {
  position: absolute;
  top: 2px;
  left: 4px;
  background: url('../img/icons-s977c957dc9.png') 0 -1823px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 1172, ../scss/common.scss */
.link-star {
  position: relative;
  padding-left: 15px;
  font-size: 11px;
  color: #4b4b4b;
}
/* line 1177, ../scss/common.scss */
.link-star i {
  position: absolute;
  top: 1px;
  left: 0;
  background: url('../img/icons-s977c957dc9.png') 0 -1679px no-repeat;
  width: 10px;
  height: 11px;
}

/* line 1184, ../scss/common.scss */
.link-share {
  display: block;
  position: relative;
  top: 2px;
  background: url('../img/icons-s977c957dc9.png') 0 -1700px no-repeat;
  width: 10px;
  height: 11px;
}

/* line 1190, ../scss/common.scss */
.count-views {
  position: relative;
  padding-left: 25px;
  font-size: 10px;
  color: #999;
}
/* line 1195, ../scss/common.scss */
.count-views i {
  position: absolute;
  top: 2px;
  left: 9px;
  background: url('../img/icons-s977c957dc9.png') 0 -1546px no-repeat;
  width: 13px;
  height: 9px;
}

/*popups*/
/* line 1203, ../scss/common.scss */
.hide-popup-opacity, .hide-popup-dark {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* line 1214, ../scss/common.scss */
.hide-popup-dark {
  background: rgba(0, 0, 0, 0.7);
}

/* line 1217, ../scss/common.scss */
.popup-enter {
  display: none;
  position: fixed;
  top: 220px;
  left: 50%;
  width: 480px;
  margin-left: -240px;
  background: #fff;
  z-index: 300;
}
/* line 1226, ../scss/common.scss */
.popup-enter i {
  display: block;
  padding: 15px 0 20px 20px;
  font-size: 20px;
  color: #000;
}

/* line 1233, ../scss/common.scss */
.popup-enter__fields {
  float: left;
  width: 290px;
  padding: 10px 0 0 20px;
  border-right: 1px solid #eee;
}

/* line 1239, ../scss/common.scss */
.popup-enter__social {
  float: left;
  padding-left: 45px;
}
/* line 1242, ../scss/common.scss */
.popup-enter__social span {
  display: block;
  margin: 15px 0;
}
/* line 1246, ../scss/common.scss */
.popup-enter__social ul {
  margin-left: -2px;
  overflow: hidden;
}
/* line 1249, ../scss/common.scss */
.popup-enter__social ul li {
  float: left;
  margin-right: 8px;
}
/* line 1253, ../scss/common.scss */
.popup-enter__social ul a {
  display: block;
}
/* line 1256, ../scss/common.scss */
.popup-enter__social ul .popup-enter__social-fb {
  background: url('../img/icons-s977c957dc9.png') 0 -535px no-repeat;
  width: 42px;
  height: 42px;
}
/* line 1258, ../scss/common.scss */
.popup-enter__social ul .popup-enter__social-fb:hover {
  background: url('../img/icons-s977c957dc9.png') 0 -587px no-repeat;
  width: 42px;
  height: 42px;
}
/* line 1261, ../scss/common.scss */
.popup-enter__social ul .popup-enter__social-fb:active {
  background: url('../img/icons-s977c957dc9.png') 0 -664px no-repeat;
  width: 42px;
  height: 42px;
}
/* line 1265, ../scss/common.scss */
.popup-enter__social ul .popup-enter__social-tw {
  background: url('../img/icons-s977c957dc9.png') 0 -337px no-repeat;
  width: 42px;
  height: 42px;
}
/* line 1267, ../scss/common.scss */
.popup-enter__social ul .popup-enter__social-tw:hover {
  background: url('../img/icons-s977c957dc9.png') 0 -389px no-repeat;
  width: 42px;
  height: 42px;
}
/* line 1270, ../scss/common.scss */
.popup-enter__social ul .popup-enter__social-tw:active {
  background: url('../img/icons-s977c957dc9.png') 0 -483px no-repeat;
  width: 42px;
  height: 42px;
}

/* line 1276, ../scss/common.scss */
.popup-enter__btn {
  margin-top: 15px;
  padding: 10px 0 15px 85px;
  background: #fffdbf;
  overflow: hidden;
}
/* line 1281, ../scss/common.scss */
.popup-enter__btn .btn-white {
  float: left;
  width: 53px;
  height: 27px;
  margin-right: 17px;
  cursor: pointer;
}
/* line 1288, ../scss/common.scss */
.popup-enter__btn a {
  height: 27px;
  line-height: 27px;
  color: #3b6ab7;
}

/*form-field*/
/* line 1295, ../scss/common.scss */
.form-field {
  margin-bottom: 25px;
  overflow: hidden;
}
/* line 1298, ../scss/common.scss */
.form-field span {
  float: left;
  width: 65px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
}
/* line 1305, ../scss/common.scss */
.form-field input {
  float: left;
  width: 175px;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #dadada 0px 1px 5px inset;
  -moz-box-shadow: #dadada 0px 1px 5px inset;
  box-shadow: #dadada 0px 1px 5px inset;
}
/* line 1314, ../scss/common.scss */
.form-field input:focus {
  border: 1px solid #34b6ff;
  -webkit-box-shadow: #34b6ff 0px 0px 5px, #dadada 0px 1px 5px inset;
  -moz-box-shadow: #34b6ff 0px 0px 5px, #dadada 0px 1px 5px inset;
  box-shadow: #34b6ff 0px 0px 5px, #dadada 0px 1px 5px inset;
}

/* line 1320, ../scss/common.scss */
.form-field_check {
  padding-left: 65px;
  margin-bottom: 10px;
}
/* line 1323, ../scss/common.scss */
.form-field_check input {
  width: auto;
  height: 16px;
  margin-right: 10px;
  line-height: 16px;
}
/* line 1329, ../scss/common.scss */
.form-field_check span {
  width: auto;
  height: 16px;
  line-height: 16px;
}

/*datepicker*/
/* line 1336, ../scss/common.scss */
.datepicker-out {
  position: absolute;
  top: 7px;
  left: 180px;
  width: 150px;
  height: 30px;
}
/* line 1343, ../scss/common.scss */
.datepicker-out:hover .datepicker-date {
  background: #fff;
}

/* line 1348, ../scss/common.scss */
.datepicker-date {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  font-size: 13px;
  color: #3b6ab7;
  z-index: 60;
}
/* line 1358, ../scss/common.scss */
.datepicker-date span {
  border-bottom: 1px dashed #c4d2e9;
  cursor: pointer;
}

/* line 1363, ../scss/common.scss */
.datepicker-date_active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  color: #596374;
}
/* line 1366, ../scss/common.scss */
.datepicker-date_active span {
  border: none;
}
/* line 1369, ../scss/common.scss */
.datepicker-date_active:after {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  height: 24px;
  background: #fff;
}

/* line 1379, ../scss/common.scss */
.datepicker {
  display: none;
  position: absolute;
  top: 35px;
  left: 0px;
  padding: 10px 10px 50px 10px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  z-index: 50;
}

/* line 1389, ../scss/common.scss */
.ui-datepicker-header {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #fbfbfb;
  line-height: 50px;
}
/* line 1397, ../scss/common.scss */
.ui-datepicker-header a {
  position: absolute;
  top: 13px;
  width: 21px;
  height: 21px;
  border: 3px solid #c1c1c1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
/* line 1406, ../scss/common.scss */
.ui-datepicker-header a span {
  position: absolute;
  top: 7px;
  line-height: 0;
  font-size: 0;
  text-shadow: none;
  color: transparent;
}
/* line 1415, ../scss/common.scss */
.ui-datepicker-header .ui-datepicker-prev {
  left: 20px;
}
/* line 1417, ../scss/common.scss */
.ui-datepicker-header .ui-datepicker-prev span {
  left: 8px;
  background: url('../img/icons-s977c957dc9.png') 0 -2202px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 1422, ../scss/common.scss */
.ui-datepicker-header .ui-datepicker-next {
  right: 20px;
}
/* line 1424, ../scss/common.scss */
.ui-datepicker-header .ui-datepicker-next span {
  left: 9px;
  background: url('../img/icons-s977c957dc9.png') 0 -2185px no-repeat;
  width: 4px;
  height: 7px;
}
/* line 1429, ../scss/common.scss */
.ui-datepicker-header .ui-datepicker-title {
  text-align: center;
  font-size: 13px;
  color: #7e7e7e;
}
/* line 1433, ../scss/common.scss */
.ui-datepicker-header .ui-datepicker-title .ui-datepicker-year {
  display: none;
}

/* line 1438, ../scss/common.scss */
.ui-datepicker-calendar {
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 1441, ../scss/common.scss */
.ui-datepicker-calendar a, .ui-datepicker-calendar span {
  display: block;
  width: 26px;
  height: 26px;
  padding: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  line-height: 26px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  color: #000;
}
/* line 1452, ../scss/common.scss */
.ui-datepicker-calendar a.ui-state-highlight, .ui-datepicker-calendar span.ui-state-highlight {
  padding: 0;
  background: #47aef9;
  border: 3px solid #d5f6ff !important;
  color: #fff;
}
/* line 1458, ../scss/common.scss */
.ui-datepicker-calendar a.ui-state-active, .ui-datepicker-calendar span.ui-state-active {
  padding: 0;
  border: 3px solid #ff0000;
}
/* line 1463, ../scss/common.scss */
.ui-datepicker-calendar th {
  border-bottom: 1px solid #c4d0e1;
}

/*meta*/
/* line 1468, ../scss/common.scss */
.meta {
  padding: 3px 0;
  overflow: hidden;
  font-size: 10px;
  color: #999;
}

/* line 1474, ../scss/common.scss */
.meta__date, .meta__comm {
  margin-right: 10px;
}

/* line 1477, ../scss/common.scss */
.meta__date {
  float: left;
}

/* line 1480, ../scss/common.scss */
.meta__comm, .meta__view {
  position: relative;
  float: left;
  padding-left: 15px;
}
/* line 1484, ../scss/common.scss */
.meta__comm i, .meta__view i {
  position: absolute;
  top: 1px;
  left: 0;
}

/* line 1491, ../scss/common.scss */
.meta__comm a {
  font-weight: bold;
  color: #2ea90d;
}
/* line 1495, ../scss/common.scss */
.meta__comm i {
  background: url('../img/icons-s977c957dc9.png') 0 -1823px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 1500, ../scss/common.scss */
.meta__view i {
  background: url('../img/icons-s977c957dc9.png') 0 -1546px no-repeat;
  width: 13px;
  height: 9px;
}

/*banners and advert*/
/* line 1505, ../scss/common.scss */
.banner240x400 {
  margin-bottom: 20px;
}

/* line 1508, ../scss/common.scss */
.banner1000x90 {
  width: 1000px;
}

/* line 1511, ../scss/common.scss */
.banner760x90 {
  width: 760px;
}

/* line 1514, ../scss/common.scss */
.banner728x90 {
  width: 728px;
}

/* line 1517, ../scss/common.scss */
.banner1000x90, .banner760x90, .banner728x90 {
  height: 90px;
  margin: 0 auto;
}

/* line 1521, ../scss/common.scss */
.banner685x90 {
  width: 685px;
  height: 90px;
  margin: -10px 0 15px 0;
}

/* line 1526, ../scss/common.scss */
.banner240x220 {
  margin-bottom: 20px;
}

/* line 1529, ../scss/common.scss */
.banner690x200 {
  margin-bottom: 15px;
}

/* line 1532, ../scss/common.scss */
.banner160x270 {
  margin-bottom: 15px;
}

/*END*/
