/* line 5, ../scss/inner.scss */
.menu {
  padding: 15px 24px;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(60%, #ffffff), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(#ffffff 60%, #fafafa);
  background-image: -moz-linear-gradient(#ffffff 60%, #fafafa);
  background-image: -o-linear-gradient(#ffffff 60%, #fafafa);
  background-image: linear-gradient(#ffffff 60%, #fafafa);
  overflow: hidden;
}
/* line 10, ../scss/inner.scss */
.menu li {
  float: left;
  margin-right: 15px;
}
/* line 13, ../scss/inner.scss */
.menu li:last-child {
  position: relative;
  float: right;
  padding-left: 12px;
}
/* line 17, ../scss/inner.scss */
.menu li:last-child:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background: url('../img/icons-sb25392b65e.png') 0 -2285px no-repeat;
  width: 5px;
  height: 8px;
}
/* line 26, ../scss/inner.scss */
.menu a {
  font-size: 12px;
  color: #5e5e5e;
}
/* line 29, ../scss/inner.scss */
.menu a:hover {
  text-decoration: underline;
}
/* line 32, ../scss/inner.scss */
.menu a.active {
  color: #000;
  text-decoration: none;
}

/* line 39, ../scss/inner.scss */
.news-title {
  margin-bottom: 10px;
}
/* line 41, ../scss/inner.scss */
.news-title h2 {
  margin-bottom: 5px;
  font-size: 24px;
}
/* line 45, ../scss/inner.scss */
.news-title p {
  font-size: 15px;
  line-height: 1.3;
  color: #676767;
}

/* line 52, ../scss/inner.scss */
.author-wrap {
  position: relative;
  height: 50px;
  border: 1px solid #ebebeb;
}

/* line 57, ../scss/inner.scss */
.author {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 164px;
  padding: 20px 9px 9px 9px;
  z-index: 10;
}
/* line 64, ../scss/inner.scss */
.author.hover {
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
}

/* line 69, ../scss/inner.scss */
.author__detail, .news-info {
  padding: 10px 0;
}
/* line 71, ../scss/inner.scss */
.author__detail a, .author__detail span, .news-info a, .news-info span {
  position: relative;
  padding-left: 35px;
  font-size: 10px;
  color: #7e7e7e;
}
/* line 78, ../scss/inner.scss */
.author__detail a:hover, .news-info a:hover {
  text-decoration: underline;
}
/* line 82, ../scss/inner.scss */
.author__detail i, .news-info i {
  position: absolute;
  left: 14px;
}

/* line 87, ../scss/inner.scss */
.author__detail {
  display: none;
  border-top: 1px dotted #c6d0dc;
}
/* line 90, ../scss/inner.scss */
.author__detail li {
  padding: 5px 0;
}
/* line 93, ../scss/inner.scss */
.author__detail i {
  top: 0;
}

/* line 97, ../scss/inner.scss */
.author__name {
  overflow: hidden;
}
/* line 99, ../scss/inner.scss */
.author__name img {
  float: left;
  margin: 0 8px 10px 11px;
}
/* line 103, ../scss/inner.scss */
.author__name a {
  line-height: 1.3;
  font-size: 11px;
  color: #373737;
  cursor: pointer;
}
/* line 108, ../scss/inner.scss */
.author__name a:hover {
  color: #3b6ab7;
  text-decoration: underline;
}

/* line 114, ../scss/inner.scss */
.author__send {
  background: url('../img/icons-sb25392b65e.png') 0 -1981px no-repeat;
  width: 12px;
  height: 11px;
}

/* line 117, ../scss/inner.scss */
.author__error {
  background: url('../img/icons-sb25392b65e.png') 0 -1922px no-repeat;
  width: 12px;
  height: 11px;
}

/* line 120, ../scss/inner.scss */
.author__print {
  background: url('../img/icons-sb25392b65e.png') 0 -2204px no-repeat;
  width: 12px;
  height: 11px;
}

/* line 124, ../scss/inner.scss */
.news-social {
  position: relative;
  padding: 15px 0 15px 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0;
}
/* line 129, ../scss/inner.scss */
.news-social li {
  display: inline-block;
  margin-right: 2px;
}
/* line 133, ../scss/inner.scss */
.news-social a {
  display: block;
}

/* line 137, ../scss/inner.scss */
.news-social__another {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 144px;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  font-size: 12px;
  z-index: 10;
}

/* line 149, ../scss/inner.scss */
.news-social__fb {
  background: url('../img/icons-sb25392b65e.png') 0 -1460px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 151, ../scss/inner.scss */
.news-social__fb:hover {
  background: url('../img/icons-sb25392b65e.png') 0 -1201px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 155, ../scss/inner.scss */
.news-social__vk {
  background: url('../img/icons-sb25392b65e.png') 0 -1370px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 157, ../scss/inner.scss */
.news-social__vk:hover {
  background: url('../img/icons-sb25392b65e.png') 0 -1098px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 161, ../scss/inner.scss */
.news-social__tw {
  background: url('../img/icons-sb25392b65e.png') 0 -1404px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 163, ../scss/inner.scss */
.news-social__tw:hover {
  background: url('../img/icons-sb25392b65e.png') 0 -1002px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 167, ../scss/inner.scss */
.news-social__gg {
  background: url('../img/icons-sb25392b65e.png') 0 -1167px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 169, ../scss/inner.scss */
.news-social__gg:hover {
  background: url('../img/icons-sb25392b65e.png') 0 -872px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 173, ../scss/inner.scss */
.news-social__ok {
  background: url('../img/icons-sb25392b65e.png') 0 -1291px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 175, ../scss/inner.scss */
.news-social__ok:hover {
  background: url('../img/icons-sb25392b65e.png') 0 -968px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 179, ../scss/inner.scss */
.news-social__sh {
  background: url('../img/icons-sb25392b65e.png') 0 -269px no-repeat;
  width: 16px;
  height: 24px;
}
/* line 181, ../scss/inner.scss */
.news-social__sh:hover {
  background: url('../img/icons-sb25392b65e.png') 0 -303px no-repeat;
  width: 16px;
  height: 24px;
}
/* line 183, ../scss/inner.scss */
.news-social__sh:hover .news-social__another {
  display: block;
}

/* line 188, ../scss/inner.scss */
.news-info {
  border-bottom: 1px dotted #c6d0dc;
}
/* line 190, ../scss/inner.scss */
.news-info li {
  padding: 4px 0;
}
/* line 193, ../scss/inner.scss */
.news-info i {
  top: 1px;
}

/* line 197, ../scss/inner.scss */
.news-info__date {
  background: url('../img/icons-sb25392b65e.png') 0 -1627px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 200, ../scss/inner.scss */
.news-info__views {
  background: url('../img/icons-sb25392b65e.png') 0 -1650px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 203, ../scss/inner.scss */
.news-info__comms {
  background: url('../img/icons-sb25392b65e.png') 0 -2044px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 207, ../scss/inner.scss */
.pari-match {
  padding: 15px 0;
  text-align: center;
}
/* line 210, ../scss/inner.scss */
.pari-match a {
  display: inline-block;
  background: url('../img/icons-sb25392b65e.png') 0 -84px no-repeat;
  width: 116px;
  height: 25px;
}

/* line 216, ../scss/inner.scss */
.content {
  line-height: 1.5;
}
/* line 218, ../scss/inner.scss */
.content figure {
  margin: 0 20px 20px 0;
}
/* line 220, ../scss/inner.scss */
.content figure img {
  display: block;
  margin: 0 0 10px 0;
}
/* line 224, ../scss/inner.scss */
.content figure.content__pic {
  float: left;
}
/* line 228, ../scss/inner.scss */
.content figcaption {
  font-size: 10px;
  color: #7e7e7e;
}
/* line 232, ../scss/inner.scss */
.content h3 {
  margin-bottom: 15px;
  font-size: 17px;
  color: #373737;
}
/* line 237, ../scss/inner.scss */
.content p {
  margin-bottom: 20px;
}
/* line 240, ../scss/inner.scss */
.content ul, .content ol {
  margin: 20px;
  list-style: disc;
}
/* line 243, ../scss/inner.scss */
.content ul li, .content ol li {
  margin-bottom: 4px;
}
/* line 247, ../scss/inner.scss */
.content ol {
  list-style: decimal;
}
/* line 250, ../scss/inner.scss */
.content table {
  border: 1px solid #ccc;
  margin: 1em 0;
}
/* line 253, ../scss/inner.scss */
.content table td {
  padding: 10px;
}

/* line 259, ../scss/inner.scss */
.link-man {
  color: #373737;
  border-bottom: 1px dotted #89a6d4;
}

/* line 264, ../scss/inner.scss */
.news-label {
  margin: 20px 0;
}
/* line 266, ../scss/inner.scss */
.news-label a {
  font-size: 11px;
  color: #8b8b8b;
}
/* line 269, ../scss/inner.scss */
.news-label a:hover {
  text-decoration: underline;
}

/* line 275, ../scss/inner.scss */
.vote-res {
  position: relative;
  margin-bottom: 40px;
  background: #fafafa;
}
/* line 280, ../scss/inner.scss */
.vote-res ul {
  padding: 0 0 10px 15px;
  border-bottom: 1px dotted #d7d7d7;
}
/* line 284, ../scss/inner.scss */
.vote-res li {
  padding-bottom: 20px;
  overflow: hidden;
}

/* line 289, ../scss/inner.scss */
.vote-res__title {
  padding: 20px 0 20px 15px;
  font-size: 17px;
  font-weight: bold;
}

/* line 294, ../scss/inner.scss */
.vote-res__val, .vote-res__party {
  float: left;
}

/* line 297, ../scss/inner.scss */
.vote-res__val {
  width: 50px;
}
/* line 299, ../scss/inner.scss */
.vote-res__val span {
  display: block;
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}
/* line 305, ../scss/inner.scss */
.vote-res__val i {
  font-size: 10px;
  color: #aeaeae;
}

/* line 310, ../scss/inner.scss */
.vote-res__party {
  width: 400px;
}
/* line 312, ../scss/inner.scss */
.vote-res__party span {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

/* line 318, ../scss/inner.scss */
.vote-res__scale {
  height: 3px;
  border: 1px solid #d2d2d2;
}

/* line 322, ../scss/inner.scss */
.vote-res__scale_won {
  border-top: 1px solid #72c7ff;
  border-bottom: 1px solid #1db2ff;
  border-left: 1px solid #1db2ff;
  border-right: 1px solid #1db2ff;
  background: #5bbdfd;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyOGFkZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bbdfd), color-stop(100%, #228ade));
  background-image: -webkit-linear-gradient(#5bbdfd, #228ade);
  background-image: -moz-linear-gradient(#5bbdfd, #228ade);
  background-image: -o-linear-gradient(#5bbdfd, #228ade);
  background-image: linear-gradient(#5bbdfd, #228ade);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

/* line 331, ../scss/inner.scss */
.vote-res__sort {
  position: relative;
  padding: 10px 0 10px 15px;
  background: #fafafa;
  z-index: 10;
}
/* line 336, ../scss/inner.scss */
.vote-res__sort span {
  display: block;
  font-size: 11px;
  line-height: 1.6;
  color: #aeaeae;
}
/* line 342, ../scss/inner.scss */
.vote-res__sort button {
  position: absolute;
  top: 13px;
  width: 27px;
  height: 26px;
  background: #fbfbfb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -moz-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -o-linear-gradient(#fbfbfb, #ebebeb);
  background-image: linear-gradient(#fbfbfb, #ebebeb);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px;
}
/* line 351, ../scss/inner.scss */
.vote-res__sort button.active {
  background: #f1f1f1;
  -webkit-box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset;
  -moz-box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset;
  box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset;
  border-bottom: 1px solid #fff;
}
/* line 357, ../scss/inner.scss */
.vote-res__sort i {
  position: absolute;
  top: 8px;
  left: 6px;
}

/* line 363, ../scss/inner.scss */
.vote-res__reduction {
  right: 15px;
}
/* line 365, ../scss/inner.scss */
.vote-res__reduction i {
  background: url('../img/icons-sb25392b65e.png') 0 -2322px no-repeat;
  width: 14px;
  height: 11px;
}
/* line 369, ../scss/inner.scss */
.vote-res__reduction.active i {
  background: url('../img/icons-sb25392b65e.png') 0 -2343px no-repeat;
  width: 14px;
  height: 11px;
}

/* line 374, ../scss/inner.scss */
.vote-res__random {
  right: 55px;
}
/* line 376, ../scss/inner.scss */
.vote-res__random i {
  background: url('../img/icons-sb25392b65e.png') 0 -2244px no-repeat;
  width: 14px;
  height: 11px;
}
/* line 380, ../scss/inner.scss */
.vote-res__random.active i {
  background: url('../img/icons-sb25392b65e.png') 0 -2125px no-repeat;
  width: 14px;
  height: 11px;
}

/* line 386, ../scss/inner.scss */
.materials {
  margin-bottom: 25px;
}
/* line 388, ../scss/inner.scss */
.materials li {
  padding: 10px 0;
  border-top: 1px dotted #c6d0dc;
  font-size: 11px;
  color: #999999;
}
/* line 393, ../scss/inner.scss */
.materials li:first-child {
  border: none;
}
/* line 397, ../scss/inner.scss */
.materials a {
  color: #3b6ab7;
}
/* line 399, ../scss/inner.scss */
.materials a:hover {
  color: #ED3C0C;
  text-decoration: underline;
}
/* line 404, ../scss/inner.scss */
.materials span {
  font-size: 10px;
  color: #8a919d;
}
/* line 408, ../scss/inner.scss */
.materials i {
  margin: 0 5px;
  color: #a4a4a4;
  font-size: 10px;
}

/* line 414, ../scss/inner.scss */
.materials__title {
  margin-bottom: 5px;
  font-size: 18px;
}

/* line 419, ../scss/inner.scss */
.likes {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

/* line 424, ../scss/inner.scss */
.likes__btns {
  position: relative;
  display: inline-block;
  padding: 0 7px;
  background: #fff;
  z-index: 10;
}

/* line 431, ../scss/inner.scss */
.likes__line {
  position: absolute;
  top: 11px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d8d8d8;
}

/* line 440, ../scss/inner.scss */
.facts {
  padding: 10px 13px 13px 13px;
  margin-bottom: 35px;
  background: #eff3fd;
}
/* line 444, ../scss/inner.scss */
.facts ul {
  margin-right: -50px;
  overflow: hidden;
}
/* line 448, ../scss/inner.scss */
.facts li {
  float: left;
  width: 205px;
  margin: 15px 25px 0 0;
  font-size: 0;
}
/* line 454, ../scss/inner.scss */
.facts img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 459, ../scss/inner.scss */
.facts a {
  display: inline-block;
  width: 135px;
  max-height: 60px;
  font-weight: bold;
  font-size: 11px;
  color: #3b6ab7;
  line-height: 1.4;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 470, ../scss/inner.scss */
.facts a:hover {
  color: #ED3C0C;
  text-decoration: underline;
}

/* line 476, ../scss/inner.scss */
.facts__title {
  font-size: 18px;
}

/* line 480, ../scss/inner.scss */
.comments {
  margin-bottom: 60px;
}

/* line 483, ../scss/inner.scss */
.comments__list {
  margin-bottom: 20px;
}
/* line 485, ../scss/inner.scss */
.comments__list p {
  margin-bottom: 10px;
  line-height: 1.3;
}
/* line 489, ../scss/inner.scss */
.comments__list li {
  padding: 18px 0 16px 0;
  border-top: 1px solid #e8e8e8;
}
/* line 492, ../scss/inner.scss */
.comments__list li:first-child {
  border: none;
}

/* line 497, ../scss/inner.scss */
.comments__child {
  margin-left: 30px;
}

/* line 500, ../scss/inner.scss */
.comments__title {
  position: relative;
  margin-bottom: 7px;
  font-size: 22px;
  font-weight: bold;
}
/* line 505, ../scss/inner.scss */
.comments__title label {
  position: absolute;
  top: 7px;
  left: 290px;
  font-size: 11px;
  color: #5e5e5e;
  font-weight: normal;
}
/* line 513, ../scss/inner.scss */
.comments__title input {
  position: absolute;
  top: 0px;
  left: -22px;
}

/* line 519, ../scss/inner.scss */
.comments__user {
  height: 30px;
  margin-bottom: 10px;
  line-height: 30px;
  color: #788087;
  font-size: 11px;
  overflow: hidden;
}
/* line 526, ../scss/inner.scss */
.comments__user img {
  float: left;
  margin-right: 10px;
}
/* line 530, ../scss/inner.scss */
.comments__user a {
  font-weight: bold;
  color: #3b6ab7;
}

/* line 535, ../scss/inner.scss */
.comments__detail {
  font-size: 11px;
  overflow: hidden;
}
/* line 538, ../scss/inner.scss */
.comments__detail a, .comments__detail span {
  float: left;
}
/* line 541, ../scss/inner.scss */
.comments__detail a {
  margin-right: 18px;
  padding-bottom: 1px;
  color: #596374;
}
/* line 545, ../scss/inner.scss */
.comments__detail a:hover {
  text-decoration: underline;
}
/* line 549, ../scss/inner.scss */
.comments__detail span {
  position: relative;
  padding-left: 27px;
  color: #999999;
}
/* line 553, ../scss/inner.scss */
.comments__detail span.active {
  color: #db731e;
}
/* line 555, ../scss/inner.scss */
.comments__detail span.active i {
  background: url('../img/icons-sb25392b65e.png') 0 -1539px no-repeat;
  width: 10px;
  height: 11px;
}
/* line 560, ../scss/inner.scss */
.comments__detail i {
  position: absolute;
  top: 0;
  left: 11px;
  background: url('../img/icons-sb25392b65e.png') 0 -1858px no-repeat;
  width: 10px;
  height: 11px;
}

/* line 567, ../scss/inner.scss */
.comments__add {
  padding: 12px 15px 15px 15px;
  background: #fafafa;
}
/* line 570, ../scss/inner.scss */
.comments__add span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
/* line 575, ../scss/inner.scss */
.comments__add textarea {
  width: 638px;
  height: 135px;
  padding: 8px 10px;
  margin-bottom: 12px;
  border: 1px solid #bdbdbd;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  resize: none;
  font-family: Arial;
}
/* line 586, ../scss/inner.scss */
.comments__add input, .comments__add button {
  height: 26px;
  margin-right: 13px;
  padding: 0 10px;
  background: #f8f8f8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(#f8f8f8, #eaeaea);
  background-image: -moz-linear-gradient(#f8f8f8, #eaeaea);
  background-image: -o-linear-gradient(#f8f8f8, #eaeaea);
  background-image: linear-gradient(#f8f8f8, #eaeaea);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}

/* line 600, ../scss/inner.scss */
.rate {
  position: relative;
  float: right;
  font-weight: bold;
}
/* line 604, ../scss/inner.scss */
.rate span {
  float: left;
}
/* line 607, ../scss/inner.scss */
.rate button {
  float: left;
  position: relative;
  width: 17px;
  height: 17px;
  margin: 7px 0 0 9px;
  -webkit-box-shadow: #e0e0e0 0px 0px 1px 1px inset;
  -moz-box-shadow: #e0e0e0 0px 0px 1px 1px inset;
  box-shadow: #e0e0e0 0px 0px 1px 1px inset;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
}
/* line 617, ../scss/inner.scss */
.rate i {
  position: absolute;
  top: 4px;
  left: 4px;
}

/* line 623, ../scss/inner.scss */
.rate_pos {
  color: #148c11;
}

/* line 626, ../scss/inner.scss */
.rate_neg {
  color: #d50a0a;
}

/* line 630, ../scss/inner.scss */
.rate__plus i {
  background: url('../img/icons-sb25392b65e.png') 0 -2582px no-repeat;
  width: 9px;
  height: 9px;
}
/* line 633, ../scss/inner.scss */
.rate__plus.active {
  background: #cde6af;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
}
/* line 636, ../scss/inner.scss */
.rate__plus.active i {
  background: url('../img/icons-sb25392b65e.png') 0 -2146px no-repeat;
  width: 9px;
  height: 10px;
}

/* line 642, ../scss/inner.scss */
.rate__minus i {
  background: url('../img/icons-sb25392b65e.png') 0 -2744px no-repeat;
  width: 9px;
  height: 9px;
}

/* line 647, ../scss/inner.scss */
.matches, .sport-news {
  padding: 3px;
  border: 1px solid #ececec;
}

/* line 651, ../scss/inner.scss */
.matches {
  margin-bottom: 20px;
}
/* line 653, ../scss/inner.scss */
.matches .play__team-1, .matches .play__team-2 {
  width: 38%;
  margin: 0 2%;
  padding: 2px 0;
}
/* line 658, ../scss/inner.scss */
.matches .play__result {
  width: 16%;
}
/* line 662, ../scss/inner.scss */
.matches .play__item:nth-child(2n) {
  background: #f7f7f7;
}
/* line 665, ../scss/inner.scss */
.matches .play__item:nth-child(2n+1) {
  background: #fdfdfd;
}

/* line 670, ../scss/inner.scss */
.matches__top {
  position: relative;
  padding: 10px 0 30px 10px;
}
/* line 673, ../scss/inner.scss */
.matches__top .datepicker-out {
  top: 25px;
  left: -5px;
}

/* line 678, ../scss/inner.scss */
.matches__title {
  font-size: 18px;
}

/* line 681, ../scss/inner.scss */
.matches__chemp {
  padding: 10px;
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #bbb;
  background: #f9f9f9;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: -moz-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: -o-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: linear-gradient(#f9f9f9, #e6e6e6);
}
/* line 687, ../scss/inner.scss */
.matches__chemp span, .matches__chemp i {
  display: block;
}
/* line 690, ../scss/inner.scss */
.matches__chemp span {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
/* line 696, ../scss/inner.scss */
.matches__chemp i {
  font-size: 10px;
  color: #767676;
}

/* line 701, ../scss/inner.scss */
.matches__nav {
  margin-top: 1px;
  padding: 10px;
  border-top: 1px solid #ededed;
  overflow: hidden;
}
/* line 706, ../scss/inner.scss */
.matches__nav li {
  float: left;
  margin-bottom: 3px;
}
/* line 709, ../scss/inner.scss */
.matches__nav li:nth-child(2n+1) {
  width: 135px;
}
/* line 713, ../scss/inner.scss */
.matches__nav a {
  font-size: 10px;
  color: #686868;
}
/* line 716, ../scss/inner.scss */
.matches__nav a:hover {
  text-decoration: underline;
}

/* line 723, ../scss/inner.scss */
.sport-news .sport-news__list {
  display: none;
}

/* line 727, ../scss/inner.scss */
.sport-news__top {
  padding: 8px 7px;
  border-bottom: 2px solid #fbd10d;
}
/* line 730, ../scss/inner.scss */
.sport-news__top span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
/* line 735, ../scss/inner.scss */
.sport-news__top button {
  height: 19px;
  margin-right: 8px;
  padding: 0 7px;
  background: #fbfbfb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -moz-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -o-linear-gradient(#fbfbfb, #ebebeb);
  background-image: linear-gradient(#fbfbfb, #ebebeb);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  text-shadow: 0 1px 1px #fff;
  color: #000;
}
/* line 746, ../scss/inner.scss */
.sport-news__top button.active {
  color: #939393;
  background: #f1f1f1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset;
}

/* line 753, ../scss/inner.scss */
.athlete {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 25px;
  overflow: hidden;
}
/* line 759, ../scss/inner.scss */
.athlete:after {
  bottom: 48px;
  -webkit-box-shadow: #93a9ba 0 15px 10px;
  -moz-box-shadow: #93a9ba 0 15px 10px;
  box-shadow: #93a9ba 0 15px 10px;
}
/* line 763, ../scss/inner.scss */
.athlete .arrs-nav {
  bottom: 0;
  left: 0;
}

/* line 768, ../scss/inner.scss */
.athlete__slider {
  position: relative;
  background: #f1f8fe;
  z-index: 10;
}
/* line 772, ../scss/inner.scss */
.athlete__slider li {
  float: left;
  width: 144px;
  padding: 10px;
}
/* line 777, ../scss/inner.scss */
.athlete__slider img {
  margin-bottom: 10px;
}
/* line 780, ../scss/inner.scss */
.athlete__slider p {
  padding-top: 10px;
  font-size: 11px;
  color: #000;
}
/* line 785, ../scss/inner.scss */
.athlete__slider a {
  color: #3b6ab7;
}
/* line 787, ../scss/inner.scss */
.athlete__slider a:hover {
  text-decoration: underline;
}
/* line 791, ../scss/inner.scss */
.athlete__slider span {
  color: #7e7e7e;
}
/* line 794, ../scss/inner.scss */
.athlete__slider i {
  display: inline-block;
  margin-left: 6px;
  width: 16px;
  height: 9px;
}

/* line 801, ../scss/inner.scss */
.athlete__name {
  font-weight: bold;
}

/* line 805, ../scss/inner.scss */
.tags {
  position: absolute;
  bottom: 73px;
  left: 0;
  width: 164px;
}
/* line 810, ../scss/inner.scss */
.tags .title {
  margin-bottom: 12px;
  border-bottom: 2px solid #fbd10d;
}
/* line 814, ../scss/inner.scss */
.tags li {
  margin-bottom: 3px;
}
/* line 817, ../scss/inner.scss */
.tags a {
  font-size: 11px;
  color: #5e5e5e;
}
/* line 820, ../scss/inner.scss */
.tags a:hover {
  text-decoration: underline;
}
