.flags-sprite, .flags-ag, .flags-bg, .flags-bl, .flags-de, .flags-fr, .flags-gl, .flags-gr, .flags-it, .flags-pl, .flags-pt, .flags-rm, .flags-ru, .flags-sp, .flags-tr, .flags-ua, .flags-uk { background: url('../img/flags-s85acbfc97f.png') no-repeat; }

.flags-ag { background-position: 0 -36px; }

.flags-bg { background-position: 0 -117px; }

.flags-bl { background-position: 0 -18px; }

.flags-de { background-position: 0 -135px; }

.flags-fr { background-position: 0 -63px; }

.flags-gl { background-position: 0 -108px; }

.flags-gr { background-position: 0 -72px; }

.flags-it { background-position: 0 -45px; }

.flags-pl { background-position: 0 -90px; }

.flags-pt { background-position: 0 -9px; }

.flags-rm { background-position: 0 -54px; }

.flags-ru { background-position: 0 -126px; }

.flags-sp { background-position: 0 -99px; }

.flags-tr { background-position: 0 -27px; }

.flags-ua { background-position: 0 -81px; }

.flags-uk { background-position: 0 0; }

.vote-res:after, .athlete:after { content: ""; position: absolute; bottom: 12px; left: 10px; width: 245px; height: 20px; -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2); -webkit-transform: rotate(-4deg); -moz-transform: rotate(-4deg); -ms-transform: rotate(-4deg); -o-transform: rotate(-4deg); transform: rotate(-4deg); }

.menu { padding: 15px 24px; background: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(60%, #ffffff), color-stop(100%, #fafafa)); background-image: -webkit-linear-gradient(#ffffff 60%, #fafafa); background-image: -moz-linear-gradient(#ffffff 60%, #fafafa); background-image: -o-linear-gradient(#ffffff 60%, #fafafa); background-image: linear-gradient(#ffffff 60%, #fafafa); overflow: hidden; }
.menu li { float: left; margin-right: 15px; }
.menu li:last-child { position: relative; float: right; padding-left: 12px; }
.menu li:last-child:before { content: ""; position: absolute; top: 2px; left: 0; background: url('../img/icons-sf1c682332c.png') 0 -2571px no-repeat; width: 5px; height: 8px; }
.menu a { font-size: 12px; color: #5e5e5e; }
.menu a:hover { text-decoration: underline; }
.menu a.active { color: #000; text-decoration: none; }

.news-title { margin-bottom: 10px; }
.news-title h2 { margin-bottom: 5px; font-size: 24px; }
.news-title p { font-size: 15px; line-height: 1.3; color: #676767; }

.author-wrap { position: relative; height: 50px; border: 1px solid #ebebeb; }

.author { position: absolute; top: -10px; left: -10px; width: 164px; padding: 20px 9px 9px 9px; z-index: 10; }
.author.hover { background: #fff; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px; box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px; }

.author__detail, .news-info { padding: 10px 0; }
.author__detail a, .author__detail span, .news-info a, .news-info span { position: relative; padding-left: 35px; font-size: 10px; color: #7e7e7e; }
.author__detail a:hover, .news-info a:hover { text-decoration: underline; }
.author__detail i, .news-info i { position: absolute; left: 14px; }

.author__detail { display: none; border-top: 1px dotted #c6d0dc; }
.author__detail li { padding: 5px 0; }
.author__detail i { top: 0; }

.author__name { overflow: hidden; }
.author__name img { float: left; margin: 0 8px 10px 11px; }
.author__name a { line-height: 1.3; font-size: 11px; color: #373737; cursor: pointer; }
.author__name a:hover { color: #3b6ab7; text-decoration: underline; }

.author__send { background: url('../img/icons-sf1c682332c.png') 0 -2244px no-repeat; width: 12px; height: 11px; }

.author__error { background: url('../img/icons-sf1c682332c.png') 0 -2137px no-repeat; width: 12px; height: 11px; }

.author__print { background: url('../img/icons-sf1c682332c.png') 0 -2490px no-repeat; width: 12px; height: 11px; }

.news-social { position: relative; padding: 15px 0 15px 10px; border-bottom: 1px solid #e0e0e0; font-size: 0; }
.news-social li { display: inline-block; margin-right: 2px; }
.news-social a { display: block; }

.news-social__another { display: none; position: absolute; top: 35px; left: 0; width: 144px; padding: 10px; background: #fff; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px; box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px; font-size: 12px; z-index: 10; }

.news-social__fb { background: url('../img/icons-sf1c682332c.png') 0 -1584px no-repeat; width: 24px; height: 24px; }
.news-social__fb:hover { background: url('../img/icons-sf1c682332c.png') 0 -1264px no-repeat; width: 24px; height: 24px; }

.news-social__vk { background: url('../img/icons-sf1c682332c.png') 0 -1456px no-repeat; width: 24px; height: 24px; }
.news-social__vk:hover { background: url('../img/icons-sf1c682332c.png') 0 -1161px no-repeat; width: 24px; height: 24px; }

.news-social__tw { background: url('../img/icons-sf1c682332c.png') 0 -1490px no-repeat; width: 24px; height: 24px; }
.news-social__tw:hover { background: url('../img/icons-sf1c682332c.png') 0 -1065px no-repeat; width: 24px; height: 24px; }

.news-social__gg { background: url('../img/icons-sf1c682332c.png') 0 -1230px no-repeat; width: 24px; height: 24px; }
.news-social__gg:hover { background: url('../img/icons-sf1c682332c.png') 0 -895px no-repeat; width: 24px; height: 24px; }

.news-social__ok { background: url('../img/icons-sf1c682332c.png') 0 -1354px no-repeat; width: 24px; height: 24px; }
.news-social__ok:hover { background: url('../img/icons-sf1c682332c.png') 0 -1031px no-repeat; width: 24px; height: 24px; }

.news-social__sh { background: url('../img/icons-sf1c682332c.png') 0 -292px no-repeat; width: 16px; height: 24px; }
.news-social__sh:hover { background: url('../img/icons-sf1c682332c.png') 0 -326px no-repeat; width: 16px; height: 24px; }
.news-social__sh:hover .news-social__another { display: block; }

.news-info { border-bottom: 1px dotted #c6d0dc; }
.news-info li { padding: 4px 0; }
.news-info i { top: 1px; }

.news-info__date { background: url('../img/icons-sf1c682332c.png') 0 -1797px no-repeat; width: 13px; height: 13px; }

.news-info__views { background: url('../img/icons-sf1c682332c.png') 0 -1843px no-repeat; width: 13px; height: 13px; }

.news-info__comms { background: url('../img/icons-sf1c682332c.png') 0 -2307px no-repeat; width: 13px; height: 13px; }

.pari-match { padding: 15px 0; text-align: center; }
.pari-match a { display: inline-block; background: url('../img/icons-sf1c682332c.png') 0 -84px no-repeat; width: 116px; height: 25px; }

.content { line-height: 1.5; }
.content figure { margin: 0 20px 20px 0; }
.content figure img { display: block; margin: 0 0 10px 0; }
.content figure.content__pic { float: left; }
.content figcaption { font-size: 10px; color: #7e7e7e; }
.content h3 { margin-bottom: 15px; font-size: 17px; color: #373737; }
.content p { margin-bottom: 20px; }
.content ul, .content ol { margin: 20px; list-style: disc; }
.content ul li, .content ol li { margin-bottom: 4px; }
.content ol { list-style: decimal; }
.content table { border: 1px solid #ccc; margin: 1em 0; }
.content table td { padding: 10px; }

.link-man { color: #373737; border-bottom: 1px dotted #89a6d4; }

.news-label { margin: 20px 0; }
.news-label a { font-size: 11px; color: #8b8b8b; }
.news-label a:hover { text-decoration: underline; }

.vote-res { position: relative; margin-bottom: 40px; background: #fafafa; }
.vote-res ul { padding: 0 0 10px 15px; border-bottom: 1px dotted #d7d7d7; }
.vote-res li { padding-bottom: 20px; overflow: hidden; }

.vote-res__title { padding: 20px 0 20px 15px; font-size: 17px; font-weight: bold; }

.vote-res__val, .vote-res__party { float: left; }

.vote-res__val { width: 50px; }
.vote-res__val span { display: block; margin-bottom: 3px; font-size: 13px; font-weight: bold; }
.vote-res__val i { font-size: 10px; color: #aeaeae; }

.vote-res__party { width: 400px; }
.vote-res__party span { display: block; margin-bottom: 8px; font-size: 13px; }

.vote-res__scale { height: 3px; border: 1px solid #d2d2d2; }

.vote-res__scale_won { border-top: 1px solid #72c7ff; border-bottom: 1px solid #1db2ff; border-left: 1px solid #1db2ff; border-right: 1px solid #1db2ff; background: #5bbdfd; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyOGFkZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bbdfd), color-stop(100%, #228ade)); background-image: -webkit-linear-gradient(#5bbdfd, #228ade); background-image: -moz-linear-gradient(#5bbdfd, #228ade); background-image: -o-linear-gradient(#5bbdfd, #228ade); background-image: linear-gradient(#5bbdfd, #228ade); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px; }

.vote-res__sort { position: relative; padding: 10px 0 10px 15px; background: #fafafa; z-index: 10; }
.vote-res__sort span { display: block; font-size: 11px; line-height: 1.6; color: #aeaeae; }
.vote-res__sort button { position: absolute; top: 13px; width: 27px; height: 26px; background: #fbfbfb; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb); background-image: -moz-linear-gradient(#fbfbfb, #ebebeb); background-image: -o-linear-gradient(#fbfbfb, #ebebeb); background-image: linear-gradient(#fbfbfb, #ebebeb); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px; }
.vote-res__sort button.active { background: #f1f1f1; -webkit-box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset; -moz-box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset; box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset; border-bottom: 1px solid #fff; }
.vote-res__sort i { position: absolute; top: 8px; left: 6px; }

.vote-res__reduction { right: 15px; }
.vote-res__reduction i { background: url('../img/icons-sf1c682332c.png') 0 -2608px no-repeat; width: 14px; height: 11px; }
.vote-res__reduction.active i { background: url('../img/icons-sf1c682332c.png') 0 -2629px no-repeat; width: 14px; height: 11px; }

.vote-res__random { right: 55px; }
.vote-res__random i { background: url('../img/icons-sf1c682332c.png') 0 -2530px no-repeat; width: 14px; height: 11px; }
.vote-res__random.active i { background: url('../img/icons-sf1c682332c.png') 0 -2411px no-repeat; width: 14px; height: 11px; }

.materials { margin-bottom: 25px; }
.materials li { padding: 10px 0; border-top: 1px dotted #c6d0dc; font-size: 11px; color: #999999; }
.materials li:first-child { border: none; }
.materials a { color: #3b6ab7; }
.materials a:hover { color: #ED3C0C; text-decoration: underline; }
.materials span { font-size: 10px; color: #8a919d; }
.materials i { margin: 0 5px; color: #a4a4a4; font-size: 10px; }

.materials__title { margin-bottom: 5px; font-size: 18px; }

.likes { position: relative; margin-bottom: 15px; text-align: center; }

.likes__btns { position: relative; display: inline-block; padding: 0 7px; background: #fff; z-index: 10; }

.likes__line { position: absolute; top: 11px; left: 0; width: 100%; height: 1px; background: #d8d8d8; }

.facts { padding: 10px 13px 13px 13px; margin-bottom: 35px; background: #eff3fd; }
.facts ul { margin-right: -50px; overflow: hidden; }
.facts li { float: left; width: 205px; margin: 15px 25px 0 0; font-size: 0; }
.facts img { display: inline-block; margin-right: 10px; vertical-align: middle; }
.facts a { display: inline-block; width: 135px; max-height: 60px; font-weight: bold; font-size: 11px; color: #3b6ab7; line-height: 1.4; vertical-align: middle; overflow: hidden; text-overflow: ellipsis; }
.facts a:hover { color: #ED3C0C; text-decoration: underline; }

.facts__title { font-size: 18px; }

.comments { margin-bottom: 60px; }

.comments__list { margin-bottom: 20px; }
.comments__list p { margin-bottom: 10px; line-height: 1.3; }
.comments__list li { padding: 18px 0 16px 0; border-top: 1px solid #e8e8e8; }
.comments__list li:first-child { border: none; }

.comments__child { margin-left: 30px; }

.comments__title { position: relative; margin-bottom: 7px; font-size: 22px; font-weight: bold; }
.comments__title label { position: absolute; top: 7px; left: 290px; font-size: 11px; color: #5e5e5e; font-weight: normal; }
.comments__title input { position: absolute; top: 0px; left: -22px; }

.comments__user { height: 30px; margin-bottom: 10px; line-height: 30px; color: #788087; font-size: 11px; overflow: hidden; }
.comments__user img { float: left; margin-right: 10px; }
.comments__user a { font-weight: bold; color: #3b6ab7; }

.comments__detail { font-size: 11px; overflow: hidden; }
.comments__detail a, .comments__detail span { float: left; }
.comments__detail a { margin-right: 18px; padding-bottom: 1px; color: #596374; }
.comments__detail a:hover { text-decoration: underline; }
.comments__detail span { position: relative; padding-left: 27px; color: #999999; }
.comments__detail span.active { color: #db731e; }
.comments__detail span.active i { background: url('../img/icons-sf1c682332c.png') 0 -1709px no-repeat; width: 10px; height: 11px; }
.comments__detail i { position: absolute; top: 0; left: 11px; background: url('../img/icons-sf1c682332c.png') 0 -2073px no-repeat; width: 10px; height: 11px; }

.comments__add { padding: 12px 15px 15px 15px; background: #fafafa; }
.comments__add span { display: block; margin-bottom: 10px; font-size: 18px; }
.comments__add textarea { width: 638px; height: 135px; padding: 8px 10px; margin-bottom: 12px; border: 1px solid #bdbdbd; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset; box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; resize: none; font-family: Arial; }
.comments__add input, .comments__add button { height: 26px; margin-right: 13px; padding: 0 10px; background: #f8f8f8; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #eaeaea)); background-image: -webkit-linear-gradient(#f8f8f8, #eaeaea); background-image: -moz-linear-gradient(#f8f8f8, #eaeaea); background-image: -o-linear-gradient(#f8f8f8, #eaeaea); background-image: linear-gradient(#f8f8f8, #eaeaea); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px; box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-size: 12px; color: #000; cursor: pointer; }

.rate { position: relative; float: right; font-weight: bold; }
.rate span { float: left; }
.rate button { float: left; position: relative; width: 17px; height: 17px; margin: 7px 0 0 9px; -webkit-box-shadow: #e0e0e0 0px 0px 1px 1px inset; -moz-box-shadow: #e0e0e0 0px 0px 1px 1px inset; box-shadow: #e0e0e0 0px 0px 1px 1px inset; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #fff; }
.rate i { position: absolute; top: 4px; left: 4px; }

.rate_pos { color: #148c11; }

.rate_neg { color: #d50a0a; }

.rate__plus i { background: url('../img/icons-sf1c682332c.png') 0 -2868px no-repeat; width: 9px; height: 9px; }
.rate__plus.active { background: #cde6af; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset; box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset; }
.rate__plus.active i { background: url('../img/icons-sf1c682332c.png') 0 -2432px no-repeat; width: 9px; height: 10px; }

.rate__minus i { background: url('../img/icons-sf1c682332c.png') 0 -3030px no-repeat; width: 9px; height: 9px; }

.matches, .sport-news { padding: 3px; border: 1px solid #ececec; }

.matches { margin-bottom: 20px; }
.matches .play__team-1, .matches .play__team-2 { width: 34%; margin: 0 4%; padding: 2px 0; }
.matches .play__result { width: 16%; }
.matches .play__item:nth-child(2n) { background: #f7f7f7; }
.matches .play__item:nth-child(2n+1) { background: #fdfdfd; }

.matches__top { position: relative; padding: 10px 0 30px 10px; }
.matches__top .datepicker-out { top: 25px; left: -5px; }

.matches__title { font-size: 18px; }

.matches__chemp { padding: 10px; border-top: 1px solid #fdfdfd; border-bottom: 1px solid #bbb; background: #f9f9f9; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e6e6e6)); background-image: -webkit-linear-gradient(#f9f9f9, #e6e6e6); background-image: -moz-linear-gradient(#f9f9f9, #e6e6e6); background-image: -o-linear-gradient(#f9f9f9, #e6e6e6); background-image: linear-gradient(#f9f9f9, #e6e6e6); }
.matches__chemp span, .matches__chemp i { display: block; }
.matches__chemp span { margin-bottom: 5px; font-size: 12px; font-weight: bold; color: #000; }
.matches__chemp i { font-size: 10px; color: #767676; }

.matches__nav { margin-top: 1px; padding: 10px; border-top: 1px solid #ededed; overflow: hidden; }
.matches__nav li { float: left; margin-bottom: 3px; }
.matches__nav li:nth-child(2n+1) { width: 135px; }
.matches__nav a { font-size: 10px; color: #686868; }
.matches__nav a:hover { text-decoration: underline; }

.sport-news .sport-news__list { display: none; }

.sport-news__top { padding: 8px 7px; border-bottom: 2px solid #fbd10d; }
.sport-news__top span { display: block; margin-bottom: 10px; font-size: 18px; }
.sport-news__top button { height: 19px; margin-right: 8px; padding: 0 7px; background: #fbfbfb; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb); background-image: -moz-linear-gradient(#fbfbfb, #ebebeb); background-image: -o-linear-gradient(#fbfbfb, #ebebeb); background-image: linear-gradient(#fbfbfb, #ebebeb); -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px; box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-size: 11px; text-shadow: 0 1px 1px #fff; color: #000; }
.sport-news__top button.active { color: #939393; background: #f1f1f1; -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset; -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset; box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset; }

.athlete { position: relative; padding-bottom: 30px; margin-bottom: 25px; overflow: hidden; }
.athlete:after { bottom: 48px; -webkit-box-shadow: #93a9ba 0 15px 10px; -moz-box-shadow: #93a9ba 0 15px 10px; box-shadow: #93a9ba 0 15px 10px; }
.athlete .arrs-nav { bottom: 0; left: 0; }

.athlete__slider { position: relative; background: #f1f8fe; z-index: 10; }
.athlete__slider li { float: left; width: 144px; padding: 10px; }
.athlete__slider img { margin-bottom: 10px; }
.athlete__slider p { padding-top: 10px; font-size: 11px; color: #000; }
.athlete__slider a { color: #3b6ab7; }
.athlete__slider a:hover { text-decoration: underline; }
.athlete__slider span { color: #7e7e7e; }
.athlete__slider i { display: inline-block; margin-left: 6px; }

.athlete__name { font-weight: bold; }

.tags { position: absolute; bottom: 73px; left: 0; width: 164px; }
.tags .title { margin-bottom: 12px; border-bottom: 2px solid #fbd10d; }
.tags li { margin-bottom: 3px; }
.tags a { font-size: 11px; color: #5e5e5e; }
.tags a:hover { text-decoration: underline; }

.online-info { background: #f7f7f7; text-align: center; font-size: 0; }

.online-info__teams { height: 40px; padding: 25px 0 19px 0; line-height: 40px; }
.online-info__teams strong { display: inline-block; font-size: 24px; }
.online-info__teams a { color: #4e4e4e; }

.online-info__team-1, .online-info__team-2 { width: 280px; }
.online-info__team-1 a:hover, .online-info__team-2 a:hover { color: #ed3c0c; }

.online-info__team-1 { text-align: right; }

.online-info__team-2 { text-align: left; }

.online-info__count { width: auto; padding: 0 14px; margin: 0 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZhNmE2YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #2c2c2c), color-stop(100%, #6a6a6a)); background-image: -webkit-linear-gradient(bottom, #2c2c2c 0%, #6a6a6a 100%); background-image: -moz-linear-gradient(bottom, #2c2c2c 0%, #6a6a6a 100%); background-image: -o-linear-gradient(bottom, #2c2c2c 0%, #6a6a6a 100%); background-image: linear-gradient(bottom, #2c2c2c 0%, #6a6a6a 100%); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #fff; }
.online-info__count span { margin: 0 10px; }

.online-info__winner { color: #000; }

.online-info__time { display: inline-block; border-top: 1px solid #e1e1e1; }
.online-info__time span { display: block; width: 250px; padding: 15px 0; border-top: 1px solid #fff; font-size: 11px; font-weight: bold; color: #373737; }

.tabs { height: 39px; margin-bottom: 20px; border-bottom: 1px solid #ececec; }
.tabs ul { float: left; padding-left: 3px; }
.tabs li { float: left; margin-right: 34px; }
.tabs a { display: block; padding: 13px 0; font-size: 13px; color: #3b6ab7; }
.tabs a:hover { text-decoration: none; }
.tabs a.active { padding: 13px 0 12px 0; border-bottom: 2px solid #0a94e3; color: #000; }
.tabs a.disabled { color: #b4b4b4; }

.tabs__share { float: right; margin: 14px 13px 0 0; background: url('../img/icons-sf1c682332c.png') 0 -2006px no-repeat; width: 12px; height: 12px; }

.team-players { position: relative; margin-bottom: 20px; border: 1px solid #ececec; }
.team-players .list { padding-top: 10px; overflow: hidden; }
.team-players .list ul { float: left; width: 250px; }
.team-players .list li { position: relative; padding: 14px 16px; border-top: 1px solid #ececec; overflow: hidden; }
.team-players .list li:first-child { border: none; }
.team-players .list__first { margin-left: 70px; }
.team-players .list__first .player__name { text-align: right; }
.team-players .list__first .player__detail strong, .team-players .list__first .player__detail span { float: right; margin-left: 10px; }
.team-players .list__first .player__pic { float: right; margin-left: 11px; }
.team-players .list__first .ico-change-in, .team-players .list__first .ico-change-out { right: 0; }
.team-players .list__second { margin-left: 50px; }
.team-players .list__second .player__name { text-align: left; }
.team-players .list__second .player__detail strong, .team-players .list__second .player__detail span { float: left; margin-right: 10px; }
.team-players .list__second .player__pic { float: left; margin-right: 11px; }
.team-players .list__second .ico-change-in, .team-players .list__second .ico-change-out { left: 0; }
.team-players .player__pic img { display: block; }
.team-players .player__name, .team-players .player__detail { font-size: 13px; text-align: right; overflow: hidden; }
.team-players .player__name { margin-bottom: 7px; }
.team-players .player__name a { color: #4e4e4e; }
.team-players .player__detail strong, .team-players .player__detail span { height: 14px; line-height: 14px; }
.team-players .player__detail span { font-size: 10px; color: #999; }
.team-players .player__detail strong { font-weight: normal; color: #676767; }
.team-players .player__detail strong i { margin-top: 3px; }
.team-players .player__detail i { float: left; margin-right: 5px; }
.team-players .ico-change-in, .team-players .ico-change-out { position: absolute; top: 27px; }

.team-players_after { border: none; }

.team-players__title { padding: 25px 0 5px 0; font-size: 15px; text-align: center; color: #000; }

.online-players { margin-bottom: 20px; overflow: hidden; }
.online-players ul { float: left; width: 50%; }
.online-players li { position: relative; margin-bottom: 10px; }
.online-players i { position: absolute; top: 0; }

.online-players__team-1 li { padding-right: 40px; text-align: right; }
.online-players__team-1 i { right: 20px; }

.online-players__team-2 li { padding-left: 40px; text-align: left; }
.online-players__team-2 i { left: 20px; }

.online-type { position: relative; height: 28px; margin-bottom: 20px; padding: 7px 10px 8px 10px; border: 1px solid #ececec; }
.online-type:after { content: " "; position: absolute; bottom: -3px; left: 4px; right: 4px; height: 2px; background: #ececec; }

.online-type_mod { margin: 0; }

.online-type__ether, .online-type__audio { position: relative; float: left; height: 28px; margin-right: 33px; line-height: 28px; font-size: 13px; font-weight: bold; }
.online-type__ether i, .online-type__audio i { position: absolute; left: 0; }

.online-type__ether { padding-left: 45px; }
.online-type__ether i { top: 0; background: url('../img/icons-sf1c682332c.png') 0 -1546px no-repeat; width: 37px; height: 28px; }

.online-type__audio { padding-left: 45px; }
.online-type__audio i { top: -2px; background: url('../img/icons-sf1c682332c.png') 0 -929px no-repeat; width: 31px; height: 30px; }

.online-type__pari { float: right; margin-top: 2px; background: url('../img/icons-sf1c682332c.png') 0 -84px no-repeat; width: 116px; height: 25px; }

.online-event { margin-bottom: 20px; }
.online-event table { width: 100%; }
.online-event tr { border-top: 1px dotted #c6d0dc; }
.online-event tr:first-child { border: none; }
.online-event td { padding: 15px 10px; vertical-align: top; line-height: 1.5; }
.online-event i { margin-top: 3px; }
.online-event .more { padding: 5px 0 2px 0; }
.online-event .more button { float: left; }
.online-event .more i { margin: 0; }

.other-matches, .statistics-match { padding: 0 3px; border: 1px solid #ececec; }
.other-matches .title, .statistics-match .title { padding: 10px 0 10px 9px; border-bottom: 2px solid #ff5b01; }
.other-matches table, .statistics-match table { width: 100%; }
.other-matches tr, .statistics-match tr { border-top: 1px dotted #c6d0dc; }
.other-matches tr:first-child, .statistics-match tr:first-child { border: none; }
.other-matches td, .statistics-match td { padding: 10px 0; vertical-align: top; line-height: 1.2; }
.other-matches td:first-child, .statistics-match td:first-child { width: 25px; padding: 10px 5px; text-align: center; }
.other-matches .play__item, .statistics-match .play__item { padding: 10px 0; background: #f7f7f7; }
.other-matches .play__team-1, .other-matches .play__team-2, .statistics-match .play__team-1, .statistics-match .play__team-2 { width: 34%; margin: 0 4%; padding: 2px 0; }
.other-matches .play__result, .statistics-match .play__result { width: 16%; }

.other-matches { position: relative; margin-bottom: 50px; }
.other-matches td { padding: 10px 0; vertical-align: top; line-height: 1.2; }
.other-matches td:first-child { width: 25px; padding: 10px 5px; text-align: center; }
.other-matches .navi { left: 10px; bottom: -22px; }
.other-matches .arrs-nav { right: 10px; bottom: -27px; }

.statistics-match td { padding: 10px; text-align: center; }
