/* line 5, ../scss/inner.scss */
.menu {
  padding: 15px 0 15px 24px;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(60%, #ffffff), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(#ffffff 60%, #fafafa);
  background-image: -moz-linear-gradient(#ffffff 60%, #fafafa);
  background-image: -o-linear-gradient(#ffffff 60%, #fafafa);
  background-image: linear-gradient(#ffffff 60%, #fafafa);
  overflow: hidden;
}
/* line 10, ../scss/inner.scss */
.menu li {
  float: left;
  margin-right: 15px;
}
/* line 14, ../scss/inner.scss */
.menu a {
  font-size: 12px;
  color: #5e5e5e;
}
/* line 17, ../scss/inner.scss */
.menu a:hover {
  text-decoration: underline;
}

/* line 23, ../scss/inner.scss */
.news-title {
  margin-bottom: 10px;
}
/* line 25, ../scss/inner.scss */
.news-title h2 {
  margin-bottom: 5px;
  font-size: 24px;
}
/* line 29, ../scss/inner.scss */
.news-title p {
  font-size: 15px;
  line-height: 1.3;
  color: #676767;
}

/* line 36, ../scss/inner.scss */
.author-wrap {
  position: relative;
  height: 50px;
  border: 1px solid #ebebeb;
}

/* line 41, ../scss/inner.scss */
.author {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 164px;
  padding: 20px 9px 9px 9px;
  z-index: 10;
}
/* line 48, ../scss/inner.scss */
.author.hover {
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
}

/* line 53, ../scss/inner.scss */
.author__detail, .news-info {
  padding: 10px 0;
}
/* line 55, ../scss/inner.scss */
.author__detail a, .author__detail span, .news-info a, .news-info span {
  position: relative;
  padding-left: 35px;
  font-size: 10px;
  color: #7e7e7e;
}
/* line 62, ../scss/inner.scss */
.author__detail a:hover, .news-info a:hover {
  text-decoration: underline;
}
/* line 66, ../scss/inner.scss */
.author__detail i, .news-info i {
  position: absolute;
  left: 14px;
}

/* line 71, ../scss/inner.scss */
.author__detail {
  display: none;
  border-top: 1px dotted #c6d0dc;
}
/* line 74, ../scss/inner.scss */
.author__detail li {
  padding: 5px 0;
}
/* line 77, ../scss/inner.scss */
.author__detail i {
  top: 0;
}

/* line 81, ../scss/inner.scss */
.author__name {
  overflow: hidden;
}
/* line 83, ../scss/inner.scss */
.author__name img {
  float: left;
  margin: 0 8px 10px 11px;
}
/* line 87, ../scss/inner.scss */
.author__name a {
  line-height: 1.3;
  font-size: 11px;
  color: #373737;
  cursor: pointer;
}
/* line 92, ../scss/inner.scss */
.author__name a:hover {
  color: #3b6ab7;
  text-decoration: underline;
}

/* line 98, ../scss/inner.scss */
.author__send {
  background: url('../img/icons-s977c957dc9.png') 0 -1802px no-repeat;
  width: 12px;
  height: 11px;
}

/* line 101, ../scss/inner.scss */
.author__error {
  background: url('../img/icons-s977c957dc9.png') 0 -1743px no-repeat;
  width: 12px;
  height: 11px;
}

/* line 104, ../scss/inner.scss */
.author__print {
  background: url('../img/icons-s977c957dc9.png') 0 -2025px no-repeat;
  width: 12px;
  height: 11px;
}

/* line 108, ../scss/inner.scss */
.news-social {
  position: relative;
  padding: 15px 0 15px 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0;
}
/* line 113, ../scss/inner.scss */
.news-social li {
  display: inline-block;
  margin-right: 2px;
}
/* line 117, ../scss/inner.scss */
.news-social a {
  display: block;
}

/* line 121, ../scss/inner.scss */
.news-social__another {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 144px;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  font-size: 12px;
  z-index: 10;
}

/* line 133, ../scss/inner.scss */
.news-social__fb {
  background: url('../img/icons-s977c957dc9.png') 0 -1281px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 135, ../scss/inner.scss */
.news-social__fb:hover {
  background: url('../img/icons-s977c957dc9.png') 0 -1045px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 139, ../scss/inner.scss */
.news-social__vk {
  background: url('../img/icons-s977c957dc9.png') 0 -1191px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 141, ../scss/inner.scss */
.news-social__vk:hover {
  background: url('../img/icons-s977c957dc9.png') 0 -942px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 145, ../scss/inner.scss */
.news-social__tw {
  background: url('../img/icons-s977c957dc9.png') 0 -1225px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 147, ../scss/inner.scss */
.news-social__tw:hover {
  background: url('../img/icons-s977c957dc9.png') 0 -846px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 151, ../scss/inner.scss */
.news-social__gg {
  background: url('../img/icons-s977c957dc9.png') 0 -1011px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 153, ../scss/inner.scss */
.news-social__gg:hover {
  background: url('../img/icons-s977c957dc9.png') 0 -716px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 157, ../scss/inner.scss */
.news-social__ok {
  background: url('../img/icons-s977c957dc9.png') 0 -1135px no-repeat;
  width: 24px;
  height: 24px;
}
/* line 159, ../scss/inner.scss */
.news-social__ok:hover {
  background: url('../img/icons-s977c957dc9.png') 0 -812px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 163, ../scss/inner.scss */
.news-social__sh {
  background: url('../img/icons-s977c957dc9.png') 0 -269px no-repeat;
  width: 16px;
  height: 24px;
}
/* line 165, ../scss/inner.scss */
.news-social__sh:hover {
  background: url('../img/icons-s977c957dc9.png') 0 -303px no-repeat;
  width: 16px;
  height: 24px;
}
/* line 167, ../scss/inner.scss */
.news-social__sh:hover .news-social__another {
  display: block;
}

/* line 172, ../scss/inner.scss */
.news-info {
  border-bottom: 1px dotted #c6d0dc;
}
/* line 174, ../scss/inner.scss */
.news-info li {
  padding: 4px 0;
}
/* line 177, ../scss/inner.scss */
.news-info i {
  top: 1px;
}

/* line 181, ../scss/inner.scss */
.news-info__date {
  background: url('../img/icons-s977c957dc9.png') 0 -1448px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 184, ../scss/inner.scss */
.news-info__views {
  background: url('../img/icons-s977c957dc9.png') 0 -1471px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 187, ../scss/inner.scss */
.news-info__comms {
  background: url('../img/icons-s977c957dc9.png') 0 -1865px no-repeat;
  width: 13px;
  height: 13px;
}

/* line 191, ../scss/inner.scss */
.pari-match {
  padding: 15px 0;
  text-align: center;
}
/* line 194, ../scss/inner.scss */
.pari-match a {
  display: inline-block;
  background: url('../img/icons-s977c957dc9.png') 0 -84px no-repeat;
  width: 116px;
  height: 25px;
}

/* line 202, ../scss/inner.scss */
.content figure img {
  display: block;
  margin-bottom: 10px;
}
/* line 207, ../scss/inner.scss */
.content figcaption {
  font-size: 10px;
  color: #7e7e7e;
}
/* line 211, ../scss/inner.scss */
.content h3 {
  margin: 20px 0 15px 0;
  font-size: 17px;
  color: #373737;
}
/* line 216, ../scss/inner.scss */
.content p {
  line-height: 1.5;
}

/* line 221, ../scss/inner.scss */
.link-man {
  color: #373737;
  border-bottom: 1px dotted #89a6d4;
}

/* line 226, ../scss/inner.scss */
.news-label {
  margin: 20px 0;
}
/* line 228, ../scss/inner.scss */
.news-label a {
  font-size: 11px;
  color: #8b8b8b;
}
/* line 231, ../scss/inner.scss */
.news-label a:hover {
  text-decoration: underline;
}

/* line 237, ../scss/inner.scss */
.vote-res {
  position: relative;
  margin-bottom: 40px;
  background: #fafafa;
}
/* line 242, ../scss/inner.scss */
.vote-res ul {
  padding: 0 0 10px 15px;
  border-bottom: 1px dotted #d7d7d7;
}
/* line 246, ../scss/inner.scss */
.vote-res li {
  padding-bottom: 20px;
  overflow: hidden;
}

/* line 251, ../scss/inner.scss */
.vote-res__title {
  padding: 20px 0 20px 15px;
  font-size: 17px;
  font-weight: bold;
}

/* line 256, ../scss/inner.scss */
.vote-res__val, .vote-res__party {
  float: left;
}

/* line 259, ../scss/inner.scss */
.vote-res__val {
  width: 50px;
}
/* line 261, ../scss/inner.scss */
.vote-res__val span {
  display: block;
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}
/* line 267, ../scss/inner.scss */
.vote-res__val i {
  font-size: 10px;
  color: #aeaeae;
}

/* line 272, ../scss/inner.scss */
.vote-res__party {
  width: 400px;
}
/* line 274, ../scss/inner.scss */
.vote-res__party span {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

/* line 280, ../scss/inner.scss */
.vote-res__scale {
  height: 3px;
  border: 1px solid #d2d2d2;
}

/* line 284, ../scss/inner.scss */
.vote-res__scale_won {
  border-top: 1px solid #72c7ff;
  border-bottom: 1px solid #1db2ff;
  border-left: 1px solid #1db2ff;
  border-right: 1px solid #1db2ff;
  background: #5bbdfd;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyOGFkZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bbdfd), color-stop(100%, #228ade));
  background-image: -webkit-linear-gradient(#5bbdfd, #228ade);
  background-image: -moz-linear-gradient(#5bbdfd, #228ade);
  background-image: -o-linear-gradient(#5bbdfd, #228ade);
  background-image: linear-gradient(#5bbdfd, #228ade);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

/* line 293, ../scss/inner.scss */
.vote-res__sort {
  position: relative;
  padding: 10px 0 10px 15px;
  background: #fafafa;
  z-index: 10;
}
/* line 298, ../scss/inner.scss */
.vote-res__sort span {
  display: block;
  font-size: 11px;
  line-height: 1.6;
  color: #aeaeae;
}
/* line 304, ../scss/inner.scss */
.vote-res__sort button {
  position: absolute;
  top: 13px;
  width: 27px;
  height: 26px;
  background: #fbfbfb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -moz-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -o-linear-gradient(#fbfbfb, #ebebeb);
  background-image: linear-gradient(#fbfbfb, #ebebeb);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.05) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 2px;
}
/* line 313, ../scss/inner.scss */
.vote-res__sort button.active {
  background: #f1f1f1;
  -webkit-box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset;
  -moz-box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset;
  box-shadow: #c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset;
  border-bottom: 1px solid #fff;
}
/* line 319, ../scss/inner.scss */
.vote-res__sort i {
  position: absolute;
  top: 8px;
  left: 6px;
}

/* line 325, ../scss/inner.scss */
.vote-res__reduction {
  right: 15px;
}
/* line 327, ../scss/inner.scss */
.vote-res__reduction i {
  background: url('../img/icons-s977c957dc9.png') 0 -2106px no-repeat;
  width: 14px;
  height: 11px;
}
/* line 331, ../scss/inner.scss */
.vote-res__reduction.active i {
  background: url('../img/icons-s977c957dc9.png') 0 -2127px no-repeat;
  width: 14px;
  height: 11px;
}

/* line 336, ../scss/inner.scss */
.vote-res__random {
  right: 55px;
}
/* line 338, ../scss/inner.scss */
.vote-res__random i {
  background: url('../img/icons-s977c957dc9.png') 0 -2065px no-repeat;
  width: 14px;
  height: 11px;
}
/* line 342, ../scss/inner.scss */
.vote-res__random.active i {
  background: url('../img/icons-s977c957dc9.png') 0 -1946px no-repeat;
  width: 14px;
  height: 11px;
}

/* line 348, ../scss/inner.scss */
.materials {
  margin-bottom: 25px;
}
/* line 350, ../scss/inner.scss */
.materials li {
  padding: 10px 0;
  border-top: 1px dotted #c6d0dc;
  font-size: 11px;
  color: #999999;
}
/* line 355, ../scss/inner.scss */
.materials li:first-child {
  border: none;
}
/* line 359, ../scss/inner.scss */
.materials a {
  color: #3b6ab7;
}
/* line 361, ../scss/inner.scss */
.materials a:hover {
  color: #ED3C0C;
  text-decoration: underline;
}
/* line 366, ../scss/inner.scss */
.materials span {
  font-size: 10px;
  color: #8a919d;
}
/* line 370, ../scss/inner.scss */
.materials i {
  margin: 0 5px;
  color: #a4a4a4;
  font-size: 10px;
}

/* line 376, ../scss/inner.scss */
.materials__title {
  margin-bottom: 5px;
  font-size: 18px;
}

/* line 381, ../scss/inner.scss */
.likes {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

/* line 386, ../scss/inner.scss */
.likes__btns {
  position: relative;
  display: inline-block;
  padding: 0 7px;
  background: #fff;
  z-index: 10;
}

/* line 393, ../scss/inner.scss */
.likes__line {
  position: absolute;
  top: 11px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d8d8d8;
}

/* line 402, ../scss/inner.scss */
.facts {
  padding: 10px 13px 13px 13px;
  margin-bottom: 35px;
  background: #eff3fd;
}
/* line 406, ../scss/inner.scss */
.facts ul {
  margin-right: -50px;
  overflow: hidden;
}
/* line 410, ../scss/inner.scss */
.facts li {
  float: left;
  width: 205px;
  margin: 15px 25px 0 0;
  font-size: 0;
}
/* line 416, ../scss/inner.scss */
.facts img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 421, ../scss/inner.scss */
.facts a {
  display: inline-block;
  width: 135px;
  max-height: 60px;
  font-weight: bold;
  font-size: 11px;
  color: #3b6ab7;
  line-height: 1.4;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 432, ../scss/inner.scss */
.facts a:hover {
  color: #ED3C0C;
  text-decoration: underline;
}

/* line 438, ../scss/inner.scss */
.facts__title {
  font-size: 18px;
}

/* line 442, ../scss/inner.scss */
.comments {
  margin-bottom: 60px;
}

/* line 445, ../scss/inner.scss */
.comments__list {
  margin-bottom: 20px;
}
/* line 447, ../scss/inner.scss */
.comments__list p {
  margin-bottom: 10px;
  line-height: 1.3;
}
/* line 451, ../scss/inner.scss */
.comments__list li {
  padding: 18px 0 16px 0;
  border-top: 1px solid #e8e8e8;
}
/* line 454, ../scss/inner.scss */
.comments__list li:first-child {
  border: none;
}

/* line 459, ../scss/inner.scss */
.comments__child {
  margin-left: 30px;
}

/* line 462, ../scss/inner.scss */
.comments__title {
  position: relative;
  margin-bottom: 7px;
  font-size: 22px;
  font-weight: bold;
}
/* line 467, ../scss/inner.scss */
.comments__title label {
  position: absolute;
  top: 7px;
  left: 290px;
  font-size: 11px;
  color: #5e5e5e;
  font-weight: normal;
}
/* line 475, ../scss/inner.scss */
.comments__title input {
  position: absolute;
  top: 0px;
  left: -22px;
}

/* line 481, ../scss/inner.scss */
.comments__user {
  height: 30px;
  margin-bottom: 10px;
  line-height: 30px;
  color: #788087;
  font-size: 11px;
  overflow: hidden;
}
/* line 488, ../scss/inner.scss */
.comments__user img {
  float: left;
  margin-right: 10px;
}
/* line 492, ../scss/inner.scss */
.comments__user a {
  font-weight: bold;
  color: #3b6ab7;
}

/* line 497, ../scss/inner.scss */
.comments__detail {
  font-size: 11px;
  overflow: hidden;
}
/* line 500, ../scss/inner.scss */
.comments__detail a, .comments__detail span {
  float: left;
}
/* line 503, ../scss/inner.scss */
.comments__detail a {
  margin-right: 18px;
  padding-bottom: 1px;
  color: #596374;
}
/* line 507, ../scss/inner.scss */
.comments__detail a:hover {
  text-decoration: underline;
}
/* line 511, ../scss/inner.scss */
.comments__detail span {
  position: relative;
  padding-left: 27px;
  color: #999999;
}
/* line 515, ../scss/inner.scss */
.comments__detail span.active {
  color: #db731e;
}
/* line 517, ../scss/inner.scss */
.comments__detail span.active i {
  background: url('../img/icons-s977c957dc9.png') 0 -1360px no-repeat;
  width: 10px;
  height: 11px;
}
/* line 522, ../scss/inner.scss */
.comments__detail i {
  position: absolute;
  top: 0;
  left: 11px;
  background: url('../img/icons-s977c957dc9.png') 0 -1679px no-repeat;
  width: 10px;
  height: 11px;
}

/* line 529, ../scss/inner.scss */
.comments__add {
  padding: 12px 15px 15px 15px;
  background: #fafafa;
}
/* line 532, ../scss/inner.scss */
.comments__add span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
/* line 537, ../scss/inner.scss */
.comments__add textarea {
  width: 638px;
  height: 135px;
  padding: 8px 10px;
  margin-bottom: 12px;
  border: 1px solid #bdbdbd;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  resize: none;
  font-family: Arial;
}
/* line 548, ../scss/inner.scss */
.comments__add input, .comments__add button {
  height: 26px;
  margin-right: 13px;
  padding: 0 10px;
  background: #f8f8f8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(#f8f8f8, #eaeaea);
  background-image: -moz-linear-gradient(#f8f8f8, #eaeaea);
  background-image: -o-linear-gradient(#f8f8f8, #eaeaea);
  background-image: linear-gradient(#f8f8f8, #eaeaea);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}

/* line 562, ../scss/inner.scss */
.rate {
  position: relative;
  float: right;
  font-weight: bold;
}
/* line 566, ../scss/inner.scss */
.rate span {
  float: left;
}
/* line 569, ../scss/inner.scss */
.rate button {
  float: left;
  position: relative;
  width: 17px;
  height: 17px;
  margin: 7px 0 0 9px;
  -webkit-box-shadow: #e0e0e0 0px 0px 1px 1px inset;
  -moz-box-shadow: #e0e0e0 0px 0px 1px 1px inset;
  box-shadow: #e0e0e0 0px 0px 1px 1px inset;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
}
/* line 579, ../scss/inner.scss */
.rate i {
  position: absolute;
  top: 4px;
  left: 4px;
}

/* line 585, ../scss/inner.scss */
.rate_pos {
  color: #148c11;
}

/* line 588, ../scss/inner.scss */
.rate_neg {
  color: #d50a0a;
}

/* line 592, ../scss/inner.scss */
.rate__plus i {
  background: url('../img/icons-s977c957dc9.png') 0 -2366px no-repeat;
  width: 9px;
  height: 9px;
}
/* line 595, ../scss/inner.scss */
.rate__plus.active {
  background: #cde6af;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset;
}
/* line 598, ../scss/inner.scss */
.rate__plus.active i {
  background: url('../img/icons-s977c957dc9.png') 0 -1967px no-repeat;
  width: 9px;
  height: 10px;
}

/* line 604, ../scss/inner.scss */
.rate__minus i {
  background: url('../img/icons-s977c957dc9.png') 0 -2500px no-repeat;
  width: 9px;
  height: 9px;
}

/* line 609, ../scss/inner.scss */
.matches, .sport-news {
  padding: 3px;
  border: 1px solid #ececec;
}

/* line 613, ../scss/inner.scss */
.matches {
  margin-bottom: 20px;
}
/* line 615, ../scss/inner.scss */
.matches .play__team-1, .matches .play__team-2 {
  width: 87px;
}
/* line 619, ../scss/inner.scss */
.matches .play__item:nth-child(2n) {
  background: #f7f7f7;
}
/* line 622, ../scss/inner.scss */
.matches .play__item:nth-child(2n+1) {
  background: #fdfdfd;
}

/* line 627, ../scss/inner.scss */
.matches__top {
  position: relative;
  padding: 10px 0 30px 10px;
}
/* line 630, ../scss/inner.scss */
.matches__top .datepicker-out {
  top: 25px;
  left: -5px;
}

/* line 635, ../scss/inner.scss */
.matches__title {
  font-size: 18px;
}

/* line 638, ../scss/inner.scss */
.matches__chemp {
  padding: 10px;
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #bbb;
  background: #f9f9f9;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: -moz-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: -o-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: linear-gradient(#f9f9f9, #e6e6e6);
}
/* line 644, ../scss/inner.scss */
.matches__chemp span, .matches__chemp i {
  display: block;
}
/* line 647, ../scss/inner.scss */
.matches__chemp span {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
/* line 653, ../scss/inner.scss */
.matches__chemp i {
  font-size: 10px;
  color: #767676;
}

/* line 658, ../scss/inner.scss */
.matches__nav {
  margin-top: 1px;
  padding: 10px;
  border-top: 1px solid #ededed;
  overflow: hidden;
}
/* line 663, ../scss/inner.scss */
.matches__nav li {
  float: left;
  margin-bottom: 3px;
}
/* line 666, ../scss/inner.scss */
.matches__nav li:nth-child(2n+1) {
  width: 135px;
}
/* line 670, ../scss/inner.scss */
.matches__nav a {
  font-size: 10px;
  color: #686868;
}
/* line 673, ../scss/inner.scss */
.matches__nav a:hover {
  text-decoration: underline;
}

/* line 680, ../scss/inner.scss */
.sport-news .sport-news__list {
  display: none;
}

/* line 684, ../scss/inner.scss */
.sport-news__top {
  padding: 8px 7px;
  border-bottom: 2px solid #fbd10d;
}
/* line 687, ../scss/inner.scss */
.sport-news__top span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
/* line 692, ../scss/inner.scss */
.sport-news__top button {
  height: 19px;
  margin-right: 8px;
  padding: 0 7px;
  background: #fbfbfb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -moz-linear-gradient(#fbfbfb, #ebebeb);
  background-image: -o-linear-gradient(#fbfbfb, #ebebeb);
  background-image: linear-gradient(#fbfbfb, #ebebeb);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 1px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  text-shadow: 0 1px 1px #fff;
  color: #000;
}
/* line 703, ../scss/inner.scss */
.sport-news__top button.active {
  color: #939393;
  background: #f1f1f1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 2px 1px inset;
}

/* line 710, ../scss/inner.scss */
.athlete {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 25px;
  overflow: hidden;
}
/* line 716, ../scss/inner.scss */
.athlete:after {
  bottom: 48px;
  -webkit-box-shadow: #93a9ba 0 15px 10px;
  -moz-box-shadow: #93a9ba 0 15px 10px;
  box-shadow: #93a9ba 0 15px 10px;
}
/* line 720, ../scss/inner.scss */
.athlete .caroufredsel_wrapper {
  background: #f1f8fe;
}
/* line 723, ../scss/inner.scss */
.athlete .arrs-nav {
  bottom: 0;
  left: 0;
}

/* line 728, ../scss/inner.scss */
.athlete__slider {
  position: relative;
  z-index: 10;
}
/* line 731, ../scss/inner.scss */
.athlete__slider li {
  float: left;
  width: 144px;
  padding: 10px;
}
/* line 736, ../scss/inner.scss */
.athlete__slider img {
  margin-bottom: 10px;
}
/* line 739, ../scss/inner.scss */
.athlete__slider p {
  padding-top: 10px;
  font-size: 11px;
  color: #000;
}
/* line 744, ../scss/inner.scss */
.athlete__slider a {
  color: #3b6ab7;
}
/* line 746, ../scss/inner.scss */
.athlete__slider a:hover {
  text-decoration: underline;
}
/* line 750, ../scss/inner.scss */
.athlete__slider span {
  color: #7e7e7e;
}
/* line 753, ../scss/inner.scss */
.athlete__slider i {
  display: inline-block;
  margin-left: 6px;
  width: 16px;
  height: 9px;
}

/* line 760, ../scss/inner.scss */
.athlete__name {
  font-weight: bold;
}

/* line 764, ../scss/inner.scss */
.tags {
  position: absolute;
  bottom: 73px;
  left: 0;
  width: 164px;
}
/* line 769, ../scss/inner.scss */
.tags .title {
  margin-bottom: 12px;
  border-bottom: 2px solid #fbd10d;
}
/* line 773, ../scss/inner.scss */
.tags li {
  margin-bottom: 3px;
}
/* line 776, ../scss/inner.scss */
.tags a {
  font-size: 11px;
  color: #5e5e5e;
}
/* line 779, ../scss/inner.scss */
.tags a:hover {
  text-decoration: underline;
}
