/*cols*/
/* line 3, ../scss/layouts.scss */
.cols {
  padding: 0 20px;
  overflow: hidden;
}

/* line 7, ../scss/layouts.scss */
.cols_no-pad {
  position: relative;
  padding: 0;
}
/* line 10, ../scss/layouts.scss */
.cols_no-pad .col-5 {
  padding-bottom: 200px;
}

/* line 14, ../scss/layouts.scss */
.col-1 {
  float: left;
  width: 690px;
}

/* line 18, ../scss/layouts.scss */
.col-2 {
  float: right;
  width: 240px;
}

/* line 22, ../scss/layouts.scss */
.col-3 {
  float: left;
  width: 380px;
}

/* line 26, ../scss/layouts.scss */
.col-4 {
  float: right;
  width: 287px;
}

/* line 30, ../scss/layouts.scss */
.col-5 {
  float: left;
  width: 164px;
}

/* line 34, ../scss/layouts.scss */
.col-6 {
  float: right;
  width: 503px;
}
