/*main*/
/*main-post*/
/* line 7, ../scss/main.scss */
.main-post {
  min-height: 425px;
}
/* line 9, ../scss/main.scss */
.main-post p {
  color: #373737;
  line-height: 1.3;
}

/* line 14, ../scss/main.scss */
.main-post__title {
  margin: 15px 0;
}
/* line 16, ../scss/main.scss */
.main-post__title a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #3b6ab7;
}
/* line 22, ../scss/main.scss */
.main-post__title i {
  position: absolute;
  top: 8px;
  right: -26px;
  background: url('../img/icons-s037ff348d4.png') 0 -390px no-repeat;
  width: 15px;
  height: 9px;
}

/*main-news*/
/* line 30, ../scss/main.scss */
.main-news {
  position: relative;
  width: 287px;
  height: 385px;
  margin-bottom: 40px;
  overflow: hidden;
}

/* line 37, ../scss/main.scss */
.main-news__items {
  float: left;
  width: 287px;
}

/* line 41, ../scss/main.scss */
.main-news__item {
  overflow: hidden;
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px dotted #c6d0dc;
}
/* line 46, ../scss/main.scss */
.main-news__item img {
  float: left;
  margin-right: 10px;
}
/* line 50, ../scss/main.scss */
.main-news__item a {
  font-size: 12px;
  font-weight: bold;
  color: #3b6ab7;
  line-height: 1.3;
}
/* line 56, ../scss/main.scss */
.main-news__item p {
  margin-top: 2px;
  font-size: 11px;
  color: #4a4a4a;
  line-height: 1.3;
}

/* line 63, ../scss/main.scss */
.main-news__nav {
  bottom: 0;
  right: 26px;
}

/*result*/
/* line 68, ../scss/main.scss */
.result {
  font-family: Verdana, Tahoma, sans-serif;
}
/* line 70, ../scss/main.scss */
.result .h2 {
  border-bottom: 2px solid #a5a5a5;
}

/* line 74, ../scss/main.scss */
.result__title {
  position: relative;
  padding: 11px 0 11px 9px;
  background: #f9f9f9;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: -moz-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: -o-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: linear-gradient(#f9f9f9, #e6e6e6);
  border-bottom: 1px solid #bbb;
}
/* line 80, ../scss/main.scss */
.result__title b, .result__title span {
  display: block;
  font-family: Verdana, Tahoma, sans-serif;
}
/* line 84, ../scss/main.scss */
.result__title b {
  font-size: 12px;
  padding-bottom: 5px;
}
/* line 88, ../scss/main.scss */
.result__title span {
  font-size: 10px;
  color: #767676;
}
/* line 92, ../scss/main.scss */
.result__title button {
  position: absolute;
  top: 50%;
  height: 18px;
  margin-top: -9px;
}
/* line 98, ../scss/main.scss */
.result__title .btn-orange {
  right: 35px;
  width: 84px;
}

/* line 103, ../scss/main.scss */
.result__nav {
  height: 25px;
  padding-left: 8px;
  line-height: 25px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #bbb;
  background: #ededed;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #e7e7e7));
  background-image: -webkit-linear-gradient(#ededed, #e7e7e7);
  background-image: -moz-linear-gradient(#ededed, #e7e7e7);
  background-image: -o-linear-gradient(#ededed, #e7e7e7);
  background-image: linear-gradient(#ededed, #e7e7e7);
  font-family: Verdana,Tahoma,sans-serif;
  font-size: 10px;
}
/* line 113, ../scss/main.scss */
.result__nav a, .result__nav span {
  float: left;
  margin-right: 8px;
}
/* line 117, ../scss/main.scss */
.result__nav a {
  color: #686868;
}
/* line 120, ../scss/main.scss */
.result__nav span {
  color: #c9c9c9;
}

/*photo report*/
/* line 125, ../scss/main.scss */
.photo-report {
  margin-top: 30px;
}
/* line 127, ../scss/main.scss */
.photo-report .h2 {
  border-bottom: 2px solid #fbd10d;
  margin-bottom: 15px;
}

/* line 132, ../scss/main.scss */
.photo-report__slider {
  position: relative;
  width: 380px;
  height: 555px;
  overflow: hidden;
}
/* line 137, ../scss/main.scss */
.photo-report__slider .navi {
  position: absolute;
  left: 70px;
}

/* line 142, ../scss/main.scss */
.photo-report__item {
  float: left;
  width: 410px;
}
/* line 145, ../scss/main.scss */
.photo-report__item li {
  display: inline-block;
  width: 180px;
  margin: 0 20px 20px 0;
}
/* line 150, ../scss/main.scss */
.photo-report__item a {
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #3b6ab7;
  font-size: 12px;
  line-height: 1.3;
}
/* line 156, ../scss/main.scss */
.photo-report__item a:hover {
  color: #ed3c0c;
  text-decoration: underline;
}

/* line 162, ../scss/main.scss */
.photo-report__pic {
  position: relative;
  margin-bottom: 3px;
}

/* line 166, ../scss/main.scss */
.photo-report__nav {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*pop-news*/
/* line 172, ../scss/main.scss */
.pop-news {
  margin-top: 40px;
}
/* line 174, ../scss/main.scss */
.pop-news .h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid #ff5b01;
}
/* line 178, ../scss/main.scss */
.pop-news li {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px dotted #c6d0dc;
  overflow: hidden;
}
/* line 183, ../scss/main.scss */
.pop-news li img {
  float: left;
  margin-right: 20px;
}
/* line 187, ../scss/main.scss */
.pop-news li a {
  font-weight: bold;
  color: #3b6ab7;
  font-size: 12px;
}
/* line 192, ../scss/main.scss */
.pop-news li p {
  margin: 3px 0;
  font-size: 11px;
  color: #4a4a4a;
  line-height: 1.2;
}
/* line 198, ../scss/main.scss */
.pop-news li span {
  font-size: 10px;
  color: #999;
}
/* line 202, ../scss/main.scss */
.pop-news li span.pop-news__date {
  color: #8a919d;
}
/* line 205, ../scss/main.scss */
.pop-news li em {
  margin: 0 5px;
  font-style: normal;
  color: #b7bec9;
}
/* line 210, ../scss/main.scss */
.pop-news li:first-child {
  margin: 0;
  padding: 0;
  border: none;
}

/*all news*/
/* line 218, ../scss/main.scss */
.all-news {
  margin-bottom: 50px;
}
/* line 220, ../scss/main.scss */
.all-news .h2 {
  border-bottom: 2px solid #ff5b01;
}
/* line 223, ../scss/main.scss */
.all-news li {
  padding: 10px 0;
  border-top: 1px dotted #c6d0dc;
}
/* line 226, ../scss/main.scss */
.all-news li p {
  position: relative;
  padding-left: 35px;
  line-height: 1.3;
  font-size: 11px;
  color: #999;
}
/* line 232, ../scss/main.scss */
.all-news li p .link-comm {
  margin-left: 10px;
}
/* line 236, ../scss/main.scss */
.all-news li a {
  color: #3b6ab7;
}
/* line 239, ../scss/main.scss */
.all-news li:hover {
  background: #fffce5;
}
/* line 241, ../scss/main.scss */
.all-news li:hover p {
  color: #000;
}
/* line 244, ../scss/main.scss */
.all-news li:hover a {
  color: #ed3c0c;
  text-decoration: underline;
}
/* line 249, ../scss/main.scss */
.all-news li:first-child {
  border: none;
}

/* line 254, ../scss/main.scss */
.all-news__time {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 10px;
  color: #8a919d;
}

/*best blog*/
/* line 262, ../scss/main.scss */
.best-blog {
  margin-bottom: 15px;
}
/* line 264, ../scss/main.scss */
.best-blog .h2 {
  border-bottom: 2px solid #fbd10d;
}

/* line 268, ../scss/main.scss */
.best-blog__title {
  margin-top: 20px;
}
/* line 270, ../scss/main.scss */
.best-blog__title b {
  display: block;
  margin-bottom: 7px;
  font-size: 11px;
  color: #646e87;
}
/* line 276, ../scss/main.scss */
.best-blog__title a {
  font-size: 15px;
  color: #3b6ab7;
  font-weight: bold;
}
/* line 281, ../scss/main.scss */
.best-blog__title img {
  margin-top: 10px;
  border-bottom: 1px dotted #c6d0dc;
}

/* line 286, ../scss/main.scss */
.best-blog__user {
  margin-top: 6px;
  overflow: hidden;
}
/* line 289, ../scss/main.scss */
.best-blog__user img {
  float: left;
  margin-right: 8px;
}
/* line 293, ../scss/main.scss */
.best-blog__user a {
  font-size: 11px;
  color: #3b6ab7;
}
/* line 297, ../scss/main.scss */
.best-blog__user span {
  margin-top: 2px;
  font-size: 10px;
  display: block;
  color: #999;
}

/* line 304, ../scss/main.scss */
.best-blog__desc {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 308, ../scss/main.scss */
.best-blog__desc p {
  margin-bottom: 10px;
  font-size: 11px;
  color: #4a4a4a;
  line-height: 1.3;
}
/* line 314, ../scss/main.scss */
.best-blog__desc a {
  font-size: 11px;
  color: #3b6ab7;
}

/* line 319, ../scss/main.scss */
.best-blog__deatail {
  padding-top: 15px;
}
/* line 321, ../scss/main.scss */
.best-blog__deatail .link-comm {
  float: left;
  font-weight: normal;
  color: #000;
}
/* line 325, ../scss/main.scss */
.best-blog__deatail .link-comm i {
  top: 1px;
}
/* line 328, ../scss/main.scss */
.best-blog__deatail .link-comm span {
  margin-left: 5px;
  color: #2EA90D;
}
/* line 333, ../scss/main.scss */
.best-blog__deatail .link-star, .best-blog__deatail .link-share {
  float: left;
  margin-left: 35px;
}
/* line 338, ../scss/main.scss */
.best-blog__deatail .link-star i {
  top: 0;
}

/* line 343, ../scss/main.scss */
.best-blog__min-pl {
  position: relative;
  float: right;
  margin-top: -3px;
  width: 62px;
}
/* line 348, ../scss/main.scss */
.best-blog__min-pl em {
  position: absolute;
  top: 9px;
  left: 20px;
  width: 22px;
  height: 1px;
  background: #e0e0e0;
}
/* line 356, ../scss/main.scss */
.best-blog__min-pl span {
  position: relative;
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
/* line 364, ../scss/main.scss */
.best-blog__min-pl span i {
  position: absolute;
  top: 4px;
  left: 4px;
}
/* line 370, ../scss/main.scss */
.best-blog__min-pl .best-blog__minus {
  float: left;
}
/* line 372, ../scss/main.scss */
.best-blog__min-pl .best-blog__minus i {
  background: url('../img/icons-s037ff348d4.png') 0 -557px no-repeat;
  width: 9px;
  height: 9px;
}
/* line 376, ../scss/main.scss */
.best-blog__min-pl .best-blog__plus {
  float: right;
}
/* line 378, ../scss/main.scss */
.best-blog__min-pl .best-blog__plus i {
  background: url('../img/icons-s037ff348d4.png') 0 -523px no-repeat;
  width: 9px;
  height: 9px;
}

/*main videos*/
/* line 384, ../scss/main.scss */
.main-videos {
  margin-bottom: 30px;
  background: #eff3fd;
}

/* line 388, ../scss/main.scss */
.main-videos__item {
  padding: 0 12px 17px 12px;
  border-bottom: 1px solid #e0e5f4;
  border-top: 1px solid #fff;
}
/* line 392, ../scss/main.scss */
.main-videos__item .h2 {
  height: 40px;
  line-height: 40px;
}
/* line 396, ../scss/main.scss */
.main-videos__item a {
  font-size: 13px;
  color: #3b6ab7;
  font-weight: bold;
  line-height: 1.3;
}
/* line 401, ../scss/main.scss */
.main-videos__item a:hover {
  border-bottom: 1px solid #acbfe2;
}

/* line 406, ../scss/main.scss */
.main-videos__play {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
}
/* line 410, ../scss/main.scss */
.main-videos__play img {
  display: block;
}
/* line 413, ../scss/main.scss */
.main-videos__play em, .main-videos__play i {
  position: absolute;
}
/* line 416, ../scss/main.scss */
.main-videos__play em {
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  background: url('../img/icons-s037ff348d4.png') 0 -74px no-repeat;
  width: 65px;
  height: 65px;
}
/* line 422, ../scss/main.scss */
.main-videos__play i {
  left: 0;
  bottom: 0;
  background: url('../img/icons-s037ff348d4.png') 0 -305px no-repeat;
  width: 28px;
  height: 19px;
}

/* line 428, ../scss/main.scss */
.main-videos__list {
  margin-top: -1px;
  padding: 0 12px;
}
/* line 431, ../scss/main.scss */
.main-videos__list li {
  padding: 15px 0;
  border-top: 1px dotted #b8c4e3;
  overflow: hidden;
}
/* line 435, ../scss/main.scss */
.main-videos__list li .main-videos__play {
  float: left;
  margin-right: 12px;
}
/* line 439, ../scss/main.scss */
.main-videos__list li a {
  font-size: 11px;
  color: #3b6ab7;
  font-weight: bold;
}

/*webinar*/
/* line 447, ../scss/main.scss */
.webinar {
  position: relative;
  width: 260px;
  margin-bottom: 40px;
  background: #fff3a8;
}
/* line 452, ../scss/main.scss */
.webinar .h2 {
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  border-bottom: 1px solid #ff5a00;
}

/* line 459, ../scss/main.scss */
.webinar__desc {
  padding: 15px 10px 35px 10px;
  overflow: hidden;
}
/* line 462, ../scss/main.scss */
.webinar__desc img {
  display: block;
}
/* line 465, ../scss/main.scss */
.webinar__desc b, .webinar__desc p {
  font-size: 11px;
  color: #373737;
}
/* line 469, ../scss/main.scss */
.webinar__desc b {
  display: block;
  margin-bottom: 8px;
}
/* line 473, ../scss/main.scss */
.webinar__desc a {
  font-size: 12px;
  color: #3b6ab7;
  font-weight: bold;
}
/* line 478, ../scss/main.scss */
.webinar__desc p {
  margin-top: 8px;
}

/* line 482, ../scss/main.scss */
.webinar__pic {
  float: left;
  margin-right: 14px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  overflow: hidden;
}

/*partners*/
/* line 489, ../scss/main.scss */
.partners {
  position: relative;
  padding: 20px 0 20px 12px;
  border: 1px solid #e0e0e0;
}
/* line 493, ../scss/main.scss */
.partners .h2 {
  position: absolute;
  top: -10px;
  left: 12px;
  height: auto;
  line-height: 1;
  padding: 0 7px;
  background: #fff;
}
/* line 502, ../scss/main.scss */
.partners ul {
  overflow: hidden;
}
/* line 504, ../scss/main.scss */
.partners ul li {
  float: left;
  margin: 0 10px;
}
