/*main*/
/* line 4, ../scss/main.scss */
.main-block {
  margin-bottom: 40px;
  overflow: hidden;
}

/*main-post*/
/* line 10, ../scss/main.scss */
.main-post p {
  color: #373737;
  line-height: 1.3;
}

/* line 15, ../scss/main.scss */
.main-post__title {
  margin: 15px 0;
}
/* line 17, ../scss/main.scss */
.main-post__title a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #3b6ab7;
}
/* line 22, ../scss/main.scss */
.main-post__title a:hover {
  color: #ED3C0C;
  text-decoration: underline;
}
/* line 27, ../scss/main.scss */
.main-post__title h3 {
  display: inline;
  font-size: 18px;
}
/* line 31, ../scss/main.scss */
.main-post__title i {
  position: absolute;
  top: 8px;
  right: -26px;
  background: url('../img/icons-s2422e5ca6c.png') 0 -904px no-repeat;
  width: 15px;
  height: 9px;
}

/*main-news*/
/* line 39, ../scss/main.scss */
.main-news {
  position: relative;
  width: 287px;
  height: 385px;
  overflow: hidden;
}

/* line 45, ../scss/main.scss */
.main-news__items {
  float: left;
  width: 287px;
}

/* line 49, ../scss/main.scss */
.main-news__item {
  overflow: hidden;
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px dotted #c6d0dc;
}
/* line 54, ../scss/main.scss */
.main-news__item img {
  float: left;
  margin-right: 10px;
}
/* line 58, ../scss/main.scss */
.main-news__item a {
  font-size: 12px;
  font-weight: bold;
  color: #3b6ab7;
  line-height: 1.3;
}
/* line 63, ../scss/main.scss */
.main-news__item a:hover {
  color: #ED3C0C;
  text-decoration: underline;
}
/* line 68, ../scss/main.scss */
.main-news__item p {
  margin-top: 2px;
  font-size: 11px;
  color: #4a4a4a;
  line-height: 1.3;
}

/* line 75, ../scss/main.scss */
.main-news__nav {
  bottom: 0;
  right: 26px;
}

/*result*/
/* line 80, ../scss/main.scss */
.result {
  font-family: Verdana, Tahoma, sans-serif;
}
/* line 82, ../scss/main.scss */
.result .title {
  border-bottom: 2px solid #a5a5a5;
}

/* line 86, ../scss/main.scss */
.result__title {
  position: relative;
  padding: 11px 0 11px 9px;
  background: #f9f9f9;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: -moz-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: -o-linear-gradient(#f9f9f9, #e6e6e6);
  background-image: linear-gradient(#f9f9f9, #e6e6e6);
  border-bottom: 1px solid #bbb;
}
/* line 92, ../scss/main.scss */
.result__title b, .result__title span {
  display: block;
  font-family: Verdana, Tahoma, sans-serif;
}
/* line 96, ../scss/main.scss */
.result__title b {
  font-size: 12px;
  padding-bottom: 5px;
}
/* line 100, ../scss/main.scss */
.result__title span {
  font-size: 10px;
  color: #767676;
}
/* line 104, ../scss/main.scss */
.result__title button {
  position: absolute;
  top: 50%;
  height: 18px;
  margin-top: -9px;
}
/* line 110, ../scss/main.scss */
.result__title .btn-orange {
  right: 35px;
  width: 94px;
}
/* line 115, ../scss/main.scss */
.result__title .active i {
  background: url('../img/icons-s2422e5ca6c.png') 0 -1065px no-repeat;
  width: 10px;
  height: 11px;
}
/* line 119, ../scss/main.scss */
.result__title .active:hover i {
  background: url('../img/icons-s2422e5ca6c.png') 0 -1102px no-repeat;
  width: 10px;
  height: 11px;
}
/* line 124, ../scss/main.scss */
.result__title .active:active i {
  background: url('../img/icons-s2422e5ca6c.png') 0 -1047px no-repeat;
  width: 10px;
  height: 11px;
}

/* line 130, ../scss/main.scss */
.result__nav {
  height: 25px;
  padding-left: 8px;
  line-height: 25px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #bbb;
  background: #ededed;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #e7e7e7));
  background-image: -webkit-linear-gradient(#ededed, #e7e7e7);
  background-image: -moz-linear-gradient(#ededed, #e7e7e7);
  background-image: -o-linear-gradient(#ededed, #e7e7e7);
  background-image: linear-gradient(#ededed, #e7e7e7);
  font-family: Verdana,Tahoma,sans-serif;
  font-size: 10px;
}
/* line 140, ../scss/main.scss */
.result__nav a, .result__nav span {
  float: left;
  margin-right: 8px;
}
/* line 144, ../scss/main.scss */
.result__nav a {
  color: #686868;
}
/* line 146, ../scss/main.scss */
.result__nav a:hover {
  color: #000;
  text-decoration: underline;
}
/* line 151, ../scss/main.scss */
.result__nav span {
  color: #c9c9c9;
}

/*photo report*/
/* line 156, ../scss/main.scss */
.photo-report {
  margin-top: 30px;
}
/* line 158, ../scss/main.scss */
.photo-report .title {
  border-bottom: 2px solid #fbd10d;
  margin-bottom: 15px;
}

/* line 163, ../scss/main.scss */
.photo-report__slider {
  position: relative;
  width: 380px;
  height: 555px;
  overflow: hidden;
}
/* line 168, ../scss/main.scss */
.photo-report__slider .navi {
  position: absolute;
  left: 70px;
}

/* line 173, ../scss/main.scss */
.photo-report__item {
  float: left;
  width: 410px;
}
/* line 176, ../scss/main.scss */
.photo-report__item li {
  display: inline-block;
  width: 180px;
  margin: 0 20px 20px 0;
}
/* line 181, ../scss/main.scss */
.photo-report__item a {
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #3b6ab7;
  font-size: 12px;
  line-height: 1.3;
}
/* line 187, ../scss/main.scss */
.photo-report__item a:hover {
  color: #ed3c0c;
  text-decoration: underline;
}

/* line 193, ../scss/main.scss */
.photo-report__pic {
  position: relative;
  margin-bottom: 3px;
}

/* line 197, ../scss/main.scss */
.photo-report__nav {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*pop-news*/
/* line 203, ../scss/main.scss */
.pop-news {
  margin-top: 40px;
}
/* line 205, ../scss/main.scss */
.pop-news .title {
  margin-bottom: 20px;
  border-bottom: 2px solid #ff5b01;
}
/* line 209, ../scss/main.scss */
.pop-news li {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px dotted #c6d0dc;
  overflow: hidden;
}
/* line 214, ../scss/main.scss */
.pop-news li img {
  float: left;
  margin-right: 20px;
}
/* line 218, ../scss/main.scss */
.pop-news li a {
  font-weight: bold;
  color: #3b6ab7;
  font-size: 12px;
}
/* line 222, ../scss/main.scss */
.pop-news li a:hover {
  color: #ED3C0C;
  text-decoration: underline;
}
/* line 227, ../scss/main.scss */
.pop-news li p {
  margin: 3px 0;
  font-size: 11px;
  color: #4a4a4a;
  line-height: 1.2;
}
/* line 233, ../scss/main.scss */
.pop-news li span {
  font-size: 10px;
  color: #999;
}
/* line 237, ../scss/main.scss */
.pop-news li span.pop-news__date {
  color: #8a919d;
}
/* line 240, ../scss/main.scss */
.pop-news li em {
  margin: 0 5px;
  font-style: normal;
  color: #b7bec9;
}
/* line 245, ../scss/main.scss */
.pop-news li:first-child {
  margin: 0;
  padding: 0;
  border: none;
}

/*all news*/
/* line 253, ../scss/main.scss */
.all-news {
  margin-bottom: 50px;
}
/* line 255, ../scss/main.scss */
.all-news .title {
  border-bottom: 2px solid #ff5b01;
}

/* line 259, ../scss/main.scss */
.all-news__detail {
  position: relative;
  height: 38px;
  border-bottom: 1px solid #eee;
  z-index: 20;
}

/* line 265, ../scss/main.scss */
.all-news__filter {
  position: absolute;
  top: 0;
  left: -10px;
  width: 110px;
  color: #4c4c4c;
  padding-bottom: 10px;
  cursor: pointer;
}
/* line 273, ../scss/main.scss */
.all-news__filter span {
  position: relative;
  padding-left: 10px;
  height: 38px;
  line-height: 38px;
}
/* line 278, ../scss/main.scss */
.all-news__filter span i {
  position: absolute;
  top: 7px;
  right: -12px;
  background: url('../img/icons-s2422e5ca6c.png') 0 -1099px no-repeat;
  width: 5px;
  height: 3px;
}
/* line 285, ../scss/main.scss */
.all-news__filter ul {
  display: none;
}
/* line 288, ../scss/main.scss */
.all-news__filter li {
  height: 25px;
  padding-left: 10px;
  line-height: 25px;
}
/* line 292, ../scss/main.scss */
.all-news__filter li:hover {
  background: #fffdca;
  color: #000;
  text-decoration: underline;
}
/* line 298, ../scss/main.scss */
.all-news__filter.active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
  background: #fff;
}
/* line 301, ../scss/main.scss */
.all-news__filter.active i {
  background: url('../img/icons-s2422e5ca6c.png') 0 -1113px no-repeat;
  width: 5px;
  height: 3px;
}

/* line 306, ../scss/main.scss */
.all-news__filter_date {
  left: 100px;
}

/* line 309, ../scss/main.scss */
.all-news__service {
  float: right;
  margin-top: 13px;
}
/* line 312, ../scss/main.scss */
.all-news__service li {
  float: left;
  margin-right: 10px;
}
/* line 315, ../scss/main.scss */
.all-news__service li a {
  display: block;
}
/* line 318, ../scss/main.scss */
.all-news__service li .all-news__rss {
  background: url('../img/icons-s2422e5ca6c.png') 0 -697px no-repeat;
  width: 12px;
  height: 12px;
}
/* line 320, ../scss/main.scss */
.all-news__service li .all-news__rss:hover {
  background: url('../img/icons-s2422e5ca6c.png') 0 -709px no-repeat;
  width: 12px;
  height: 12px;
}
/* line 323, ../scss/main.scss */
.all-news__service li .all-news__rss:active {
  background: url('../img/icons-s2422e5ca6c.png') 0 -648px no-repeat;
  width: 12px;
  height: 12px;
}
/* line 327, ../scss/main.scss */
.all-news__service li .all-news__tw {
  background: url('../img/icons-s2422e5ca6c.png') 0 -790px no-repeat;
  width: 13px;
  height: 12px;
}
/* line 329, ../scss/main.scss */
.all-news__service li .all-news__tw:hover {
  background: url('../img/icons-s2422e5ca6c.png') 0 -802px no-repeat;
  width: 13px;
  height: 12px;
}
/* line 332, ../scss/main.scss */
.all-news__service li .all-news__tw:active {
  background: url('../img/icons-s2422e5ca6c.png') 0 -660px no-repeat;
  width: 13px;
  height: 12px;
}
/* line 336, ../scss/main.scss */
.all-news__service li .all-news__mail {
  background: url('../img/icons-s2422e5ca6c.png') 0 -827px no-repeat;
  width: 18px;
  height: 12px;
}
/* line 338, ../scss/main.scss */
.all-news__service li .all-news__mail:hover {
  background: url('../img/icons-s2422e5ca6c.png') 0 -861px no-repeat;
  width: 18px;
  height: 12px;
}
/* line 341, ../scss/main.scss */
.all-news__service li .all-news__mail:active {
  background: url('../img/icons-s2422e5ca6c.png') 0 -672px no-repeat;
  width: 18px;
  height: 12px;
}
/* line 345, ../scss/main.scss */
.all-news__service li:last-child {
  margin-right: 0px;
}

/* line 350, ../scss/main.scss */
.all-news__list {
  position: relative;
  z-index: 10;
}
/* line 353, ../scss/main.scss */
.all-news__list li {
  padding: 10px 0;
  border-top: 1px dotted #c6d0dc;
}
/* line 356, ../scss/main.scss */
.all-news__list li p {
  position: relative;
  padding-left: 35px;
  line-height: 1.3;
  font-size: 11px;
  color: #999;
}
/* line 362, ../scss/main.scss */
.all-news__list li p .link-comm {
  margin-left: 10px;
}
/* line 366, ../scss/main.scss */
.all-news__list li a:visited {
  color: #7c889a;
}
/* line 369, ../scss/main.scss */
.all-news__list li a:link {
  color: #3b6ab7;
}
/* line 372, ../scss/main.scss */
.all-news__list li a:hover {
  color: #ed3c0c;
  text-decoration: underline;
}
/* line 376, ../scss/main.scss */
.all-news__list li:hover {
  background: #fffce5;
}
/* line 378, ../scss/main.scss */
.all-news__list li:hover p {
  color: #000;
}
/* line 382, ../scss/main.scss */
.all-news__list li:first-child {
  border: none;
}

/* line 387, ../scss/main.scss */
.all-news__time {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 10px;
  color: #8a919d;
}

/*best blog*/
/* line 395, ../scss/main.scss */
.best-blog {
  margin-bottom: 15px;
}
/* line 397, ../scss/main.scss */
.best-blog .title {
  border-bottom: 2px solid #fbd10d;
}

/* line 401, ../scss/main.scss */
.best-blog__title {
  margin-top: 20px;
}
/* line 403, ../scss/main.scss */
.best-blog__title b {
  display: block;
  margin-bottom: 7px;
  font-size: 11px;
  color: #646e87;
}
/* line 409, ../scss/main.scss */
.best-blog__title a {
  font-size: 15px;
  color: #3b6ab7;
  font-weight: bold;
}
/* line 413, ../scss/main.scss */
.best-blog__title a:hover {
  color: #ED3C0C;
  text-decoration: underline;
}
/* line 418, ../scss/main.scss */
.best-blog__title img {
  margin-top: 10px;
  border-bottom: 1px dotted #c6d0dc;
}

/* line 423, ../scss/main.scss */
.best-blog__user {
  margin-top: 6px;
  overflow: hidden;
}
/* line 426, ../scss/main.scss */
.best-blog__user img {
  float: left;
  margin-right: 8px;
}
/* line 430, ../scss/main.scss */
.best-blog__user a {
  font-size: 11px;
  color: #3b6ab7;
}
/* line 434, ../scss/main.scss */
.best-blog__user span {
  margin-top: 2px;
  font-size: 10px;
  display: block;
  color: #999;
}

/* line 441, ../scss/main.scss */
.best-blog__desc {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 445, ../scss/main.scss */
.best-blog__desc p {
  margin-bottom: 10px;
  font-size: 11px;
  color: #4a4a4a;
  line-height: 1.3;
}
/* line 451, ../scss/main.scss */
.best-blog__desc a {
  font-size: 11px;
  color: #3b6ab7;
}

/* line 456, ../scss/main.scss */
.best-blog__deatail {
  padding-top: 15px;
}
/* line 458, ../scss/main.scss */
.best-blog__deatail .link-comm {
  float: left;
  font-weight: normal;
  color: #000;
}
/* line 462, ../scss/main.scss */
.best-blog__deatail .link-comm i {
  top: 1px;
}
/* line 465, ../scss/main.scss */
.best-blog__deatail .link-comm span {
  margin-left: 5px;
  color: #2EA90D;
}
/* line 470, ../scss/main.scss */
.best-blog__deatail .link-star, .best-blog__deatail .link-share {
  float: left;
  margin-left: 35px;
}
/* line 475, ../scss/main.scss */
.best-blog__deatail .link-star i {
  top: 0;
}

/* line 480, ../scss/main.scss */
.best-blog__min-pl {
  position: relative;
  float: right;
  margin-top: -3px;
  width: 62px;
}
/* line 485, ../scss/main.scss */
.best-blog__min-pl em {
  position: absolute;
  top: 9px;
  left: 20px;
  width: 22px;
  height: 1px;
  background: #e0e0e0;
}
/* line 493, ../scss/main.scss */
.best-blog__min-pl span {
  position: relative;
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
/* line 501, ../scss/main.scss */
.best-blog__min-pl span i {
  position: absolute;
  top: 4px;
  left: 4px;
}
/* line 507, ../scss/main.scss */
.best-blog__min-pl .best-blog__minus {
  float: left;
}
/* line 509, ../scss/main.scss */
.best-blog__min-pl .best-blog__minus i {
  background: url('../img/icons-s2422e5ca6c.png') 0 -1123px no-repeat;
  width: 9px;
  height: 9px;
}
/* line 513, ../scss/main.scss */
.best-blog__min-pl .best-blog__plus {
  float: right;
}
/* line 515, ../scss/main.scss */
.best-blog__min-pl .best-blog__plus i {
  background: url('../img/icons-s2422e5ca6c.png') 0 -1076px no-repeat;
  width: 9px;
  height: 9px;
}

/*main videos*/
/* line 521, ../scss/main.scss */
.main-videos {
  margin-bottom: 30px;
  background: #eff3fd;
}

/* line 525, ../scss/main.scss */
.main-videos__item {
  padding: 0 12px 17px 12px;
  border-bottom: 1px solid #e0e5f4;
  border-top: 1px solid #fff;
}
/* line 529, ../scss/main.scss */
.main-videos__item .title {
  height: 40px;
  line-height: 40px;
}
/* line 533, ../scss/main.scss */
.main-videos__item a {
  font-size: 13px;
  color: #3b6ab7;
  font-weight: bold;
  line-height: 1.3;
}
/* line 538, ../scss/main.scss */
.main-videos__item a:hover {
  text-decoration: underline;
}

/* line 543, ../scss/main.scss */
.main-videos__play {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
}
/* line 547, ../scss/main.scss */
.main-videos__play img {
  display: block;
}
/* line 550, ../scss/main.scss */
.main-videos__play em, .main-videos__play i {
  position: absolute;
}
/* line 553, ../scss/main.scss */
.main-videos__play em {
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  background: url('../img/icons-s2422e5ca6c.png') 0 -74px no-repeat;
  width: 65px;
  height: 65px;
}
/* line 559, ../scss/main.scss */
.main-videos__play i {
  left: 0;
  bottom: 0;
  background: url('../img/icons-s2422e5ca6c.png') 0 -747px no-repeat;
  width: 28px;
  height: 19px;
}

/* line 565, ../scss/main.scss */
.main-videos__list {
  margin-top: -1px;
  padding: 0 12px;
}
/* line 568, ../scss/main.scss */
.main-videos__list li {
  padding: 15px 0;
  border-top: 1px dotted #b8c4e3;
  overflow: hidden;
}
/* line 572, ../scss/main.scss */
.main-videos__list li .main-videos__play {
  float: left;
  margin-right: 12px;
}
/* line 576, ../scss/main.scss */
.main-videos__list li a {
  font-size: 11px;
  color: #3b6ab7;
  font-weight: bold;
}
/* line 580, ../scss/main.scss */
.main-videos__list li a:hover {
  text-decoration: underline;
}

/*webinar*/
/* line 587, ../scss/main.scss */
.webinar-out {
  position: relative;
}

/* line 590, ../scss/main.scss */
.webinar {
  position: relative;
  width: 260px;
  margin-bottom: 40px;
  background: #fff3a8;
  z-index: 10;
}
/* line 596, ../scss/main.scss */
.webinar .title {
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  border-bottom: 1px solid #ff5a00;
}

/* line 603, ../scss/main.scss */
.webinar__shadow {
  position: absolute;
  bottom: 12px;
  left: 10px;
  width: 245px;
  height: 20px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: 5;
}

/* line 617, ../scss/main.scss */
.webinar__desc {
  padding: 15px 10px 35px 10px;
  overflow: hidden;
}
/* line 620, ../scss/main.scss */
.webinar__desc img {
  display: block;
}
/* line 623, ../scss/main.scss */
.webinar__desc b, .webinar__desc p {
  font-size: 11px;
  color: #373737;
}
/* line 627, ../scss/main.scss */
.webinar__desc b {
  display: block;
  margin-bottom: 8px;
}
/* line 631, ../scss/main.scss */
.webinar__desc a {
  font-size: 12px;
  color: #3b6ab7;
  font-weight: bold;
}
/* line 636, ../scss/main.scss */
.webinar__desc p {
  margin-top: 8px;
}

/* line 640, ../scss/main.scss */
.webinar__pic {
  float: left;
  margin-right: 14px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  overflow: hidden;
}

/*partners*/
/* line 647, ../scss/main.scss */
.partners {
  position: relative;
  padding: 20px 0 10px 12px;
  border: 1px solid #e0e0e0;
}
/* line 651, ../scss/main.scss */
.partners .title {
  position: absolute;
  top: -10px;
  left: 12px;
  height: auto;
  line-height: 1;
  padding: 0 7px;
  background: #fff;
}
/* line 660, ../scss/main.scss */
.partners ul {
  overflow: hidden;
}
/* line 662, ../scss/main.scss */
.partners ul li {
  float: left;
  margin: 0 10px 10px 10px;
}
