/* line 3, ../scss/others.scss */
.ltie8 .photo-report__item li {
  display: inline;
  zoom: 1;
}

/* line 12, ../scss/others.scss */
.ie8 .live button i {
  margin-top: -7px;
}
/* line 18, ../scss/others.scss */
.ie8 .open i {
  margin-top: -13px;
}
/* line 24, ../scss/others.scss */
.ie8 .play__open button i {
  margin-top: -13px;
}
