@import "base";
/*cols*/
.cols {
	padding: 0 20px;
	overflow: hidden;	
}
.col-1 {
	float: left;
	width: 687px; 
}
.col-2 {
	float: right;
	width: 240px;
}
.col-3 {
	float: left;
	width: 380px;
}
.col-4 {
	float: right;
	width: 287px;
}

