#us-vkontakte{margin:7px 0px;}
#banner-160_left{width: 160px; height: 240px; margin-top: 20px;}
#banner-970_250{width: 100%; text-align: center; clear: both; margin: 0 auto;}
.collapsed-log { height: 1200px; overflow: hidden; position: relative; }

.mauth {
	float: right;
}
.mauth .mauth-box a.vkontakte, .mauth a.vkontakte, .oauth-vkontakte {
	background: url('../img/icons-sef1153cfae.png') 0 -2185px no-repeat !important;
	width: 12px;
	height: 13px;
	display: inline-block;
	margin: 7px 5px 0 0;
}
.mauth .mauth-box a.facebook, .mauth a.facebook, .oauth-facebook {
	background: url('../img/icons-sef1153cfae.png') 0 -2540px no-repeat !important;
	width: 12px;
	height: 13px;
	display: inline-block;
	margin: 7px 5px 0 0;
}
.mauth .mauth-box a.twitter, .mauth a.twitter, .oauth-twitter,
.mauth .mauth-box a.yandex, .mauth a.yandex, .oauth-yandex,
.mauth .mauth-box a.mailru, .mauth a.mailru, .oauth-mailru,
.mauth .mauth-box a.odnoklassniki, .mauth a.odnoklassniki, .oauth-odnoklassniki,
.mauth .mauth-box a.google, .mauth a.google, .oauth-google,
.mauth span.mauth-box-title, .mauth span, .mauth-logout, .login-form {
	display: none;	
}

.login-block {
	left: 50%;
	width: 480px;
	margin-left: -240px;
	background: #fff;	
	position: relative;
	top: 0px;
	display: block;
}

.comments-login__social {
	position: absolute;
	top: 4px;
	left:70%;
	color: #999999;
}
.comments-login__social ul {
	margin-left: -4px !important;	
}
.comments-login__social ul li {
	margin: 0px 8px 0px 0px !important;	
}
.comments-login__social span {
	margin: 0px 0px 5px !important;
}

#adsense_300 {		
	width: 300px;
	height: 250px;
	margin-bottom: 20px;	
}

.stavka_adsense {
	float: right;
	position: relative;
	top: 110px;
	left: -31px;
}

.social__lj {
	float: left;
	margin-right: 2px;
	background: url('../img/icons/livejournal.png') 0 0 no-repeat;
	width: 24px;
	height: 24px;
}

#adsense_300 {	
	width: 336px !important;
	height: 280px !important;
}
.stavka_adsense {
	left: -24px !important;	
}

.invite_relogin {
	left: 215px !important;
	top: 128px !important;
}
.warning__noinvite {
	margin-top: 15px;
}

#main_site_news .title {
	margin-bottom: 10px;
	border-bottom: 2px solid #ff5b01;
}
#main_site_news .main-news__title {
	font-weight: normal;
	font-size: 11px;
}
#main_site_news .meta {
	display: inline;
}
#main_site_news .main-news__item img {
	margin: 5px 0px 10px;
}
#main_site_news .main-news__item p {
	display: inline;
}

.pop-news h1 {	
	margin-bottom: 20px;
	border-bottom: 2px solid #ff5b01;
	position: relative;
	padding: 8px 0;
	font-size: 18px;
	font-weight: normal;
}
.social__li {
	float: left;	
	background: url('../img/icons/linkedin.png') 0 0 no-repeat;
	width: 24px;
	height: 24px;
}

.banner-970_250-news {
	width: 728px !important;
	margin-left: -21px !important;
}

#poll-notification {
	margin-bottom: 20px;
}

.all-news__date {
	color: #6a6a6a;
	font-weight: bold;
}



.bet_chart_main {
	clear: both; 
	height:240px;	
}

.bet_chart_1 {
	width: 340px; 
	height: 240px; 
	float: left; 
}

.bet_chart_2 {
	width: 340px; 
	height: 240px; 
	float: right; 
}

.bet_set_link {
	clear: both; 
	padding-left: 280px;
	margin-top: -40px;
}

.title__bet {
	border-bottom: 2px solid #FBD10D; 
	padding-left: 20px;
}

.partners_cyber {padding: 20px 0 10px 0px !important; text-align: center; margin: 20px 0px 15px;}

.play .play__team-1 img, .play .play__team-2 img { vertical-align: middle; }

.block-title {
	height: 115px;
}
.tournir-table__sort { 
	float: none !important; 
	width: 150px !important;
	margin-bottom: 0px !important; 
	padding-right: 10px !important; 
	border: none !important; 
}
.tournir-table__sort:after {
	background: none !important;
}
.tournir-table__sortblock {
	position: relative; 
	float: right; 
	top: -60px;
}

#banner-250_online { padding-bottom: 5px; }
.glyva__block {	position: absolute; top: 47px; left: 367px;	width: 160px !important; height: 75px !important; font-size: 11px; background: #eff3fe !important;}
.glyva__title { margin: 1px; height: 34px; }
.glyva__title a { color: #2ea90d !important; text-decoration: none !important; }
.glyva__title a:hover { color: #2ea90d !important; text-decoration: none !important; }
.glyva__title img {	float: left; }
.glyva__title div {	float: left; margin: 6px 1px 0px 3px; }		
.glyva__news { margin: 2px 1px 2px 7px; }
.glyva__news a { color: #ED3C0C !important; text-decoration: none !important; }
.glyva__news a:hover { color: #ED3C0C !important; text-decoration: none !important; }