@import "compass/css3";
@import "base";
//styles for inner pages
//menu 
.menu {
	padding: 15px 24px;
	background: #fff;
	@include background-image(linear-gradient(#fff 60%, #fafafa));
	overflow: hidden;
	li {
		float: left;
		margin-right: 15px;
		&:last-child {
			position: relative;
			float: right;
			padding-left: 12px;
			&:before {
				content: "";
				position: absolute;
				top: 2px;
				left: 0;
				@include sized-sprite($icons, arr17);
			}
		}
	}
	a {
		font-size: 12px;
		color: #5e5e5e;
		&:hover {
			text-decoration: underline;
		}
		&.active {
			color: #000;
			text-decoration: none;
		}
	}
}
//news
.news-title {
	margin-bottom: 10px;
	h2 {
		margin-bottom: 5px;
	}
	p {
		font-size: 15px;
		line-height: 1.3;
		color: #676767;
	}
}
.post-detail {
	.social {
		padding: 0 0 15px 10px;
	}
}
//author
.author-wrap {
	position: relative;
	margin-bottom: 15px;
	height: 50px;
	border: 1px solid #ebebeb;	
}
.author {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 164px;
	padding: 20px 9px 9px 9px;
	z-index: 10;	
	&.hover {
		background: #fff;
		@include box-shadow(rgba(0, 0, 0, 0.3) 0px 4px 20px);
	}	
}
.author__detail, .post-info {
	padding: 10px 0;		
	a, span {
		position: relative;
		padding-left: 35px;
		font-size: 10px;
		color: #7e7e7e;		
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	i {
		position: absolute;	
		top: 0;	
		left: 14px;
	}		
}
.author__detail {
	display: none;
	border-top: 1px dotted #c6d0dc;
	li {
		padding: 5px 0;
	}
}
.author__name {
	overflow: hidden;
	img {
		float: left;
		margin:  0 8px 10px 11px;
	}
	a {
		line-height: 1.3;
		font-size: 11px;
		color: #373737;
		cursor: pointer;
		&:hover {
			color: #3b6ab7;
			text-decoration: underline;
		}
	}
}
.author__send {
	@include sized-sprite($icons, aut);
}
.author__error {
	@include sized-sprite($icons, aut1);
}
.author__print {
	@include sized-sprite($icons, aut2);
}
//social 
.social {
	position: relative;
	border-bottom: 1px solid #e0e0e0;	
	font-size: 0;
	li {
		display: inline-block;
		margin-right: 2px;
	}
	a {
		display: block;
	}
}
.social__another {
	display: none;
	position: absolute;
	top: 20px;
	right: 0;
	padding: 10px;
	background: #fff;
	@include box-shadow(rgba(0, 0, 0, 0.3) 0px 4px 20px);
	font-size: 12px;
	z-index: 10;
}
.social__fb {
	@include sized-sprite($icons, s-fb);
	&:hover {
		@include sized-sprite($icons, s-fb_h);
	}
}
.social__vk {
	@include sized-sprite($icons, s-vk);
	&:hover {
		@include sized-sprite($icons, s-vk_h);
	}
}
.social__tw {
	@include sized-sprite($icons, s-tw);
	&:hover {
		@include sized-sprite($icons, s-tw_h);
	}
}
.social__gg {
	@include sized-sprite($icons, s-gg);
	&:hover {
		@include sized-sprite($icons, s-gg_h);
	}
}
.social__ok {
	@include sized-sprite($icons, s-ok);
	&:hover {
		@include sized-sprite($icons, s-ok_h);
	}
}
.social__sh {
	@include sized-sprite($icons, s-sh);
	&:hover {
		@include sized-sprite($icons, s-sh_h);
		.social__another {
			display: block;
		}
	}
}
.post-info {
	margin-bottom: 20px;
	border-bottom: 1px dotted #c6d0dc;
	li {
		padding: 4px 0;
	}
}
.post-info__date {
	@include sized-sprite($icons, ni);
}
.post-info__views {
	@include sized-sprite($icons, ni1);
}
.post-info__comms {
	@include sized-sprite($icons, ni2);
}
//pari-match
.pari-match {
	margin-bottom: 20px;
	text-align: center;
	font-size: 0;
	a {
		display: inline-block;
		@include sized-sprite($icons, pari);
	}
}
//content
.content {
	line-height: 1.5;
	figure {
		margin: 0 20px 20px 0;
		img {
			display: block;
			margin: 0 0 10px 0;
		}
		&.content__pic {
			float: left;
		}
	}
	figcaption {
		font-size: 10px;
		color: #7e7e7e;
	}
	h3 {
		margin-bottom: 15px;
		font-size: 17px;
		color: #373737;
	}
	p {
		margin-bottom: 20px;
	}
	ul, ol {
	  margin: 20px;
	  list-style:disc;
	  li{
	    margin-bottom: 4px;
	  }
	}
	ol {
	  list-style:decimal;
	}
	table{
	   border: 1px solid #ccc;
	   margin: 1em 0;
	   td{
	      padding: 10px;
	   }
	}
}
//link-man
.link-man {
	color: #373737;
	border-bottom: 1px dotted #89a6d4;
}
//news-label
.news-label {
	margin: 20px 0;
	a {
		font-size: 11px;
		color: #8b8b8b;
		&:hover {
			text-decoration: underline;
		}
	}
}
//vote-res
.vote-res {
	position: relative;
	margin-bottom: 40px;
	background: #fafafa;
	@include shadow;
	ul {
		padding: 0 0 10px 15px;
		border-bottom: 1px dotted #d7d7d7;
	}
	li {
		padding-bottom: 20px;
		overflow: hidden;
	}
}
.vote-res__title {
	padding: 20px 0 20px 15px;
	font-size: 17px;
	font-weight: bold;
}
.vote-res__val, .vote-res__party {
	float: left;
}
.vote-res__val {
	width: 50px;
	span {
		display: block;
		margin-bottom: 3px;
		font-size: 13px;
		font-weight: bold;
	}
	i {
		font-size: 10px;
		color: #aeaeae;
	}
}
.vote-res__party {
	width: 400px;
	span {
		display: block;
		margin-bottom: 8px;
		font-size: 13px;
	}
}
.vote-res__scale {
	height: 3px;
	border: 1px solid #d2d2d2;
}
.vote-res__scale_won {
	border-top: 1px solid #72c7ff;
	border-bottom: 1px solid #1db2ff;
	border-left: 1px solid #1db2ff;
	border-right: 1px solid #1db2ff;
	background: #5bbdfd;
	@include background-image(linear-gradient(#5bbdfd, #228ade));
	@include box-shadow(rgba(0,0,0,0.2) 0px 1px 2px);
}
.vote-res__sort {
	position: relative;
	padding: 10px 0 10px 15px;
	background: #fafafa;
	z-index: 10;
	span {
		display: block;
		font-size: 11px;
		line-height: 1.6;
		color: #aeaeae;
	}
	button {
		position: absolute;
		top: 13px;
		width: 27px;
		height: 26px;
		background: #fbfbfb;
		@include background-image(linear-gradient(#fbfbfb, #ebebeb));
		@include border-radius(2px);
		@include box-shadow(rgba(0,0,0,0.05) 0px 0px 1px 1px inset, rgba(0,0,0,0.05) 0px 0px 1px 1px inset, rgba(0,0,0,0.1) 0 1px 2px);
		overflow: visible;
		&.active {
			background: #f1f1f1;
			@include box-shadow(#c8c8c8 0px 0px 1px 1px inset, #dfdfdf 0 1px 1px 1px inset);
			border-bottom: 1px solid #fff;
		}
	}
	i {
		position: absolute;
		top: 8px;
		left: 6px;
	}
}
.vote-res__reduction {
	right: 15px;
	i {
		@include sized-sprite($icons, sort);
	}	
	&.active {
	i {
			@include sized-sprite($icons, sort1);
		}
	}
}
.vote-res__random {
	right: 55px;
	i {
		@include sized-sprite($icons, sort3);
	}
	&.active {
		i {
			@include sized-sprite($icons, sort2);
		}
	}
}
//materials
.materials {
	margin-bottom: 25px;
	li {
		padding: 10px 0;
		border-top: 1px dotted #c6d0dc;
		font-size: 11px;
		color: #999999;
		&:first-child {
			border: none;
		}
	}
	a {
		color: #3b6ab7;
		&:hover {
			color: #ED3C0C;
			text-decoration: underline;
		}
	}
	span {
		font-size: 10px;
		color: #8a919d;
	}
	i {
		margin: 0 5px;
		color: #a4a4a4;
		font-size: 10px;
	}
}
.materials__title {
	margin-bottom: 5px;
	font-size: 18px;
}
//likes
.likes {
	position: relative;
	margin-bottom: 15px;
	text-align: center;
}
.likes__btns {
	position: relative;
	display: inline-block;
	padding: 0 7px;
	background: #fff;
	z-index: 10;
}
.likes__line {
	position: absolute;
	top: 11px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #d8d8d8;
}
//facts
.facts {
	padding: 10px 13px 13px 13px;
	margin-bottom: 35px;
	background: #eff3fd;
	ul {
		margin-right: -50px;
		overflow: hidden;
	}
	li {		
		float: left;
		width: 205px;
		margin: 15px 25px 0 0;
		font-size: 0;
	}
	img {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
	a {
		display: inline-block;
		width: 135px;		
		max-height: 60px;
		font-weight: bold;
		font-size: 11px;
		color: #3b6ab7;
		line-height: 1.4;
		vertical-align: middle;
		overflow: hidden;
		text-overflow: ellipsis;
		&:hover {
			color: #ED3C0C;
			text-decoration: underline;
		}
	}
}
.facts__title {
	font-size: 18px;	
}
//comments
.comments {
	margin: 40px 0 60px 0;
}
.comments__pagination, .pagination {
	position: relative;
	background: #fafafa;
	font-size: 0;
	text-align: center;
	a {
		display: inline-block;
		padding: 14px;
		font-size: 14px;
		&.active {
			color: #000;
			font-weight: bold;
		}
	}
	.arrs-nav {
		position: static;
		width: 0;
		height: 0;
	}
	.arrs-nav__prev, .arrs-nav__next {
		position: absolute;
		top: 13px;
	}
	.arrs-nav__prev {
		left: 16px;
	}
	.arrs-nav__next {
		right: 16px;
	}
}
.comments__list {
	margin-bottom: 20px;
	p {
		margin-bottom: 10px;
		line-height: 1.3;
	}
	li {
		padding: 18px 0 16px 0;
		border-top: 1px solid #e8e8e8;
		&:first-child {
			border: none;
		}
	}
}
.comments__child {
	margin-left: 30px;
}
.comments__title {
	margin-bottom: 20px;
	overflow: hidden;
	strong {
		float: left;
		margin-right: 12px;
		font-size: 22px;
	}
	label {
		position: relative;
		float: right;
		margin-top: 7px;
		font-size: 11px;
		color: #5e5e5e;
		font-weight: normal;
	}
	input {
		position: absolute;
		top: 0px;
		left: -22px;
	}
	.btn-white {
		float: left;
		margin-top: 3px;
		padding: 0 8px 0 6px;
	}
}
.comments__user {
	height: 30px;
	margin-bottom: 10px;
	line-height: 30px;
	color: #788087;
	font-size: 11px;
	overflow: hidden;
	img {
		float: left;
		margin-right: 10px;
	}
	a {
		font-weight: bold;
		color: #3b6ab7;
	}
}
.comments__detail {
	font-size: 11px;
	overflow: hidden;
	a, span {
		float: left;
	}
	a {
		margin-right: 18px;
		padding-bottom: 1px;
		color: #596374;
		&:hover {
			text-decoration: underline;
		}
	}
	span {
		position: relative;
		padding-left: 27px;
		color: #999999;
		&.active {
			color: #db731e;
			i {
				@include sized-sprite($icons, star1);
			}
		}
	}
	i {
		position: absolute;
		top: 0;
		left: 11px;
		@include sized-sprite($icons, star);
	}
}
.comments__add {
	margin-bottom: 20px;
	padding: 12px 15px 15px 15px;
	background: #fafafa;
	span {
		display: block;
		margin-bottom: 10px;
		font-size: 18px;
	}
	textarea {
		width: 638px;
		height: 135px;
		padding: 8px 10px;
		margin-bottom: 12px;
		border: 1px solid #bdbdbd;
		@include box-shadow(rgba(0,0,0,0.3) 0 1px 5px inset);
		@include border-radius(3px);		
		resize: none;
		font-family: Arial;
	}
	input, button {
		height: 26px;
		margin-right: 13px;
		padding: 0 10px;
		background: #f8f8f8;
		@include background-image(linear-gradient(#f8f8f8, #eaeaea));
		@include box-shadow(rgba(0,0,0,0.4) 0 0 1px inset, rgba(0,0,0,0.1) 0 1px 1px);
		@include border-radius(3px);
		font-size: 12px; 
		color: #000;
		cursor: pointer;
	}
}
//rate
.rate {
	position: relative;
	float: right;
	font-weight: bold;
	span {
		float: left;
	}
	button {
		float: left;
		position: relative;
		width: 17px;
		height: 17px;
		margin: 7px 0 0 9px;
		@include box-shadow(#e0e0e0 0px 0px 1px 1px inset);
		@include border-radius(2px);
		background: #fff;
		overflow: visible;
	}
	i {
		position: absolute;
		top: 4px;
		left: 4px;
	}
}
.rate_pos {
	color: #148c11;
}
.rate_neg {
	color: #d50a0a;
}
.rate__plus {
	&:hover {
		background: green;
	}

	i {
		@include sized-sprite($icons, plus3);
	}

	&.active {
		background: #cde6af;
		@include box-shadow(rgba(0,0,0,0.2) 0 1px 1px inset);
		i {
			@include sized-sprite($icons, plus4);
		}
	}

}
.rate__minus {
	&:hover {
		background: red;
	}

	i {
		@include sized-sprite($icons, minus3);
	}

	&.active {
		background: #FFA8A8;
		@include box-shadow(rgba(0,0,0,0.2) 0 1px 1px inset);
		i {
			@include sized-sprite($icons, minus4);
		}
	}
}                   

//matches-result
.matches-result, .sport-news {
	padding: 3px;
	border: 1px solid $border;
}
.matches-result { 	
	margin-bottom: 20px;
	.title {
		padding: 0;
	}
	.play__team-1, .play__team-2 {
		width: 34%;
		margin: 0 4%;
		padding: 2px 0;
	}
	.play__result {
		width: 16%;
	}
	.play__item {
		&:nth-child(2n) {
			background: #f7f7f7;
		}
		&:nth-child(2n+1) {
			background: #fdfdfd;
		}
	}
}
.matches-result__top {
	position: relative;
	padding: 10px 0 30px 10px;
	.datepicker-out {
		top: 25px;
		left: -5px;
	}
}
.matches-result__chemp {
	padding: 10px;
	border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #bbb;
	background: #f9f9f9;
	@include background-image(linear-gradient(#f9f9f9, #e6e6e6));
	span, i {
		display: block;
	}
	span {
		margin-bottom: 5px;
		font-size: 12px;
		font-weight: bold;
		color: #000;
	}
	i {
		font-size: 10px;
		color: #767676;
	}
}
.matches-result__nav {
	margin-top: 1px;
	padding: 10px;
	border-top: 1px solid #ededed;
	overflow: hidden;
	li {
		float: left;
		margin-bottom: 3px;
		&:nth-child(2n+1) {
			width: 135px;
		}
	}
	a {
		font-size: 10px;
		color: #686868;
		&:hover {
			text-decoration: underline;
		}
	}
}
//sport-news
.sport-news {
	.title {
		padding: 8px 7px;
	}
	.tabs-small {
		padding: 0 7px 8px 7px;
		border-bottom: 2px solid #fbd10d;
	}
}
//tags 
.tags {
	position: absolute;
	bottom: 73px;
	left: 0;
	width: 164px;
	.title {
		margin-bottom: 12px;
		border-bottom: 2px solid #fbd10d;
	}
	li {
		margin-bottom: 3px;
	}
	a {
		font-size: 11px;
		color: #5e5e5e;
		&:hover {
			text-decoration: underline;
		}
	}
}
//online
.scoreboard {
	background: #f7f7f7;
	text-align: center;
	font-size: 0;
}
.scoreboard__teams {
	padding: 25px 0 19px 0;
	strong {
		display: inline-block;
		vertical-align: middle;		
		font-size: 24px;		
	}	
	a {
		color: #4e4e4e;
	}
}
.scoreboard__team-1, .scoreboard__team-2 {
	width: 280px;	
	a {
		display: inline-block;
		width: 200px;
		vertical-align: middle;
		&:hover {
			color: $red;
		}
	}
	img{
		vertical-align: middle;
	}
}
.scoreboard__team-1 {
	text-align: right;
	img{
		margin-right: 10px;
	}
}
.scoreboard__team-2 {
	text-align: left;
	img{
		margin-left: 10px;
	}
}
.scoreboard__count {
	width: auto;	
	padding: 8px 14px;
	margin: 0 10px;
	background-color: #2c2c2c;
	@include background-image(linear-gradient(bottom, #2c2c2c 0%, #6a6a6a 100%));
	@include border-radius(3px);
	color: #fff;
	span {
		margin: 0 10px;
	}
}
.scoreboard__winner {
	color: #000;
}
.scoreboard__time {
	display: inline-block;	
	border-top: 1px solid #e1e1e1;	
	span {
		display: block;
		width: 250px;
		padding: 15px 0;
		border-top: 1px solid #fff;
		font-size: 11px;
		font-weight: bold;
		color: #373737;
	}
}
.online-statistics {
	margin-bottom: 50px;
	color: #4e4e4e;
	text-align: center;
	font-size: 0;
	li {
		margin-bottom: 30px;
	}
	strong {
		display: block;
		margin-bottom: 8px;
		font-size: 13px;
		font-weight: normal;		
	}
	span, em {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		padding: 0 15px;
		font-size: 11px;
	}
	em, i {
		height: 5px;
	}
	em {
		width: 200px;
		background: #72c7ff;
		@include background-image(linear-gradient(#72c7ff 0%, #1f9df1 50%, #3b6ab7 100%));		
	}
	i {
		display: block;
		background: #ff5959;
		@include background-image(linear-gradient(#ff5959 0%, #f11f1f 50%, #b50d0e 100%));			
	}
}
//tabs
.tabs {
	height: 39px;
	margin-bottom: 20px;
	border-bottom: 1px solid $border;
	.social {
		float: right;
		margin-top: 9px;
		border: none;
	}
}
.tabs__list {
	float: left;
	padding-left: 3px;
	li {
		float: left;
		margin-right: 34px;		
	}
	a {
		display: block; 
		padding: 13px 0;
		font-size: 13px;
		color: $blue;
		&:hover {
			text-decoration: none;
		}  
		&.active {
			padding: 13px 0 12px 0;				
			border-bottom: 2px solid #0a94e3;
			color: #000;	
		}
		&.disabled {
			color: #b4b4b4;
		}
	}
}
//online-players
.online-players {
	position: relative;
	margin-bottom: 20px;
	border: 1px solid $border;
	.list {
		padding-top: 10px;
		overflow: hidden;
		ul {
			float: left;
			width: 250px;
		}
		li {
			position: relative;
			padding: 14px 16px;
			border-top: 1px solid $border;
			overflow: hidden;
			&:first-child {
				border: none;
			}
		}
	}
	.list__first {
		margin-left: 70px;
		.player__name {
			text-align: right;
		}
		.player__detail {
			strong, span {		
				float: right;
				margin-left: 10px;
			}	
		}
		.player__pic {
			float: right;
			margin-left: 11px;
		}
		.ico-change-in, .ico-change-out {
			right: 0;
		}
	}
	.list__second {
		margin-left: 50px;
		.player__name {
			text-align: left;
		}
		.player__detail {
			strong, span {		
				float: left;
				margin-right: 10px;
			}	
		}
		.player__pic {
			float: left;
			margin-right: 11px;
		}
		.ico-change-in, .ico-change-out {
			left: 0;
		}
	}
	.player__pic {
		img {
			display: block;
		}
	}
	.player__name, .player__detail {
		font-size: 13px;
		text-align: right;
		overflow: hidden;
	}
	.player__name {
		margin-bottom: 7px;
		a {
			color: #4e4e4e;
		}
	}
	.player__detail {	
		strong, span {
			height: 14px;
			line-height: 14px;
		} 
		span {
			font-size: 10px;
			color: #999;
		}
		strong {
			font-weight: normal;
			color: #676767;
			i {
				margin-top: 3px;
			}
		}
		i {
			float: left;
			margin-right: 5px;
		}
	}
	.ico-change-in, .ico-change-out {
		position: absolute;
		top: 27px;
	}
}
.online-players_after {
	border: none;
}
.online-players__title {
	padding: 25px 0 5px 0;
	font-size: 15px;
	text-align: center;
	color: #000;
}
//aside-players
.aside-players {
	display: none;
	position: relative;
	margin-bottom: 20px;
	padding: 0 3px;
	border: 1px solid #ececec;
	.title {
		padding: 10px 0 10px 9px;
		border-bottom: 2px solid #47b8ff;
	}
}
.aside-players__nav {
	padding: 15px 10px 5px 10px;
	button {
		background: none;
		font-weight: normal;
		border-bottom: 1px dashed #c4d2e9;
		color: $blue;
		font-size: 12px;		
		&.active {			
			font-weight: bold;			
			border: none;
			color: #000;
			cursor: default;
		}
	}
}
.aside-players__title {
	height: 6px;
	margin: 15px 10px 15px 10px;
	border-bottom: 1px dotted #c6d0dc;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	span {
		padding: 0 5px;
		background: #FFF;
	}
}
.aside-players__team {
	display: none;
}
.aside-players__list {
	padding: 0 10px;
	li {
		padding-bottom: 10px;
		font-size: 11px;
		overflow: hidden;
	}
	a {
		float: left;
		color: #373737;
		&:hover {
			text-decoration: underline;
		}
	}
	span, i {
		float: right;		
	}
	span {
		width:30px;
		min-height: 1px;
		text-align: right;
		color: #7e7e7e;
	}
}
.aside-players__change-in {
	padding-top: 3px;
}
.aside-players__change-out {
	padding-bottom: 13px;
}
//online-info
.online-info {
	margin-bottom: 20px;
	overflow: hidden;
	ul {
		float: left;
		width: 50%;
	}
	li {
		position: relative;
		margin-bottom: 10px;
	}
	i {
		position: absolute;
		top: 0;
	}
}
.online-info__team-1 {
	li {
		padding-right: 40px;
		text-align: right;
	}
	i {
		right: 20px;
	}
}
.online-info__team-2 {
	li {
		padding-left: 40px;
		text-align: left;
	}
	i {
		left: 20px;
	}
}
//online-type
.online-type {
	position: relative;
	height: 28px;
	margin-bottom: 20px;
	padding: 7px 10px 8px 10px;
	border: 1px solid $border;
	&:after {
		content: " ";
		position: absolute;
		bottom: -3px;
		left: 4px;
		right: 4px;
		height: 2px;
		background: $border;
	}
	.pari-match {
		float: right;
		margin: 2px 0 0 0;
	}
}
.online-type_mod {
	margin: 0;
}
.online-type__ether, .online-type__audio {
	position: relative;
	float: left;
	height: 28px;
	margin-right: 33px;
	line-height: 28px;
	font-size: 13px;
	font-weight: bold;
	i {
		position: absolute;
		left: 0;
	}
}
.online-type__ether {
	padding-left: 45px;
	i {
		top: 0;
		@include sized-sprite($icons, online-ether);
	}
}
.online-type__audio {
	padding-left: 45px;
	i {
		top: -2px;
		@include sized-sprite($icons, online-audio);
	}
}
//online-events
.online-events {
	margin-bottom: 70px;
	table {
		width: 100%;
	}	
	tr {
		border-top: 1px dotted #c6d0dc;
		&:first-child {
			border: none;
		}
	}
	td {
		padding: 15px 10px;
		vertical-align: top;
		line-height: 1.5;
	}
	i {
		margin-top: 3px;
	}
	.more {
		padding: 5px 0 2px 0;
		button {
			float: left;
		}
		i {
			margin: 0;
		}
	}
}
//other-matches & match-statistics
.other-matches, .match-statistics, .last-comms {
	padding: 0 3px 10px;
	border: 1px solid $border;
	.title {
		padding: 10px 0 10px 9px;
		border-bottom: 2px solid #ff5b01;
	}
	table {
		width: 100%;		
	}
	tr {
		border-top: 1px dotted #c6d0dc;
		&:first-child {
			border: none;
		}
	}
	td {
		padding: 10px 0;
		vertical-align: top;
		line-height: 1.2;
		&:first-child {
			width: 25px;
			padding: 10px 5px;
			text-align: center;
		}
	}
	.play__desc {
		padding: 10px 0;
		background: #f7f7f7;
	}
	.play__team-1, .play__team-2 {
		width: 34%;
		margin: 0 4%;
		padding: 2px 0;
	}
	.play__result {
		width: 16%;
	}
} 
.other-matches, .last-comms {
	position: relative;
	margin-bottom: 50px;
	.navi {
		width: 150px;
		left: 10px;
		bottom: -22px;
	}
	.arrs-nav {
		right: 10px;
		bottom: -27px;
	}		
.other-matches
	td {
		padding: 10px 0;
		vertical-align: top;
		line-height: 1.2;
		&:first-child {
			width: 25px;
			padding: 10px 5px;
			text-align: center;
		}
	}	
}
.match-statistics {
	margin-bottom: 20px;
	td {
		padding: 10px;
		text-align: center;
	}
}
.last-comms {
	li {
		padding: 5px 3px;
		line-height: 1.2;
	}
	p {
		margin-bottom: 3px;
		font-size: 11px;		
	}
}
.last-comms__title {
	margin-bottom: 3px;
	font-weight: bold;
}
.last-comms__detail {
	margin-bottom: 3px;
	span {
		color: #8a919d;
	}
	strong {
		font-weight: normal;
		margin: 0 5px;
	}
}
//athlete
.athlete {
	position: relative;
	padding-bottom: 30px;		
	margin-bottom: 25px;
	@include shadow;
	overflow: hidden;
	&:after {
		bottom: 48px;
		@include box-shadow(#93a9ba 0 15px 10px);
	}
	.arrs-nav {
		bottom: 0;
		left: 0;
		z-index: 5;
	}
}
.athlete__slider {
	position: relative;
	padding-bottom: 30px;
	background: #f1f8fe;
	z-index: 10;
	li {
		float: left;
		width: 144px;
		padding: 10px;		
	}
	img {
		padding-bottom: 10px;
	}
	p {
		padding-top: 10px;
		font-size: 11px;
		color: #000;
	}
	a {
		color: #3b6ab7;
		&:hover {
			text-decoration: underline;
		}
	}
	span {
		color: #7e7e7e;
	}
	i {
		display: inline-block;
		margin-left: 6px;
	}
}
.athlete__name {
	font-weight: bold;	
}
//page 404
.p404 {
	width: 987px;
	margin: 0 auto;
}
.p404_header {
	position: relative;
	height: 150px;
	margin-bottom: 15px;
	.logo {
		top: 38px;
		left: 0;
		a {
			@include sized-sprite($icons, logo_p404);		
		}		
	}
}
.p404__title {
	padding: 55px 0 0 220px;
	strong {
		font-size: 18px;
	}
	p {
		margin-top: 8px;
		font-size: 13px;
	}
}
.p404__tv {
	position: relative;
	padding-bottom: 80px;
	font-size: 0;
	text-align: center;
	overflow: hidden;
}
.tv {
	position: relative;
	display: inline-block;
	padding: 13px;
	background: #434343;
	@include background-image(linear-gradient(#434343, #303030));
	border-top: 1px solid #7f7f7f;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50px;
		right: 50px;
		height: 10px;
		border-radius: 45px;
		box-shadow: 0 0 70px 20px rgba(0,0,0,.8);
		z-index: -1;
	}
	img {
		display: block;
		border-top: 1px solid #1d1d1d;
		border-bottom: 1px solid #585858;
	}
}
.tv__empty {
	width: 640px;
	height: 390px;
	background: #2d2d2d;
	@include background-image(linear-gradient(#2d2d2d, #202020));
	border-top: 1px solid #1d1d1d;
	border-bottom: 1px solid #585858;
}
.tv__shine {
	position: absolute;
	top: -120px;
	right: -120px;
	width: 350px;
	height: 400px;
	@include background-image(linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,0)));
	   -moz-transform: rotate(-20deg);
	     -o-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	    -ms-transform: rotate(-10deg);
	        transform: rotate(-20deg)
}

.tagslist{
	padding-top: 20px;
	.h1{
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
		color: #000000;
		text-decoration: none;
		.taglist__change{
			color: #7F7F7F;
			border-bottom: 1px dotted #7F7F7F;
			text-decoration: none;
			display: inline-block;
			cursor: pointer;
			vertical-align: baseline;
			position: relative;
		}
		.tagsearch{
			//display: block;
			position: absolute;
			top: -10px;
			right: -150px;
		}
	}
}
.hentry{
	padding: 15px 0;
	overflow: hidden;
	border-bottom: 1px dotted #C7D0DB;
	.hentry__content{
		overflow: hidden;
	}
	.hentry__pic{
		float: left;
		margin-right: 14px;
	}
	.hentry__title{
		font-size: 18px;
		font-weight: bold;
		color: #3E6EB3;
		margin-bottom: 3px;
		line-height: 1.3;
		a{
			color: #3E6EB3;
			text-decoration: none;
			
		}
	}
	.hentry__meta{
		font-size: 10px;
		color: #999;
		margin: 5px 0;
		.hentry__published{
			text-decoration: none;
			color: #999;
			display: inline-block;
			vertical-align: middle;
		}
		.hentry__categ{
			display: inline-block;
			color: #999;
			text-decoration: none;
			vertical-align: middle;
		}
		a.hentry__categ:hover{
			text-decoration: underline;
		}
		.hentry__sep{
			position: relative;
			margin: 0 5px;
			display: inline-block;
			width: 3px;
			height: 3px;
			background: #B7BEC8;
			vertical-align: middle;
		}
	}
	.hentry__summary{
		font-size: 13px;
		color: #4a4a4a;
		line-height: 1.4;
	}
}


.field-link {
	display: block;
	margin-bottom: 21px;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	background: rgba(0,0,0,.7);
}
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
	width: 640px;
	margin: auto;
	background: #fff;
	@include box-shadow(0 4px 20px rgba(0,0,0,.33));
	&.is-active {
		display: table;
	}
}
.popup__in {
	position: relative;
	padding: 20px;
}
.popup__close {
	position: absolute;
	top: 5px;
	right: 5px;
	@include sized-sprite($icons, close);
	&:hover {
		@include opacity(.7);
	}
	&:active {
		top: 6px;
	}
}
.field-wrap {
	@include box-sizing(border-box);
	width: 600px;
	height: 465px;
	background: url(../img/field-bg.png) 0 0 repeat;
	padding: 17px;
}
.field {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	background: url(../img/field.jpg) 0 0 no-repeat;
	td {
		width: 77px;
		font-weight: bold;
		color: #051300;
		height: 53px;
		text-align: center;
		vertical-align: middle;
		background: rgba(0,0,0,.29);
		font-size: 20px;
		text-shadow: 0 1px 0 rgba(132,211,136,.58);
		border-top: 1px solid rgba(255,255,255,.1);
		border-left: 1px solid rgba(255,255,255,.1);
		@include box-shadow(inset -1px -1px 0 rgba(0,0,0,.1));
	}
	.is-small {
		width: 42px;
	}
	.is-active {
		background: transparent;
	}
}
.field_view {
	td {
		background: transparent;	
	}
}
.pseudo-link {
	color: #009a00;
	border-bottom: 1px dotted;
	cursor: pointer;
	@include unselectable();
}
.tooltip {
	position: absolute;
	right: auto;
	bottom: auto;
	&:after {
		content: "";
		position: absolute;
		bottom: -52px;
		right: 190px;
		@include sized-sprite($icons, arr20);
	}
}
.tooltip_field {
	height: 505px;
}  
.popup_field {
	.field-wrap {
		background: url(../img/field-bg-light.png) 0 0 repeat;
	}
}