@import "base";
/*cols*/
.cols {
	padding: 0 20px;
	overflow: hidden;	
}
.cols_no-pad {
	position: relative;
	padding: 0;
	overflow: visible;
	.col-5 {
		padding-bottom: 200px;
	}
}
.col-1 {
	float: left;
	width: 690px; 
}
.col-2 {
	float: right;
	width: 240px;
}
.col-3 {
	float: left;
	width: 380px;
}
.col-4 {
	float: right;
	width: 287px;
}
.col-5 {
	float: left;
	width: 164px;
}
.col-6 {
	float: right;
	width: 500px;
	overflow: hidden;
}


.is-branded{
	background: #000 url(http://rg.sport.ua/images/rg/sport_bg.png) no-repeat 50% 0;
	.sitebg{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
	}
	.wrap{
		margin-top: 203px;
	}
}

