@import "compass/css3";
@import "base";
//main
.main-block {
	overflow: hidden;
}
//main-post
.main-post {
	margin-bottom: 0px;
	.meta {
		margin-bottom: 10px;
	}
	p {
		line-height: 1.3;
	}
}
.main-post__title {
	margin: 15px 0 7px 0;
	a {
		font-size: 18px;
		font-weight: bold;
		color: #3b6ab7;
		&:hover {
			color: #ED3C0C;
			text-decoration: underline;
		}
	}		
	i {
		margin: 0 0 1px 5px;		
	}
} 
//main-news
.main-news {
	position: relative;
	width: 287px;
	margin-bottom: 0px;
	.title {
		padding: 0 0 8px 0;
		margin-bottom: 10px;
		border-bottom: 2px solid #ff5b01;
	}
	ul {
		max-height: 380px;
		overflow: hidden;
	}
	li {
		float: left;
		width: 287px;
	}
	.arrs-nav {
		right: 0;
		top: 0px;		
		z-index: 10;
	}	
	.navi {
		top: 8px;
		width: 100%;
		font-size: 0;
		text-align: center;
		button {
			float: none;
			margin: 0 5px;
		}
	}
}
.main-news__item {
	overflow: hidden;
	margin-bottom: 6px;
	padding-bottom: 6px;
	border-bottom: 1px dotted #c6d0dc;
	img {
		float: left;
		margin-right: 10px;
	}		
	p {
		margin-top: 2px;
		font-size: 11px;		
		color: #4a4a4a;
		line-height: 1.3;
	}
	.meta {
		padding: 3px 0;
	}
}
.main-news__title {
	font-size: 12px;
	font-weight: bold;
	color: #3b6ab7;
	line-height: 1.3;
	&:hover {
		color: #ED3C0C;
		text-decoration: underline;
	}
}
//result
.result {
	font-family: Verdana, Tahoma, sans-serif;
	.title {
		border-bottom: 2px solid #a5a5a5;
	}
}
.result__title {
	position: relative;
	padding: 11px 0 11px 9px;
	background: #f9f9f9;
	@include background-image(linear-gradient(#f9f9f9, #e6e6e6));
	border-bottom: 1px solid #bbb;
	strong, span {
		display: block;
		font-family: Verdana, Tahoma, sans-serif;
	}
	strong {
		font-size: 12px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	span {
		font-size: 10px;
		color: #767676;
	}
	button {
		position: absolute;
		top: 50%;
		height: 18px;
		margin-top: -9px;
	}
	.active {
		i {
			@include sized-sprite($icons, minus);
		}		
		&:hover {
			i {
				@include sized-sprite($icons, minus1);
			}
		}
		&:active {
			i {
				@include sized-sprite($icons, minus2);
			}
		}
	}
}
.result__title, .play-group {
	.btn-orange {		
		right: 32px;
		padding: 0 8px;		
	}	
}
.result__nav {
	height: 25px;
	padding-left: 8px;
	line-height: 25px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bbb;
	background: #ededed;
	@include background-image(linear-gradient(#ededed, #e7e7e7));
	font-family: Verdana,Tahoma,sans-serif;
	font-size: 10px;
	a, span {
		float: left;
		margin-right: 8px;
	}
	a {
		color: #686868;
		&:hover {
			color: #000;
			text-decoration: underline;
		}
	}
	span {
		color: #c9c9c9;
	}	
}
/*photo report*/
.photo-report {
	position: relative;
	margin: 30px 0;
	padding-bottom: 30px;
	overflow: hidden;
	.title {
		border-bottom: 2px solid #fbd10d;
		margin-bottom: 15px;
	}
	.navi {
		position: absolute;
		left: 70px;
	}
	.arrs-nav {
		left: 0;
		bottom: 0;
	}
}
.photo-report__slider {
	position: relative;
	width: 380px;
	font-size: 0;
	ul {
		float: left;
		width: 410px;
	}
	li {
		display: inline-block;
		width: 180px;
		margin: 0 20px 20px 0;
	}
	a {
		font-family: Verdana, Arial, sans-serif;
		font-weight: bold;
		color: #3b6ab7;
		font-size: 12px;
		line-height: 1.3;
		&:hover {
			color: #ed3c0c;
			text-decoration: underline;
		}
	}
}
.photo-report__pic {
	position: relative;
	margin-bottom: 3px;
}
/*pop-news*/
.pop-news {
	margin-top: 40px;	
	.meta {
		padding: 5px 0;
	}
	.title {
		margin-bottom: 20px;
		border-bottom: 2px solid #ff5b01;
	}
	li {
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px dotted #c6d0dc;
		overflow: hidden;
		img {
			float: left;
			margin-right: 20px;
		}
		p {
			margin: 0 0 3px 0;
			font-size: 11px;
			color: #4a4a4a;
			line-height: 1.2;
		}		
		&:first-child {
			margin: 0;
			padding: 0;
			border: none;
		}
	}
}
.pop-news__title {
	font-weight: bold;
	color: #3b6ab7;
	font-size: 12px;
	&:hover {
		color: #ED3C0C;
		text-decoration: underline;
	}
}
.pop-news__date {
	a {
		font-size: 10px;
		color: #999;
	}
	span {
		color: #8a919d;
	}
	em {
		margin: 0 5px;
		font-style: normal;
		color: #b7bec9;
	}
}
/*all news*/
.all-news {
	margin-bottom: 50px;
	.title {
		border-bottom: 2px solid #fbd10d;
	}	
}
.all-news__detail {
	position: relative;
	height: 38px;
	border-bottom: 1px solid #eee;
	@include clr;
	z-index: 20;
}
.all-news__service {
	float: right;
	margin-top: 13px;
	li {
		float: left;
		margin-right: 10px;
		a {
			display: block;
		}
		.all-news__rss {
			@include sized-sprite($icons, rss1);
			&:hover {
				@include sized-sprite($icons, rss2);
			}
			&:active{
				@include sized-sprite($icons, rss3);
			}	
		}
		.all-news__tw {
			@include sized-sprite($icons, tw1);
			&:hover {
				@include sized-sprite($icons, tw2);
			}
			&:active{
				@include sized-sprite($icons, tw3);
			}	
		}
		.all-news__mail {
			@include sized-sprite($icons, mail1);
			&:hover {
				@include sized-sprite($icons, mail2);
			}
			&:active{
				@include sized-sprite($icons, mail3);
			}	
		}
		&:last-child {
			margin-right: 0px;
		}
	}
}
.all-news__list, .sport-news__list {
	position: relative;
	z-index: 10;
	.comm-link {
		margin-left: 10px;
		color: #2ea90d;
	}
	li {		
		position: relative;		
		border-top: 1px dotted #c6d0dc;		
		line-height: 1.3;
		font-size: 13px;
		color: #999;	
		&:first-child {
			border: none;
		}
		strong {
			font-weight: normal;
		}
	}
}
.all-news__list {	
	li {
		padding: 6px 0 6px 35px;
		&:hover {
			background: #fffce5;
			.cat-link {
				a {
					color: #000;
				}			
			}			
		}		
	}
}
.all-news__title {
	color: #999;
	&:visited {
		color: #7c889a;
	}	
	&:link {
		color: #3b6ab7;
	}				
	&:hover {
		color: #ed3c0c;
		text-decoration: underline;
	}
}
.sport-news__list {
	padding: 5px 7px 0 7px;
	li {
		padding: 6px 0 6px 35px;
	}
}
.all-news__time, .sport-news__time {
	position: absolute;
	top: 10px;
	left: 2px;
	font-size: 10px;
	color: #8a919d;
}
.sport-news__time {
	top: 6px;
}
/*best blog*/
.best-blog {
	margin-bottom: 15px;
	.title {
		border-bottom: 2px solid #fbd10d;
	}
}
.best-blog__title {
	margin-top: 20px;
	a {
		font-size: 15px;
		color: #3b6ab7;
		font-weight: bold;	
		&:hover {
			color: #ED3C0C;
			text-decoration: underline;
		}
		&:first-child {
			display: block;
			margin-bottom: 7px;
			font-size: 11px;
			font-weight: bold;
			color: #646e87;
		}
	}
	img {
		margin-top: 10px;
		border-bottom: 1px dotted #c6d0dc;
	}
}
.best-blog__user {
	margin-top: 6px;
	overflow: hidden;
	img {
		float: left;
		margin-right: 8px;
	}
	a {
		font-size: 11px;
		color: #3b6ab7;
	}
	span {
		margin-top: 2px;
		font-size: 10px;
		display: block;
		color: #999;
	}	
}
.best-blog__desc {
	margin-top: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #f0f0f0;
	p {
		margin-bottom: 10px;
		font-size: 11px;
		color: #4a4a4a;
		line-height: 1.3;
	}
	a {
		font-size: 11px;
		color: #3b6ab7;
	}
}
.best-blog__deatail {
	padding-top: 15px;
	.link-comm {
		float: left;
		font-weight: normal;
		color: #000;
		i {
			top: 1px;
		}
		span {
			margin-left: 5px;
			color: #2EA90D;
		}
	}
	.link-star, .link-share {
		float: left;
		margin-left: 35px;		
	}
	.link-star {
		i {
			top: 0;
		}
	}
}
.best-blog__zoom {
	position: relative;
	float: right;
	margin-top: -3px;
	width: 62px;
	em {
		position: absolute;
		top: 9px;
		left: 20px;
		width: 22px;
		height: 1px;
		background: #e0e0e0;
	}
	span {
		position: relative;
		display: block;
		width: 17px;
		height: 17px;
		border: 1px solid #e0e0e0;
		@include border-radius(3px);
		cursor: pointer;
		i {
			position: absolute;
			top: 4px;
			left: 4px;
		}
	}
	.best-blog__minus {
		float: left;
		i {
			@include sized-sprite($icons, minus3);
		}
	}
	.best-blog__plus {
		float: right;
		i {
			@include sized-sprite($icons, plus3);
		}
	}
}
/*main videos*/
.main-videos {
	margin-bottom: 30px;
	background: #eff3fd;
}
.main-videos__item {
	padding: 0 12px 17px 12px;
	border-bottom: 1px solid #e0e5f4;
	border-top: 1px solid #fff;
	.title {
		height: 40px;
		line-height: 40px;
	}
	a {
		font-size: 13px;
		color: #3b6ab7;
		font-weight: bold;
		line-height: 1.3;
		&:hover {
			text-decoration: underline;
		}
	}
}
.main-videos__play {
	position: relative;
	margin-bottom: 5px;
	cursor: pointer;
	img {
		display: block;
	}
	em, i {
		position: absolute;
	}
	em {
		top: 50%;
		left: 50%;
		margin: -32px 0 0 -32px;
		@include sized-sprite($icons, play);
	}
	i {
		left: 0;
		bottom: 0;
		@include sized-sprite($icons, video1);
	}
}
.main-videos__list {
	margin-top: -1px;
	padding: 0 12px;
	li {
		padding: 15px 0;
		border-top: 1px dotted #b8c4e3;
		overflow: hidden;
		.main-videos__play {
			float: left;
			margin-right: 12px;
		}
		a {
			font-size: 11px;
			color: #3b6ab7;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
/*webinar*/
.webinar-out {
	position: relative;
	@include shadow;
}
.webinar {
	position: relative;
	width: 260px;
	margin-bottom: 40px;
	background: #fff3a8;
	z-index: 10;
	.title {
		height: 40px;
		line-height: 40px;
		padding-left: 12px;
		border-bottom: 1px solid #ff5a00;
	}	
}	
.webinar__desc {	
	padding: 15px 10px 35px 10px;
	overflow: hidden;
	img {
		display: block;
	}
	i, p {
		font-size: 11px;
	}
	i {
		display: block;
		margin-bottom: 8px;	
		font-weight: bold;	
	}
	a {
		font-size: 12px;
		color: #3b6ab7;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		margin-top: 8px;
	}
}
.webinar__pic {
	float: left;
	margin-right: 14px;
	@include border-radius(40px);
	overflow: hidden;
}
/*partners*/
.partners {
	position: relative;
	padding: 20px 0 10px 12px;
	border: 1px solid #e0e0e0;
	.title {
		position: absolute;
		top: -10px;
		left: 12px;
		height: auto;
		line-height: 1;
		padding: 0 7px;
		background: #fff;
	}
	ul {
		overflow: hidden;		
	}
	li {
		float: left;
		width: 33%;
		min-height: 60px;
		margin-bottom: 10px;
		text-align: center;
	}
	img {
		vertical-align: middle;
	}
}
//m-blogs
.m-blogs {
	background: #eff3fe;
	margin-bottom: 20px;
	.title {
		padding: 20px 12px;
		border-bottom: 2px solid #ff5b01;
	}
	.arrs-nav {
		top: 17px;
		right: 12px;
	}
}
.m-blogs__list {
	ul {
		width: 216px;
		padding: 0 12px;
	}	
	li {
		position: relative;
		padding: 15px 0 15px 85px;
		min-height: 60px;
		border-top: 1px dotted #b6c4df;
		&:first-child {
			border: none;
		}
	}
	a {
		font-weight: bold;
		color: $blue;
	}
	img {
		position: absolute;
		top: 15px;
		left: 0;
		border-radius: 50%;
	}
	.meta {
		padding: 10px 0;
	}
	.meta__comm {
		margin-left: 0;
		a {
			color: #2EA90D;
		}
	}
}
