.ltie8 {
	.photo-report__item {
		li {
			display: inline;
			zoom: 1;
		}
	}
}
.ie8 {
	.live {
		button {
			i {
				margin-top: -7px;
			}
		}
	}
	.open {
		i {
			margin-top: -13px;
		}
	}
	.play__open {
		button {
			i {
				margin-top: -13px;
			}
		}
	}
}



